{{>header}}

<div role="main" class="main">
    <div class="home-intro home" id="home-intro">
        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <p>
                        ระบบสารสนเทศเพื่อการบริหารจัดการ <b class="blue">การระบายข้าว</b>
                        <span>กองบริหารการค้าข้าว กรมการค้าต่างประเทศ</span>

                        <span>Information Management System for Rice.</span>
                    </p>
                </div>
                <div class="col-md-4">
                    <!--<div class="get-started">
                        <h6 class="short word-rotator-title">
                            ปริมาณข้าวคงเหลือ
                            <strong class="inverted">
                                <span class="word-rotate active" data-plugin-options='{"delay": 2000, "animDelay": 1000}'>
                                    <span id="inventory1" class="word-rotate-items" style="width: 69px; top: 0px;">
                                    </span>
                                </span>
                            </strong>
                            ตัน
                        </h6>
                        <h6 class="short word-rotator-title">
                            คัดกรองตามเกณฑ์มาตรฐาน
                            <strong class="inverted">
                                <span class="word-rotate active" data-plugin-options='{"delay": 2000, "animDelay": 1000}'>
                                    <span id="inventory2" class="word-rotate-items" style="min-width: 69px; top: 0px;">
                                    </span>
                                </span>
                            </strong>
                            ตัน
                        </h6>
                    </div>-->
                </div>

            </div>
            <hr class="tall dashboard">
        </div>

    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6">
                        <h3>สินค้าคงคลัง</h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="customNavigation">
                            <a class="btn prev"><i class="fa fa-step-backward"></i></a>
                            <a class="btn next"><i class="fa fa-step-forward"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="owl" class="owl-carousel manual">
                        <div class="col-md-12">
                            <section class="panel panel-featured panel-featured-info">
                                <div class="panel-body">
                                    <div id="typeChart" style="width: 90%; height: 400px; margin: 0 auto;"></div>
                                    <table id="type" class="table table-bordered table-striped table-condensed mb-none">
                                        <thead>
                                        <tr>
                                            <th class="text-center col-md-5">ชนิดข้าว</th>
                                            <th class="text-center col-md-5">จำนวนคงเหลือ (ตัน)</th>
                                            <th class="text-center col-md-2">ร้อยละ (%)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="text-right">
                                            <td colspan="3" class="text-center">-</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-12">
                            <section class="panel panel-featured panel-featured-info">
                                <div class="panel-body">
                                    <div id="projectChart" style="width: 90%; height: 400px; margin: 0 auto;"></div>
                                    <table id="project" class="table table-bordered table-striped table-condensed mb-none">
                                        <thead>
                                        <tr>
                                            <th class="text-center col-md-5">ปีโครงการ</th>
                                            <th class="text-center col-md-5">จำนวนคงเหลือ (ตัน)</th>
                                            <th class="text-center col-md-2">ร้อยละ (%)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="text-right">
                                            <td colspan="2" class="text-center">-</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                        <div style="width: 100%;">
                            <section class="panel panel-featured panel-featured-info">
                                <div class="panel-body">
                                    <div id="gradeChart" style="width: 90%; height: 400px; margin: 0 auto;"></div>
                                    <table id="grade" class="table table-bordered table-striped table-condensed mb-none">
                                        <thead>
                                        <tr>
                                            <th class="text-center col-md-5">เกรด</th>
                                            <th class="text-center col-md-5">จำนวนคงเหลือ (ตัน)</th>
                                            <th class="text-center col-md-2">ร้อยละ (%)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="text-right">
                                            <td colspan="2" class="text-center">-</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div><!-- col-md-3 -->

            <div class="col-md-5">
                <div class="col-md-12">
                    <h3>ผลการประมูลครั้งล่าสุด</h3>
                    <section class="panel panel-featured panel-featured-info" style="max-height: 450px; overflow-y: auto;">
                        <div class="panel-body">
                            <div id="auction">
                            </div>
                        </div>
                    </section>
                </div>

                <hr class="tall dashboard">

                <div class="col-md-12">
                    <h3>ปริมาณข้าวที่สำรองไว้</h3>
                    <section class="panel panel-featured panel-featured-info" style="max-height: 450px; overflow-y: auto;">
                        <div class="panel-body">
                            <div id="reserve">
                            </div>
                        </div>
                    </section>
                </div>

                <hr class="tall dashboard">

                <!--<div class="col-md-12">
                    <h3>ราคาข้าว</h3>
                    <section class="panel panel-featured panel-featured-info">
                        <div class="panel-body">
                            <div id="price" class="owl-carousel manual">
                            </div>
                        </div>
                    </section>
                </div>-->
            </div>
        </div>
    </div>
</div>

{{>footer}}

<script type="text/javascript">
    var js_context_path = "{{_context_path}}";
</script>
<script src="{{_context_path}}/views/home.js"></script>





