/th.go.dft.rice.report/nbproject/
/th.go.dft.rice.report/build/
/th.go.dft.rice.report/dist/
/th.go.dft.rice.report/logs/
/ricedb4/vendor/
/ricedb4/logs/
/ricedb4/excel/p2/
/ricedb4/nbproject/
/ricedb4/phpexcel_bkk/
/ricedb4/public/upload/