{{>header}}
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">{{#i18n}}warehouse.home{{/i18n}}</a></li>
                        <li class="active">{{#i18n}}warehouse.menu{{/i18n}} </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}warehouse.inventory.title{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="container">
        <div class="row">
            <div class="col-ms-12">
                <div class="col-md-4 col-md-offset-8">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default" role="button"><i class="fa fa-file-pdf-o"></i> PDF</a>
                        <a class="btn btn-default" role="button"><i class="fa fa-file-word-o"></i> Word</a>
                        <a class="btn btn-default" role="button"><i class="fa fa-file-text-o"></i> CSV</a>
                        <a class="btn btn-default" role="button"><i class="fa fa-file-excel-o"></i> Excel</a>
                        <a class="btn btn-default" role="button"><i class="fa fa-print"></i> Print</a>
                    </div>
                </div>
            </div>
            <div class="col-ms-12">
                <div class="tabs">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#project" data-toggle="tab">{{#i18n}}warehouse.project{{/i18n}}</a>
                        </li>
                        <li>
                            <a href="#province" data-toggle="tab">{{#i18n}}warehouse.province{{/i18n}}</a>
                        </li>
                        <li>
                            <a href="#type" data-toggle="tab">{{#i18n}}warehouse.type{{/i18n}}</a>
                        </li>
                        <li>
                            <a href="#grade" data-toggle="tab">{{#i18n}}warehouse.grade{{/i18n}}</a>
                        </li>
                        <li>
                            <a href="#silo" data-toggle="tab">{{#i18n}}warehouse.silo{{/i18n}}</a>
                        </li>
                        <li>
                            <a href="#search" data-toggle="tab">{{#i18n}}warehouse.search{{/i18n}}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="project" class="tab-pane active">                            
                            <table class="table table-bordered table-striped table-condensed mb-none">
                                <thead>
                                    <tr>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.project{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.balance{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}})</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.meanPrice{{/i18n}} / {{#i18n}}warehouse.ton{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.value{{/i18n}} ({{#i18n}}warehouse.bath{{/i18n}})</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="4" class="text-center">-</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-center text-bold">{{#i18n}}warehouse.total{{/i18n}}</td>
                                        <td class="text-right text-bold">-</td>
                                        <td class="text-right text-bold">-</td>
                                        <td class="text-right text-bold">-</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div id="province" class="tab-pane">                            
                            <table class="table table-bordered table-striped table-condensed mb-none">
                                <thead>
                                    <tr>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.province{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.balance{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}})</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.meanPrice{{/i18n}} / {{#i18n}}warehouse.ton{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.value{{/i18n}} ({{#i18n}}warehouse.bath{{/i18n}})</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="4" class="text-center">-</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-center text-bold">{{#i18n}}warehouse.total{{/i18n}}</td>
                                        <td class="text-right text-bold">-</td>
                                        <td class="text-right text-bold">-</td>
                                        <td class="text-right text-bold">-</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div id="type" class="tab-pane">                            
                            <table class="table table-bordered table-striped table-condensed mb-none">
                                <thead>
                                    <tr>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.type{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.balance{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}})</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.meanPrice{{/i18n}} / {{#i18n}}warehouse.ton{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.value{{/i18n}} ({{#i18n}}warehouse.bath{{/i18n}})</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="4" class="text-center">-</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-center text-bold">{{#i18n}}warehouse.total{{/i18n}}</td>
                                        <td class="text-right text-bold">-</td>
                                        <td class="text-right text-bold">-</td>
                                        <td class="text-right text-bold">-</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div id="grade" class="tab-pane">                            
                            <table class="table table-bordered table-striped table-condensed mb-none">
                                <thead>
                                    <tr>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.grade{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.balance{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}})</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.meanPrice{{/i18n}} / {{#i18n}}warehouse.ton{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.value{{/i18n}} ({{#i18n}}warehouse.bath{{/i18n}})</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="4" class="text-center">-</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-center text-bold">{{#i18n}}warehouse.total{{/i18n}}</td>
                                        <td class="text-right text-bold">-</td>
                                        <td class="text-right text-bold">-</td>
                                        <td class="text-right text-bold">-</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div id="silo" class="tab-pane">                            
                            <table class="table table-bordered table-striped table-condensed mb-none">
                                <thead>
                                    <tr>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.silo{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.balance{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}})</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.meanPrice{{/i18n}} / {{#i18n}}warehouse.ton{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.value{{/i18n}} ({{#i18n}}warehouse.bath{{/i18n}})</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="4" class="text-center">-</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-center text-bold">{{#i18n}}warehouse.total{{/i18n}}</td>
                                        <td class="text-right text-bold">-</td>
                                        <td class="text-right text-bold">-</td>
                                        <td class="text-right text-bold">-</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div id="search" class="tab-pane">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label class="col-md-5 control-label" for="sProject">{{#i18n}}warehouse.project{{/i18n}} :</label>
                                        <div class="col-md-7">
                                            <select class="form-control lookup" name="sProject" id="sProject" data-call="lkProject"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="col-md-5 control-label" for="sProvince">{{#i18n}}warehouse.province{{/i18n}} :</label>
                                        <div class="col-md-7">
                                            <select class="form-control lookup" name="sProvince" id="sProvince" data-call="lkProvince"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="col-md-5 control-label" for="sType">{{#i18n}}warehouse.type{{/i18n}} :</label>
                                        <div class="col-md-7">
                                            <select class="form-control lookup" name="sType" id="sType" data-call="lkType"></select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="col-md-5 control-label" for="sGrade">{{#i18n}}warehouse.grade{{/i18n}} :</label>
                                        <div class="col-md-7">
                                            <select class="form-control lookup" name="sGrade" id="sGrade" data-call="lkGrade"></select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label class="col-md-5 control-label" for="sSilo">{{#i18n}}warehouse.silo{{/i18n}} :</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" name="sSilo" id="sSilo">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="col-md-5 control-label" for="sWarehouse">{{#i18n}}warehouse.warehouse{{/i18n}} :</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" name="sWarehouse" id="sWarehouse">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="col-md-5 control-label" for="sStack">{{#i18n}}warehouse.stack{{/i18n}} :</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" name="sStack" id="sStack">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <label class="col-md-5 control-label" for="sCode">{{#i18n}}warehouse.code{{/i18n}} :</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" name="sCode" id="sCode">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12" style="margin-top: 15px;"><!-- table shown file detail -->
                                    <table id="table" class="table table-hover table-bordered table-striped table-condensed mb-none">
                                        <thead>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.no{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.province{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.code{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.silo{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.associate{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.warehouse{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.stack{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.project{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.type{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.grade{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.weight{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}})</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="11" class="text-center">-</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div><!--  row  -->
    </div><!--  container  -->
</div><!-- main -->

{{>footer}}

<script type="text/javascript">
    var js_context_path = "{{_context_path}}";
</script>

<script src="{{_context_path}}/apps/warehouse/views/js/viewInventory.js"></script>