{{>header}}
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">{{#i18n}}warehouse.home{{/i18n}}</a></li>
                        <li class="active">{{#i18n}}warehouse.menu{{/i18n}} </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}warehouse.inventory.title{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="container">
        <div class="row">
            <div class="col-ms-12">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default" role="button"><i class="fa fa-file-pdf-o"></i> PDF</a>
                        <a class="btn btn-default" role="button"><i class="fa fa-file-text-o"></i> CSV</a>
                        <a class="btn btn-default" role="button"><i class="fa fa-file-excel-o"></i> Excel</a>
                        <a class="btn btn-default" role="button"><i class="fa fa-print"></i> Print</a>
                    </div>
                </div>
            </div>
            <div class="col-ms-12">
                <div class="tabs">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#project" data-toggle="tab">{{#i18n}}warehouse.project{{/i18n}}</a>
                        </li>
                        <li>
                            <a href="#province" data-toggle="tab">{{#i18n}}warehouse.province{{/i18n}}</a>
                        </li>
                        <li>
                            <a href="#type" data-toggle="tab">{{#i18n}}warehouse.type{{/i18n}}</a>
                        </li>
                        <li>
                            <a href="#grade" data-toggle="tab">{{#i18n}}warehouse.grade{{/i18n}}</a>
                        </li>
                        <li>
                            <a href="#silo" data-toggle="tab">{{#i18n}}warehouse.silo{{/i18n}}</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="project" class="tab-pane active">                            
                            <table class="table table-bordered table-striped table-condensed mb-none">
                                <thead>
                                    <tr>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.project{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.balance{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}})</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.meanPrice{{/i18n}} / {{#i18n}}warehouse.ton{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.value{{/i18n}} ({{#i18n}}warehouse.bath{{/i18n}})</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-right">
                                        <td colspan="4" class="text-center">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>         
                        <div id="province" class="tab-pane">                            
                            <table class="table table-bordered table-striped table-condensed mb-none">
                                <thead>
                                    <tr>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.province{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.balance{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}})</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.meanPrice{{/i18n}} / {{#i18n}}warehouse.ton{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.value{{/i18n}} ({{#i18n}}warehouse.bath{{/i18n}})</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="4" class="text-center">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>         
                        <div id="type" class="tab-pane">                            
                            <table class="table table-bordered table-striped table-condensed mb-none">
                                <thead>
                                    <tr>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.type{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.balance{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}})</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.meanPrice{{/i18n}} / {{#i18n}}warehouse.ton{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.value{{/i18n}} ({{#i18n}}warehouse.bath{{/i18n}})</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="4" class="text-center">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>   
                        <div id="grade" class="tab-pane">                            
                            <table class="table table-bordered table-striped table-condensed mb-none">
                                <thead>
                                    <tr>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.grade{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.balance{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}})</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.meanPrice{{/i18n}} / {{#i18n}}warehouse.ton{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.value{{/i18n}} ({{#i18n}}warehouse.bath{{/i18n}})</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="4" class="text-center">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>  
                        <div id="silo" class="tab-pane">                            
                            <table class="table table-bordered table-striped table-condensed mb-none">
                                <thead>
                                    <tr>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.silo{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.balance{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}})</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.meanPrice{{/i18n}} / {{#i18n}}warehouse.ton{{/i18n}}</th>
                                        <th class="text-center col-md-3">{{#i18n}}warehouse.value{{/i18n}} ({{#i18n}}warehouse.bath{{/i18n}})</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="4" class="text-center">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>   
                    </div>
                </div>
            </div>
        </div><!--  row  -->
    </div><!--  container  -->
</div><!-- main -->
{{>footer}}
<script type="text/javascript">
    $(function () {
        $('a[href="#project"]').click(function(){
            groupBy("project");
        }).trigger("click");

        $('a[href="#province"]').click(function(){
            groupBy("province");
        });

        $('a[href="#type"]').click(function(){
            groupBy("type");
        });

        $('a[href="#grade"]').click(function(){
            groupBy("grade");
        });

        $('a[href="#silo"]').click(function(){
            groupBy("silo");
        });
    });

    function groupBy(option){
        var dataSet = [];

        $("#"+option+" table tbody").html('<tr><td colspan="4" class="text-center">Loading...</td></tr>');

        setTimeout(function(){
            var datas = callAjax("{{_context_path}}/api/warehouse/viewInventory/"+option, "post", {}, "json");
            if (typeof datas !== "undefined" && datas !== null) {
                $.each(datas["lists"], function(key, value){
                    dataSet.push(value);
                });
            }

            var t = $("#"+option+" table").DataTable( {
                "destroy": true,
                "data": dataSet,
                "order": [[ 1, 'desc' ]],
                "columnDefs": [
                    {
                        "targets": 0,
                        "searchable": false,
                        "orderable": false,
                        "data": option,
                        "sClass": "text-left"
                    },
                    {
                        "targets": 1,
                        "data": "weight",
                        "sClass": "text-right",
                        "render": function(data){
                            var content = accounting.formatNumber(data, 6, ",", ".");

                            return content;
                        }
                    },
                    {
                        "targets": 2,
                        "data": "weight",
                        "sClass": "text-right",
                        "render": function(data){
                            var content = accounting.formatNumber(data, 2, ",", ".");

                            return content;
                        }
                    },
                    {
                        "targets": 3,
                        "data": "weight",
                        "sClass": "text-right",
                        "render": function(data){
                            var content = accounting.formatNumber(data, 2, ",", ".");

                            return content;
                        }
                    }
                ]
            });
        }, 100);
    }



</script>