{{>header}}
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">{{#i18n}}warehouse.home{{/i18n}}</a></li>
                        <li class="active">{{#i18n}}warehouse.menu{{/i18n}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}warehouse.info.title{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="sort-source-wrapper"><!-- button action on header -->
        <div class="container">
            <ul class="nav nav-pills sort-source menu-top pull-right" data-sort-id="portfolio" data-option-key="filter">
                <li class="active">
                    <button id="addToTable" class="btn btn-primary add"><i class="fa fa-plus-circle"></i> {{#i18n}}warehouse.buttonAdd{{/i18n}}</button>
                    <button id="showTable" class="btn btn-primary table" style="display: none;"><i class="fa fa-list-ul"></i> {{#i18n}}warehouse.buttonList{{/i18n}}</button>
                </li>
            </ul>
        </div>
    </div><!-- end button action on header -->

    <div class="container">
        <div class="row">
            <div id="infoTable">
                <div class="col-md-12" style="margin: 10px 0px;"><!-- bidder item form -->
                    <div class="col-md-3">
                        <label class="col-md-5 control-label text-right" for="sProject">{{#i18n}}warehouse.project{{/i18n}} :</label>
                        <div class="col-md-7">
                            <select class="form-control input-sm" name="sProject" id="sProject" data-call="listsProject" data-map="projectId">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="col-md-5 control-label text-right" for="sZone">{{#i18n}}warehouse.zone{{/i18n}} :</label>
                        <div class="col-md-7">
                            <select class="form-control input-sm" name="sZone" id="sZone" data-call="listsZone">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="col-md-5 control-label text-right" for="sProvince">{{#i18n}}warehouse.province{{/i18n}} :</label>
                        <div class="col-md-7">
                            <select class="form-control input-sm" name="sProvince" id="sProvince" data-call="listsProvince" data-map="provinceId">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="col-md-5 control-label text-right" for="sType">{{#i18n}}warehouse.type{{/i18n}} :</label>
                        <div class="col-md-7">
                            <select class="form-control input-sm" name="sType" id="sType" data-call="listsType" data-map="typeId">
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-md-12" style="margin: 10px 0px 20px 0px;"><!-- bidder item form -->
                    <div class="col-md-3">
                        <label class="col-md-5 control-label text-right" for="sGrade">{{#i18n}}warehouse.grade{{/i18n}} :</label>
                        <div class="col-md-7">
                            <select class="form-control input-sm" name="sGrade" id="sGrade" data-call="listsGrade" data-map="gradeId">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="col-md-5 control-label text-right" for="sStatus">{{#i18n}}warehouse.status{{/i18n}} :</label>
                        <div class="col-md-7">
                            <select class="form-control input-sm" name="sStatus" id="sStatus" data-call="listsStatus">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="col-md-5 control-label text-right" for="sSilo">{{#i18n}}warehouse.silo{{/i18n}} :</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" name="sSilo" id="sSilo">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="col-md-5 control-label text-right" for="sCode">{{#i18n}}warehouse.code{{/i18n}} :</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control input-sm" name="sCode" id="sCode">
                        </div>
                    </div>
                </div>
                <div id="bidderTable" class="col-md-12"><!-- table shown bidder information list -->
                    <table id="table" class="table table-bordered table-striped table-condensed mb-none">
                        <thead>
                            <tr>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.no{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.zone{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.province{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.code{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle; width: 20%;">{{#i18n}}warehouse.silo{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.associate{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.warehouse{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.stack{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.project{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.type{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.grade{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.discount{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.status{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.history{{/i18n}}</th>
                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.action{{/i18n}}</th>
                            </tr>
                        </thead>
                        <tbody id="bidderBody">
                            <tr>
                                <td colspan="15" class="text-center">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- end table shown bidder information list -->
            </div>

            <div id="infoForm" class="col-md-12" style="display: none;"><!-- user form -->
                <form id="form" class="form-horizontal form-bordered form-validation" onsubmit="return(false)">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-up"></a>
                            </div>
                            <h2 class="panel-title">{{#i18n}}warehouse.info.panelForm{{/i18n}}</h2>
                        </header>

                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label req" for="code">{{#i18n}}warehouse.code{{/i18n}} :</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" name="code" id="code" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label req" for="bagNo">{{#i18n}}warehouse.bagNo{{/i18n}} :</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" name="bagNo" id="bagNo" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label req" for="provinceId">{{#i18n}}warehouse.province{{/i18n}} :</label>
                                <div class="col-md-6">
                                    <select class="form-control input-sm" name="provinceId" id="provinceId" required></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label req" for="silo">{{#i18n}}warehouse.silo{{/i18n}} :</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" name="silo" id="silo" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label req" for="associateId">{{#i18n}}warehouse.associate{{/i18n}} :</label>
                                <div class="col-md-6">
                                    <select class="form-control input-sm" name="associateId" id="associateId" required></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label req" for="warehouse">{{#i18n}}warehouse.warehouse{{/i18n}} :</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" name="warehouse" id="warehouse" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label req" for="stack">{{#i18n}}warehouse.stack{{/i18n}} :</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" name="stack" id="stack" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label req" for="projectId">{{#i18n}}warehouse.project{{/i18n}} :</label>
                                <div class="col-md-6">
                                    <select class="form-control input-sm" name="projectId" id="projectId" required></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label req" for="typeId">{{#i18n}}warehouse.type{{/i18n}} :</label>
                                <div class="col-md-6">
                                    <select class="form-control input-sm" name="typeId" id="typeId" required></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label req" for="gradeId">{{#i18n}}warehouse.grade{{/i18n}} :</label>
                                <div class="col-md-6">
                                    <select class="form-control input-sm" name="gradeId" id="gradeId" required></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="discountRate">{{#i18n}}warehouse.discount{{/i18n}} :</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" name="discountRate" id="discountRate">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label req" for="weight">{{#i18n}}warehouse.weight{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}}):</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control input-sm" name="weight" id="weight" required>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div id="loading" class="col-xs-12" style="text-align: center;"></div>
                    <ul class="nav nav-pills sort-source secundary pull-right" data-sort-id="portfolio" data-option-key="filter">
                        <li data-option-value="*" class="">
                            <button id="submit" class="btn btn-primary submit"><i class="fa fa-save"></i> {{#i18n}}warehouse.buttonSave{{/i18n}}</button>
                        </li>
                        <li>
                            <button type="button" class="btn btn-default cancel">{{#i18n}}warehouse.buttonCancel{{/i18n}}</button>
                        </li>
                    </ul>
                </form>
            </div>
            
            <div id="viewHistory" aria-labelledby="bidderLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"><!-- delete bidder info form -->
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">{{#i18n}}warehouse.info.modalView{{/i18n}}</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table mb-none">
                                <tbody>
                                <tr class="no-border">
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.code{{/i18n}} :</td>
                                    <td class="col-md-8 text-left"><div id="codeDisp"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.silo{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="siloDisp"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.warehouse{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="warehouseDisp"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.stack{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="stackDisp"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.project{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="projectDisp"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.type{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="typeDisp"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.grade{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="gradeDisp"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.weight{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}}):</td>
                                    <td class="col-md-9 text-left"><div id="weightDisp"></div></td>
                                </tr>

                                <table id="table2" class="table table-striped table-condensed mb-none">
                                    <thead>
                                    <tr>
                                        <th class="text-center col-md-2">{{#i18n}}warehouse.no{{/i18n}}</th>
                                        <th class="text-center col-md-12">{{#i18n}}warehouse.history{{/i18n}}</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    </tbody>
                                </table>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">{{#i18n}}warehouse.buttonClose{{/i18n}}</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="deleteModal" aria-labelledby="bidderLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"><!-- delete bidder info form -->
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">{{#i18n}}warehouse.info.modalDelete{{/i18n}}</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table mb-none">
                                <tbody>
                                <tr class="no-border">
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.code{{/i18n}} :</td>
                                    <td class="col-md-8 text-left"><div id="codeDel"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.silo{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="siloDel"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.warehouse{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="warehouseDel"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.stack{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="stackDel"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.project{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="projectDel"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.type{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="typeDel"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.grade{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="gradeDel"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.weight{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}}):</td>
                                    <td class="col-md-9 text-left"><div id="weightDel"></div></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">{{#i18n}}warehouse.buttonCancel{{/i18n}}</button>&nbsp;
                            <button id="confirmDelete" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-save"></i> {{#i18n}}warehouse.buttonDelete{{/i18n}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--  row  -->
    </div><!--  container  -->
</div><!-- main -->

{{>footer}}

<style>
    .dataTables_filter {
        display: none;
    }
</style>

<script type="text/javascript">
    var js_context_path = "{{_context_path}}";
</script>

<script src="{{_context_path}}/apps/warehouse/views/js/warehouseInfo.js"></script>

