{{>header}}
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">{{#i18n}}warehouse.home{{/i18n}}</a></li>
                        <li class="active">{{#i18n}}warehouse.menu{{/i18n}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}warehouse.info.title{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin: 10px 0px;"><!-- bidder item form -->
                <div class="col-md-3">
                    <label class="col-md-5 control-label text-right" for="project">{{#i18n}}warehouse.project{{/i18n}} :</label>
                    <div class="col-md-7">
                        <select class="form-control input-sm" name="project" id="project" data-call="listsProject">
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <label class="col-md-5 control-label text-right" for="zone">{{#i18n}}warehouse.zone{{/i18n}} :</label>
                    <div class="col-md-7">
                        <select class="form-control input-sm" name="zone" id="zone" data-call="listsZone">
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <label class="col-md-5 control-label text-right" for="province">{{#i18n}}warehouse.province{{/i18n}} :</label>
                    <div class="col-md-7">
                        <select class="form-control input-sm" name="province" id="province" data-call="listsProvince">
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <label class="col-md-5 control-label text-right" for="type">{{#i18n}}warehouse.type{{/i18n}} :</label>
                    <div class="col-md-7">
                        <select class="form-control input-sm" name="type" id="type" data-call="listsType">
                        </select>
                    </div>
                </div>

            </div>
            <div class="col-md-12" style="margin: 10px 0px 20px 0px;"><!-- bidder item form -->
                <div class="col-md-3">
                    <label class="col-md-5 control-label text-right" for="grade">{{#i18n}}warehouse.grade{{/i18n}} :</label>
                    <div class="col-md-7">
                        <select class="form-control input-sm" name="grade" id="grade" data-call="listsGrade">
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <label class="col-md-5 control-label text-right" for="status">{{#i18n}}warehouse.status{{/i18n}} :</label>
                    <div class="col-md-7">
                        <select class="form-control input-sm" name="status" id="status" data-call="listsStatus">
                        </select>
                    </div>
                </div>

                <div class="col-md-3">
                    <label class="col-md-5 control-label text-right" for="silo">{{#i18n}}warehouse.silo{{/i18n}} :</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" name="silo" id="silo">
                    </div>
                </div>

                <div class="col-md-3">
                    <label class="col-md-5 control-label text-right" for="code">{{#i18n}}warehouse.code{{/i18n}} :</label>
                    <div class="col-md-7">
                        <input type="text" class="form-control input-sm" name="code" id="code">
                    </div>
                </div>
            </div>
            <div id="bidderTable" class="col-md-12"><!-- table shown bidder information list -->
                <table id="table" class="table table-bordered table-striped table-condensed mb-none">
                    <thead>
                        <tr>
                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.no{{/i18n}}</th>
                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.zone{{/i18n}}</th>
                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.province{{/i18n}}</th>
                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.code{{/i18n}}</th>
                            <th class="text-center" style="vertical-align: middle; width: 20%;">{{#i18n}}warehouse.silo{{/i18n}}</th>
                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.associate{{/i18n}}</th>
                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.warehouse{{/i18n}}</th>
                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.stack{{/i18n}}</th>
                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.project{{/i18n}}</th>
                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.type{{/i18n}}</th>
                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.grade{{/i18n}}</th>
                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.discount{{/i18n}}</th>
                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.status{{/i18n}}</th>
                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.history{{/i18n}}</th>
                        </tr>
                    </thead>
                    <tbody id="bidderBody">
                        <tr>
                            <td colspan="14" class="text-center">-</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- end table shown bidder information list -->
            
            <div id="viewHistory" aria-labelledby="bidderLabel" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"><!-- delete bidder info form -->
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">{{#i18n}}warehouse.info.modalView{{/i18n}}</h4>
                        </div>
                        <div class="modal-body">
                            <table class="table mb-none">
                                <tbody>
                                <tr class="no-border">
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.code{{/i18n}} :</td>
                                    <td class="col-md-8 text-left"><div id="codeDisp"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.silo{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="siloDisp"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.warehouse{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="warehouseDisp"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.stack{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="stackDisp"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.project{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="projectDisp"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.type{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="typeDisp"></div></td>
                                </tr>

                                <tr>
                                    <td class="col-md-3 text-right text-bold">{{#i18n}}warehouse.grade{{/i18n}} :</td>
                                    <td class="col-md-9 text-left"><div id="gradeDisp"></div></td>
                                </tr>

                                <table id="table2" class="table table-striped table-condensed mb-none">
                                    <thead>
                                    <tr>
                                        <th class="text-center col-md-2">{{#i18n}}warehouse.no{{/i18n}}</th>
                                        <th class="text-center col-md-12">{{#i18n}}warehouse.history{{/i18n}}</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    </tbody>
                                </table>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="confirmChange" class="btn btn-primary" data-dismiss="modal">{{#i18n}}warehouse.buttonClose{{/i18n}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--  row  -->
    </div><!--  container  -->
</div><!-- main -->
{{>footer}}
<style>
    .dataTables_filter {
        display: none;
    }
</style>
<script type="text/javascript">
    var idArr = [];
    var fdata = {};

    $(function(){
        $(".row select").each(function(){
            var id = $(this).attr("id");
            var call = $(this).attr("data-call");

            var result = listsObject(call);
            $("#"+id).html(result).select2();

            idArr.push("#"+id);
            fdata[id] = $(this).val();
        });

        $(idArr.join(",")).change(function(){
            var id = $(this).attr("id");
            fdata[id] = $(this).val();
        });

        listsAllRice();

    });

    function listsAllRice(){
        var t = $('#table').DataTable( {
            "destroy": true,
            "processing": true,
            "serverSide": true,
            "ajax": {
                url: "{{_context_path}}/api/warehouse/warehouseInfo/listsAllRice",
                type: "post"
            },
            "columnDefs": [
                {
                    "targets": 0,
                    "searchable": false,
                    "orderable": false,
                    "data": "id",
                    "sClass": "text-center"
                },
                {
                    "targets": 1,
                    "data": "zoneNameTH",
                    "sClass": "text-center"
                },
                {
                    "targets": 2,
                    "data": "provinceNameTH",
                    "sClass": "text-center"
                },
                {
                    "targets": 3,
                    "data": "code",
                    "sClass": "text-center"
                },
                {
                    "targets": 4,
                    "data": "silo",
                    "sClass": "text-left"
                },
                {
                    "targets": 5,
                    "data": "associate",
                    "sClass": "text-center"
                },
                {
                    "targets": 6,
                    "data": "warehouse",
                    "sClass": "text-center"
                },
                {
                    "targets": 7,
                    "data": "stack",
                    "sClass": "text-center"
                },
                {
                    "targets": 8,
                    "data": "project",
                    "sClass": "text-center"
                },
                {
                    "targets": 9,
                    "data": "type",
                    "sClass": "text-center"
                },
                {
                    "targets": 10,
                    "data": "grade",
                    "sClass": "text-center"
                },
                {
                    "targets": 11,
                    "data": "discountRate",
                    "sClass": "text-center"
                },
                {
                    "targets": 12,
                    "data": "status",
                    "sClass": "text-center"
                },
                {
                    "targets": 13,
                    "data": "id",
                    "sClass": "text-center",
                    "render": function (data) {
                        var content = '<button class="btn btn-primary history" data-id="'+data+'"><i class="fa fa-list"></i></button>&nbsp;';

                        return content;
                    }
                }
            ]
        });
        t.on( 'order.dt search.dt', function () {
            t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                cell.innerHTML = i+1;
            } );
        } );


        $("#zone").change(function() {
            t.columns(1).search(this.value).draw();
        });

        $("#province").change(function() {
            t.columns(2).search(this.value).draw();
        });

        $("#code").keydown(function(event){
            var keyCode = (event.keyCode ? event.keyCode : event.which);
            if (keyCode == 13) {
                t.columns(3).search(this.value).draw();
            }
        });

        $("#silo").keydown(function(event){
            var keyCode = (event.keyCode ? event.keyCode : event.which);
            if (keyCode == 13) {
                t.columns(4).search(this.value).draw();
            }
        });

        $('#project').change(function() {
            t.columns(8).search(this.value).draw();
        });

        $('#type').change(function() {
            t.columns(9).search(this.value).draw();
        });

        $('#grade').change(function() {
            t.columns(10).search(this.value).draw();
        });

        $('#status').change(function() {
            t.columns(12).search(this.value).draw();
        } );

        $("#table").off("click", "button.history").on("click", "button.history", function(){
            $("#viewHistory").modal("show");

            var id = $(this).attr("data-id");
            riceInfo(id);
        });
    }

    function listsObject(dataCall){
        var html = '<option value="" selected="selected">ทั้งหมด</option>';

        var datas = callAjax("{{_context_path}}/api/warehouse/warehouseInfo/"+dataCall, "post", {}, "json");
        if(typeof datas !== "undefined" && datas !== null){
            $.each(datas["lists"], function(key, value){
                html += '<option value="'+value["id"]+'">'+value["name"]+'</option>';
            });
        }

        return html;
    }

    function riceInfo(id){
        var datas = callAjax("{{_context_path}}/api/warehouse/warehouseInfo/riceInfo", "post", {id: id}, "json");
        if(typeof datas !== "undefined" && datas !== null){
            var value = datas["lists"];

            $("#codeDisp").html(value["code"]);
            $("#siloDisp").html(value["silo"]+' ['+value["provinceNameTH"]+'] ['+value["associate"]+']');
            $("#warehouseDisp").html(value["warehouse"]);
            $("#stackDisp").html(value["stack"]);
            $("#projectDisp").html(value["project"]);
            $("#typeDisp").html(value["type"]);
            $("#gradeDisp").html(value["grade"]);

            var html = '';
            if(value["statusArr"].length > 0){
                var count = 0;
                $.each(value["statusArr"], function(key, val){
                    html += '<tr>'
                        + '<td class="text-center">'+(++count)+'</td>'
                        + '<td class="text-center">'+val["status"]+'</td>'
                    + '</tr>';
                });
            }
            else{
                html = '<tr><td colspan="2" class="text-center">-</td></tr>'
            }

            $("#table2 tbody").html(html);
        }
    }

</script>

