{{>header}}
<div role="main" class="main" xmlns="http://www.w3.org/1999/html">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">{{#i18n}}warehouse.home{{/i18n}}</a></li>
                        <li class="active">{{#i18n}}warehouse.menu{{/i18n}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}warehouse.import.title{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 20px;">
                <div class="form-group">
                    <form id="form" class="form-horizontal form-bordered" enctype="multipart/form-data" method="post">
                        <div class="col-md-4">
                            <label class="col-md-3 text-right control-label" for="fileNameDisplay">{{#i18n}}warehouse.file{{/i18n}} :</label>
                            <div class="col-md-7">
                                <input type="text" class="form-control" id="fileName" placeholder="Choose File" disabled="disabled" />
                            </div>
                            <div class="col-md-2">
                                <div class="fileUpload btn btn-primary">
                                    <span><i class="fa fa-folder-open"></i> {{#i18n}}warehouse.buttonChoose{{/i18n}}</span>
                                    <input id="fileUpload" type="file" class="upload" required/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="col-md-4 text-right control-label" for="sheet">{{#i18n}}warehouse.sheet{{/i18n}} :</label>
                            <div class="col-md-8">
                                <input type="text" id="sheet" name="sheet" class="form-control" placeholder="ลำดับชีท" required/>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="col-md-4 control-label" for="row">{{#i18n}}warehouse.row{{/i18n}} :</label>
                            <div class="col-md-8">
                                <input type="text" id="row" name="row" class="form-control" placeholder="เริ่มบรรทัดที่" required/>
                            </div>
                        </div>

                        <div class="col-md-2 text-right">
                            <a class="btn btn-success read"><i class="fa fa-search"></i> {{#i18n}}warehouse.buttonRead{{/i18n}}</a>&nbsp;
                            <a class="btn btn-default cancel">{{#i18n}}warehouse.buttonCancel{{/i18n}}</a>
                        </div>
                    </form>
                </div>

                <div class="col-md-12 text-center" id="readLoading"></div>
            </div>

            <form id="form2" class="form-horizontal form-bordered" onsubmit="return(false)">
                <div class="col-md-12">
                    <div class="col-md-12" style="margin-bottom: 40px;">
                        <div class="toggle" data-plugin-toggle>
                            <section class="toggle active">
                                <label>{{#i18n}}warehouse.import.panelColumn{{/i18n}} : <span id="fileNameDisplay"></span></label>
                                <div class="toggle-content">
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label class="col-md-6 control-label" for="no">{{#i18n}}warehouse.no{{/i18n}} :</label>
                                            <div class="col-md-6">
                                                <select class="form-control input-sm" name="no" id="no" data-col="0" required>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="col-md-6 control-label" for="code">{{#i18n}}warehouse.code{{/i18n}} :</label>
                                            <div class="col-md-6">
                                                <select class="form-control input-sm" name="code" id="code" data-col="1" required>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="col-md-6 control-label" for="bagNo">{{#i18n}}warehouse.bagNo{{/i18n}} :</label>
                                            <div class="col-md-6">
                                                <select class="form-control input-sm" name="bagNo" id="bagNo" data-col="2" required>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="col-md-6 control-label" for="province">{{#i18n}}warehouse.province{{/i18n}} :</label>
                                            <div class="col-md-6">
                                                <select class="form-control input-sm" name="province" id="province" data-col="3" required>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label class="col-md-6 control-label" for="project">{{#i18n}}warehouse.project{{/i18n}} :</label>
                                            <div class="col-md-6">
                                                <select class="form-control input-sm" name="project" id="project" data-col="4" required>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="col-md-6 control-label" for="silo">{{#i18n}}warehouse.silo{{/i18n}} :</label>
                                            <div class="col-md-6">
                                                <select class="form-control input-sm" name="silo" id="silo" data-col="5" required>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="col-md-6 control-label" for="associate">{{#i18n}}warehouse.associate{{/i18n}} :</label>
                                            <div class="col-md-6">
                                                <select class="form-control input-sm" name="associate" id="associate" data-col="6" required>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="col-md-6 control-label" for="type">{{#i18n}}warehouse.type{{/i18n}} :</label>
                                            <div class="col-md-6">
                                                <select class="form-control input-sm" name="type" id="type" data-col="7" required>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label class="col-md-6 control-label" for="warehouse">{{#i18n}}warehouse.warehouse{{/i18n}} :</label>
                                            <div class="col-md-6">
                                                <select class="form-control input-sm" name="warehouse" id="warehouse" data-col="8" required>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="col-md-6 control-label" for="stack">{{#i18n}}warehouse.stack{{/i18n}} :</label>
                                            <div class="col-md-6">
                                                <select class="form-control input-sm" name="stack" id="stack" data-col="9" required>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="col-md-6 control-label" for="weight">{{#i18n}}warehouse.weight{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}}) :</label>
                                            <div class="col-md-6">
                                                <select class="form-control input-sm" name="weight" id="weight" data-col="10" required>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="col-md-6 control-label" for="samplingId">{{#i18n}}warehouse.samplingId{{/i18n}} :</label>
                                            <div class="col-md-6">
                                                <select class="form-control input-sm" name="samplingId" id="samplingId" data-col="11" required>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <label class="col-md-6 control-label" for="grade">{{#i18n}}warehouse.grade{{/i18n}} :</label>
                                            <div class="col-md-6">
                                                <select class="form-control input-sm" name="grade" id="grade" data-col="12" required>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="col-md-6 control-label" for="discount">{{#i18n}}warehouse.discount{{/i18n}} :</label>
                                            <div class="col-md-6">
                                                <select class="form-control input-sm" name="discount" id="discount" data-col="13" required>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="col-md-6 control-label" for="status">{{#i18n}}warehouse.status{{/i18n}} :</label>
                                            <div class="col-md-6">
                                                <select class="form-control input-sm" name="status" id="status" data-col="14" required>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="col-md-6 control-label" for="weightAll">{{#i18n}}warehouse.weightAll{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}}) :</label>
                                            <div class="col-md-6">
                                                <select class="form-control input-sm" name="weightAll" id="weightAll" data-col="15" required>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <div class="col-md-12"><!-- table shown file detail -->
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1One">
                                        {{#i18n}}warehouse.import.panelSample{{/i18n}}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1One" class="accordion-body collapse in">
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table id="table" class="table table-bordered table-striped table-condensed mb-none">
                                            <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.no{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.code{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.bagNo{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.province{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.project{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.silo{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.associate{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.type{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.warehouse{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.stack{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.weight{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}})</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.samplingId{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.grade{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.discount{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.status{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}warehouse.weightAll{{/i18n}} ({{#i18n}}warehouse.ton{{/i18n}})</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle;" id="noDiv">-</th>
                                                <th class="text-center" style="vertical-align: middle;" id="codeDiv">-</th>
                                                <th class="text-center" style="vertical-align: middle;" id="bagNoDiv">-</th>
                                                <th class="text-center" style="vertical-align: middle;" id="provinceDiv">-</th>
                                                <th class="text-center" style="vertical-align: middle;" id="projectDiv">-</th>
                                                <th class="text-center" style="vertical-align: middle;" id="siloDiv">-</th>
                                                <th class="text-center" style="vertical-align: middle;" id="associateDiv">-</th>
                                                <th class="text-center" style="vertical-align: middle;" id="typeDiv">-</th>
                                                <th class="text-center" style="vertical-align: middle;" id="warehouseDiv">-</th>
                                                <th class="text-center" style="vertical-align: middle;" id="stackDiv">-</th>
                                                <th class="text-center" style="vertical-align: middle;" id="weightDiv">-</th>
                                                <th class="text-center" style="vertical-align: middle;" id="samplingIdDiv">-</th>
                                                <th class="text-center" style="vertical-align: middle;" id="gradeDiv">-</th>
                                                <th class="text-center" style="vertical-align: middle;" id="discountDiv">-</th>
                                                <th class="text-center" style="vertical-align: middle;" id="statusDiv">-</th>
                                                <th class="text-center" style="vertical-align: middle;" id="weightAllDiv">-</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td colspan="16" class="text-center">-</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- end table shown file detail -->

                <div class="col-md-12 text-center" id="saveLoading"></div>

                <div class="col-md-12 text-right" style="margin: 10px;">
                    <button class="btn btn-primary import"><i class="fa fa-save"></i> {{#i18n}}warehouse.buttonSave{{/i18n}}</button>
                </div>
            </form>
        </div><!--  row  -->
    </div><!--  container  -->
</div><!-- main -->

{{>footer}}

<script type="text/javascript">
    var js_context_path = "{{_context_path}}";
</script>

<script src="{{_context_path}}/apps/warehouse/views/js/warehouseImport.js"></script>


