{{>header}}
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{_context_path}}/api/root/view/index">{{#i18n}}system.home{{/i18n}}</a></li>
                        <li class="active">{{#i18n}}release.menu{{/i18n}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}release.compare.title{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="container">
        <div class="row">
            <div id="divTable"><!-- table shown -->
                <div class="col-md-12">

                    <div class="col-md-6">
                        <label class="col-md-3 control-label text-right" for="auction">{{#i18n}}release.auctionNo{{/i18n}} :</label>
                        <div class="col-md-9">
                            <select class="form-control input-sm" name="auction" id="auction" required>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4 col-md-offset-2">
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-default" role="button"><i class="fa fa-file-pdf-o"></i> PDF</a>
                            <a class="btn btn-default" role="button"><i class="fa fa-file-word-o"></i> Word</a>
                            <a class="btn btn-default" role="button"><i class="fa fa-file-text-o"></i> CSV</a>
                            <a class="btn btn-default btn-excel" role="button"><i class="fa fa-file-excel-o"></i> Excel</a>
                            <a class="btn btn-default" role="button"><i class="fa fa-print"></i> Print</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin-top: 20px;"><!-- table shown file detail -->
                    <table id="table" class="table table-bordered table-striped table-condensed mb-none">
                        <thead>
                            <tr>
                                <th rowspan="2" class="text-center col-md-1" style="vertical-align: middle;">{{#i18n}}release.no{{/i18n}}</th>
                                <th rowspan="2" class="text-center col-md-2" style="vertical-align: middle;">{{#i18n}}release.type{{/i18n}}</th>
                                <th colspan="3" class="text-center col-md-3">{{#i18n}}release.initPrice{{/i18n}} ({{#i18n}}release.bath{{/i18n}}/{{#i18n}}release.ton{{/i18n}})</th>
                                <th rowspan="2" class="text-center col-md-2" style="vertical-align: middle;">{{#i18n}}release.auctionPrice{{/i18n}} ({{#i18n}}release.bath{{/i18n}}/{{#i18n}}release.ton{{/i18n}})</th>
                                <th colspan="3" class="text-center col-md-3">{{#i18n}}release.diffPrice{{/i18n}} ({{#i18n}}release.bath{{/i18n}}/{{#i18n}}release.ton{{/i18n}})</th>
                            </tr>
                            <tr>
                                <th class="text-center">{{#i18n}}release.fp2{{/i18n}}</th>
                                <th class="text-center">{{#i18n}}release.fp3{{/i18n}}</th>
                                <th class="text-center">{{#i18n}}release.fp4{{/i18n}}</th>
                                <th class="text-center">{{#i18n}}release.fp2{{/i18n}}</th>
                                <th class="text-center">{{#i18n}}release.fp3{{/i18n}}</th>
                                <th class="text-center">{{#i18n}}release.fp4{{/i18n}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="9" class="text-center">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- end table shown file detail -->
            </div><!-- end table shown -->
        </div><!--  row  -->
    </div><!--  container  -->
</div><!-- main -->
{{>footer}}
<script type="text/javascript">
    $(function(){
        //window.open( "{{_context_path}}/api/tracking/follow/export" + "?auccode=" + auccode);
        listsAuction();

        $("#auction").change(function(){
            showFloorPrice();
            $(".btn-excel").click(function(){
                window.open( "{{_context_path}}/api/release/compareFP/export" + "?auccode=" + $("#auction").val());
            });
        }).trigger("change");
    });

    function listsAuction(){
        var datas = callAjax("{{_context_path}}/api/release/compareFP/listsAuction", "post", {}, "json");
        if(typeof datas !== "undefined" && datas !== null){
            var html = '<option value="">เลือกครั้งการประมูล</option>';
            $.each(datas["lists"], function (key, value) {
                html += '<option value="' + value["keyword"] + '">ประมูลครั้งที่ ' + value["status"] + '</option>';
            });
            $("#auction").html(html);
        }
    }

    function showFloorPrice(){
        $("#table tbody").html('<tr><td colspan="9" class="text-center">Loading...</td></tr>');

        setTimeout(function(){
            if($("#auction").val() != ""){
                var dataSet = [];
                var datas = callAjax("{{_context_path}}/api/release/compareFP/showFloorPrice", "post", {auction: $("#auction").val()}, "json");
                if(typeof datas !== "undefined" && datas !== null){
                    $.each(datas["lists"], function(key, value){
                        dataSet.push(value);
                    });
                }
            }
            else{
                dataSet = [];
            }

            var t = $("#table").DataTable({
                "destroy": true,
                "data": dataSet,
                "order": [[ 0, 'asc' ]],
                "iDisplayLength": 50,
                "columnDefs": [
                    {
                        "targets": 0,
                        "searchable": false,
                        "orderable": false,
                        "data": "typeId",
                        "sClass": "text-center col-md-1"
                    },
                    {
                        "targets": 1,
                        "data": "typeName",
                        "sClass": "text-left col-md-2"
                    },
                    {
                        "targets": 2,
                        "data": "FloorPrice2",
                        "sClass": "text-right col-md-1",
                        "render": function(data){
                            var content;

                            if(data != null) content = accounting.formatNumber(data, 2, ",", ".");
                            else content = "-";

                            return content;
                        }
                    },
                    {
                        "targets": 3,
                        "data": "FloorPrice3",
                        "sClass": "text-right col-md-1",
                        "render": function(data){
                            var content;

                            if(data != null) content = accounting.formatNumber(data, 2, ",", ".");
                            else content = "-";

                            return content;
                        }
                    },
                    {
                        "targets": 4,
                        "data": "FloorPrice4",
                        "sClass": "text-right col-md-1",
                        "render": function(data){
                            var content;

                            if(data != null) content = accounting.formatNumber(data, 2, ",", ".");
                            else content = "-";

                            return content;
                        }
                    },
                    {
                        "targets": 5,
                        "orderable": false,
                        "data": "AucFloorPrice",
                        "sClass": "text-right text-bold col-md-2",
                        "render": function(data){
                            var content;

                            if(data != null && data != 0) content = '<span class="text-tertiary">'+accounting.formatNumber(data, 2, ",", ".")+'</span>';
                            else content = "-";

                            return content;
                        }
                    },
                    {
                        "targets": 6,
                        "data": "FloorPrice2",
                        "sClass": "text-right text-bold col-md-1",
                        "render": function(data, key, full){
                            var content;

                            if(full["AucFloorPrice"] != null && full["AucFloorPrice"] != 0){
                                var diff = full["AucFloorPrice"] - data;
                                var rDiff = accounting.formatNumber(diff, 2, ",", ".");
                                var percent = accounting.formatNumber(diff/data * 100, 2, ",", ".");

                                if(diff >= 0){
                                    content = '<span class="text-success">'+rDiff+'<br>('+percent+'%)</span>';
                                }
                                else{
                                    content = '<span class="text-danger">'+rDiff+'<br>('+percent+'%)</span>';
                                }
                            }
                            else content = "-";

                            return content;
                        }
                    },
                    {
                        "targets": 7,
                        "data": "FloorPrice3",
                        "sClass": "text-right text-bold col-md-1",
                        "render": function(data, key, full){
                            var content;

                            if(full["AucFloorPrice"] != null && full["AucFloorPrice"] != 0){
                                var diff = full["AucFloorPrice"] - data;
                                var rDiff = accounting.formatNumber(diff, 2, ",", ".");
                                var percent = accounting.formatNumber(diff/data * 100, 2, ",", ".");

                                if(diff >= 0){
                                    content = '<span class="text-success">'+rDiff+'<br>('+percent+'%)</span>';
                                }
                                else{
                                    content = '<span class="text-danger">'+rDiff+'<br>('+percent+'%)</span>';
                                }
                            }
                            else content = "-";

                            return content;
                        }
                    },
                    {
                        "targets": 8,
                        "data": "FloorPrice4",
                        "sClass": "text-right text-bold col-md-1",
                        "render": function(data, key, full){
                            var content;

                            if(full["AucFloorPrice"] != null && full["AucFloorPrice"] != 0){
                                var diff = full["AucFloorPrice"] - data;
                                var rDiff = accounting.formatNumber(diff, 2, ",", ".");
                                var percent = accounting.formatNumber(diff/data * 100, 2, ",", ".");

                                if(diff >= 0){
                                    content = '<span class="text-success">'+rDiff+'<br>('+percent+'%)</span>';
                                }
                                else{
                                    content = '<span class="text-danger">'+rDiff+'<br>('+percent+'%)</span>';
                                }
                            }
                            else content = "-";

                            return content;
                        }
                    }
                ]
            });

            t.on( 'order.dt search.dt', function () {
                t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                    cell.innerHTML = i+1;
                } );
            } ).draw();
        }, 500);
    }
</script>