{{>header}}
<style>
    .text-price{
        padding: 0;
        text-align: center;
    }
</style>
<div role="main" class="main">

    <section class="page-top none-margin">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">{{#i18n}}release.home{{/i18n}}</a></li>
                        <li class="active">{{#i18n}}release.menu{{/i18n}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}release.fv.title{{/i18n}}</h1>
                </div>
            </div>
        </div>

    </section>
    <hr class="tall dashboard">

    <div class="container">
        <div class="row">
            <div class="col-sm-12"  style="margin: 10px;">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">{{#i18n}}release.auctionNo{{/i18n}} :</label>
                    <div class="col-sm-8">
                        <select id="auction" class="form-control">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button id="btn_date" class="btn btn-primary"><i class="fa fa-search"></i> {{#i18n}}release.buttonShow{{/i18n}}</button>
                </div>
            </div>

            <div style="clear: both;"></div>

            <div class="col-md-12" style="border: 1px solid #cccccc; margin-top: 20px;">
                <div class="col-md-12" style="margin-top: 20px;">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label text-right">{{#i18n}}release.project{{/i18n}} :</label>
                        <div class="col-sm-8">
                            <select id="searchProject" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label text-right">{{#i18n}}release.province{{/i18n}} :</label>
                        <div class="col-sm-8">
                            <select id="searchProvince" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" style="margin: 20px 0px;">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label text-right">{{#i18n}}release.type{{/i18n}} :</label>
                        <div class="col-sm-8">
                            <select id="searchType" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label text-right">{{#i18n}}release.grade{{/i18n}} :</label>
                        <div class="col-sm-8">
                            <select id="searchGrade" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <div class="col-ms-12">
                    <div class="tabs">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#fv2" data-toggle="tab">
                                    <span class="badge hidden-xs">1</span>
                                    {{#i18n}}release.newRicePrice{{/i18n}} ({{#i18n}}release.fv2{{/i18n}})
                                </a>
                            </li>
                            <li>
                                <a href="#fv3" data-toggle="tab">
                                    <span class="badge hidden-xs">2</span>
                                    {{#i18n}}release.newRicePrice{{/i18n}} ({{#i18n}}release.fv3{{/i18n}})
                                </a>
                            </li>
                            <li>
                                <a href="#fv4" data-toggle="tab">
                                    <span class="badge hidden-xs">3</span>
                                    {{#i18n}}release.newRicePrice{{/i18n}} ({{#i18n}}release.fv4{{/i18n}})
                                </a>
                            </li>
                            <li>
                                <a href="#fv234" data-toggle="tab">
                                    <span class="badge hidden-xs">4</span>
                                    {{#i18n}}release.fv2{{/i18n}}, {{#i18n}}release.fv3{{/i18n}}, {{#i18n}}release.fv4{{/i18n}}
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="fv2" class="tab-pane active table-responsive">
                                <table class="table table-bordered table-striped table-condensed mb-none">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.no{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.province{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.project{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.silo{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.associate{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.type{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.warehouse{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.stack{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.grade{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.weightAll{{/i18n}} ({{#i18n}}release.ton{{/i18n}})</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.fp2{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.floorValue{{/i18n}} ({{#i18n}}release.bath{{/i18n}})<br>({{#i18n}}release.fv2{{/i18n}})</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="13" class="text-center">-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="fv3" class="tab-pane table-responsive">
                                <table class="table table-bordered table-striped table-condensed mb-none">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.no{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.province{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.project{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.silo{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.associate{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.type{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.warehouse{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.stack{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.grade{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.weightAll{{/i18n}} ({{#i18n}}release.ton{{/i18n}})</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.fp2{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.floorValue{{/i18n}} ({{#i18n}}release.bath{{/i18n}})<br>({{#i18n}}release.fv2{{/i18n}})</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="13" class="text-center">-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div id="fv4" class="tab-pane table-responsive">
                                <table class="table table-bordered table-striped table-condensed mb-none">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.no{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.province{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.project{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.silo{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.associate{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.type{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.warehouse{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.stack{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.grade{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.weightAll{{/i18n}} ({{#i18n}}release.ton{{/i18n}})</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.fp2{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.floorValue{{/i18n}} ({{#i18n}}release.bath{{/i18n}})<br>({{#i18n}}release.fv2{{/i18n}})</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="13" class="text-center">-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div id="fv234" class="tab-pane table-responsive">
                                <table class="table table-bordered table-striped table-condensed mb-none">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.no{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.province{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.project{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.silo{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.associate{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.type{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.warehouse{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.stack{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.grade{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.weightAll{{/i18n}} ({{#i18n}}release.ton{{/i18n}})</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.fp2{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.floorValue{{/i18n}} ({{#i18n}}release.bath{{/i18n}})<br>({{#i18n}}release.fv2{{/i18n}})</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.fp3{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.floorValue{{/i18n}} ({{#i18n}}release.bath{{/i18n}})<br>({{#i18n}}release.fv3{{/i18n}})</th>
                                            <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.fp4{{/i18n}}</th>
                                            <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.floorValue{{/i18n}} ({{#i18n}}release.bath{{/i18n}})<br>({{#i18n}}release.fv4{{/i18n}})</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="17" class="text-center">-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>footer}}

<script type="text/javascript">
    var dataPublic;
    var dataFilter;
    var projectGroup;
    var provinceGroup;
    var typeGroup;
    var gradeGroup;

    var listArr;

    $(function () {
        listsAuction();

        $("#dateFP").datepicker({
            format: "yyyy-mm-dd",
            daysOfWeekDisabled: [0, 6],
            autoclose: true
        }).datepicker("setDate", new Date());

        $("#btn_date").click(function () {
            getData();
        });
    });

    function listsAuction() {
        var datas = callAjax("{{_context_path}}/api/release/floorValue/listsAuction", "post", {}, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            var html = '<option value="">เลือก</option>';
            $.each(datas["lists"], function (key, val) {
                html += '<option value="' + val.keyword + '">' + val.status + '</option>';
            });
            $("#auction").html(html).select2();
        }
    }
    function getData() {
        $("#fv2 table tbody").html('<tr><td colspan="13" class="text-center">Loading...</td></tr>');
        $("#fv3 table tbody").html('<tr><td colspan="13" class="text-center">Loading...</td></tr>');
        $("#fv4 table tbody").html('<tr><td colspan="13" class="text-center">Loading...</td></tr>');
        $("#fv234 table tbody").html('<tr><td colspan="17" class="text-center">Loading...</td></tr>');

        var stopDate = $("#stopDate").val() + "-01";
        var dateFP = $("#dateFP").val();
        var typeId = $("#select_type").val();
        var gradeId = $("#select_grade").val();
        var projectId = $("#select_project").val();
        var provinceId = $("#select_province").val();
        var auction = $("#auction").val();
        var d = new Date(dateFP);
        var count = 0;
        var day = new Array();
        //var today = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
        if (d.getDay() != 6 && d.getDay() != 0) {
            day.push(d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate());
            count++;
        }
        while (count != 7) {
            d = yesterday(d);
            if (d.getDay() != 6 && d.getDay() != 0) {
                day.push(d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate());
                count++;
            }
        }

        dataPublic = [];
        projectGroup = {};
        provinceGroup = {};
        typeGroup = {};
        gradeGroup = {};

        listArr = {};
        setTimeout(function () {
            var datas = callAjax("{{_context_path}}/api/release/floorValue/getFloorValue", "post", {
                auction: auction
            }, "json");
            if (typeof datas !== "undefined" && datas !== null) {
                var lastSilo = null;
                var lastAsso = null;
                var tempKey = 1;
                var tempKeySub = 0;
                $.each(datas["lists"], function (key, value) {
                    var silo = value["wareHouseCode"];
                    var asso = value["associate"];
                    if ((lastSilo !== silo || lastAsso !== asso) && lastSilo !== null) {
                        tempKey++;
                        tempKeySub = 0;
                    }
                    lastSilo = silo;
                    lastAsso = asso;

                    var id = tempKey + '.' + (++tempKeySub);
                    value["Id"] = id;

                    listArr[value["Id"]] = value;

                    dataPublic.push(value);
                    projectGroup[value["project"]] = value["project"];
                    provinceGroup[value["province"]] = value["province"];
                    typeGroup[value["typeName"]] = value["typeName"];
                    gradeGroup[value["grade"]] = value["grade"];
                });
                writebody();
            }
        }, 0);
    }

    function yesterday(d) {
        d = new Date(d.setDate(d.getDate() - 1));
        return d;
    }

    function writebody() {
        $("#searchProject").empty().append('<option value="" selected="selected">ทั้งหมด</option>');
        $.each(projectGroup, function (key, value) {
            $("#searchProject").append('<option value="' + value + '">' + value + '</option>');
        });

        $("#searchProvince").empty().append('<option value="" selected="selected">ทั้งหมด</option>');
        $.each(provinceGroup, function (key, value) {
            $("#searchProvince").append('<option value="' + value + '">' + value + '</option>');
        });

        $("#searchType").empty().append('<option value="" selected="selected">ทั้งหมด</option>');
        $.each(typeGroup, function (key, value) {
            $("#searchType").append('<option value="' + value + '">' + value + '</option>');
        });

        $("#searchGrade").empty().append('<option value="" selected="selected">ทั้งหมด</option>');
        $.each(gradeGroup, function (key, value) {
            $("#searchGrade").append('<option value="' + value + '">' + value + '</option>');
        });

        $("#searchProject, #searchProvince, #searchType, #searchGrade").select2();

        var t2 = $("#fv2 table").DataTable({
            "destroy": true,
            "bSort": false,
            "paging": false,
            "data": dataPublic,
            "iDisplayLength": 50,
            "drawCallback": function (oSettings) {
                var api = this.api();
                var rows = api.rows({page: 'current'}).nodes();
                var lastSilo = null;
                var lastAsso = null;

                var count = 0;
                var tempWeight = 0;
                var tempFP2 = 0;
                var tempFV2 = 0;
                var sumWeight = 0;
                var sumFP = 0;
                var sumFV = 0;
                api.column(0, {page: 'current'}).data().each(function (group, i) {
                    var silo = listArr[group]["wareHouseCode"];
                    var asso = listArr[group]["associate"];
                    count++;
                    //console.log(count+' '+Object.keys(listArr).length);
                    sumWeight += parseFloat(listArr[group]["OWeightAll"]);
                    sumFP += parseFloat(listArr[group]["FP2"]);
                    sumFV += parseFloat(listArr[group]["FV2"]);
                    if ((lastSilo !== silo || lastAsso !== asso) && lastSilo !== null) {
                        $(rows).eq(i).before('<tr>'
                                + '<td class="text-bold text-center">รวม</td>'
                                + '<td class="text-bold text-center" colspan="8">' + lastSilo + ' [' + lastAsso + ']</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempWeight, 6, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFP2, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFV2, 2, ",", ".") + '</td>'
                                + '</tr>'
                                );
                        tempWeight = 0;
                        tempFP2 = 0;
                        tempFV2 = 0;
                    }
                    else if (count == Object.keys(listArr).length) {

                        $(rows).eq(i).after('<tr>'
                                + '<td class="text-bold text-center">รวม</td>'
                                + '<td class="text-bold text-center" colspan="8">' + lastSilo + ' [' + lastAsso + ']</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempWeight, 6, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFP2, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFV2, 2, ",", ".") + '</td>'
                                + '</tr>'
                                + '<tr>'
                                + '<td class="text-bold text-center" colspan="9">รวมทั้งหมด</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(sumWeight, 6, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(sumFP, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(sumFV, 2, ",", ".") + '</td>'
                                + '</tr>'
                                );

                        tempWeight = 0;
                        tempFP2 = 0;
                        tempFV2 = 0;
                        sumWeight = 0;
                        sumFP = 0;
                        sumFV = 0;
                    }

                    lastSilo = silo;
                    lastAsso = asso;

                    tempWeight += parseFloat(listArr[group]["OWeightAll"]);
                    tempFP2 += parseFloat(listArr[group]["FP2"]);
                    tempFV2 += parseFloat(listArr[group]["FV2"]);

                });
            },
            "columnDefs": [
                {
                    "targets": 0,
                    "searchable": false,
                    "orderable": false,
                    "data": "Id",
                    "sClass": "text-center"
                },
                {
                    "targets": 1,
                    "data": "province"
                },
                {
                    "targets": 2,
                    "data": "project"
                },
                {
                    "targets": 3,
                    "data": "wareHouseCode"
                },
                {
                    "targets": 4,
                    "data": "associate",
                    "sClass": "text-center"
                },
                {
                    "targets": 5,
                    "data": "typeName"
                },
                {
                    "targets": 6,
                    "data": "Warehouse",
                    "sClass": "text-center"
                },
                {
                    "targets": 7,
                    "data": "Stack",
                    "sClass": "text-center"
                },
                {
                    "targets": 8,
                    "data": "grade",
                    "sClass": "text-center"
                },
                {
                    "targets": 9,
                    "data": "OWeightAll",
                    "sClass": "text-right col-md-1",
                    "render": function (data) {
                        return accounting.formatNumber(data, 6, ",", ".");
                    }
                },
                {
                    "targets": 10,
                    "data": "FP2",
                    "sClass": "text-right col-md-1",
                    "render": function (data) {
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                },
                {
                    "targets": 11,
                    "data": "FV2",
                    "sClass": "text-right col-md-1 text-bold",
                    "render": function (data) {
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                }
            ]
        });

        var t3 = $("#fv3 table").DataTable({
            "destroy": true,
            "bSort": false,
            "paging": false,
            "data": dataPublic,
            "iDisplayLength": 50,
            "drawCallback": function (oSettings) {
                var api = this.api();
                var rows = api.rows({page: 'current'}).nodes();
                var lastSilo = null;
                var lastAsso = null;

                var count = 0;
                var tempWeight = 0;
                var tempFP3 = 0;
                var tempFV3 = 0;
                var sumWeight = 0;
                var sumFP = 0;
                var sumFV = 0;
                api.column(0, {page: 'current'}).data().each(function (group, i) {
                    var silo = listArr[group]["wareHouseCode"];
                    var asso = listArr[group]["associate"];

                    count++;
                    // console.log(count + ' ' + Object.keys(listArr).length);
                    sumWeight += parseFloat(listArr[group]["OWeightAll"]);
                    sumFP += parseFloat(listArr[group]["FP2"]);
                    sumFV += parseFloat(listArr[group]["FV2"]);
                    if ((lastSilo !== silo || lastAsso !== asso) && lastSilo !== null) {
                        $(rows).eq(i).before('<tr>'
                                + '<td class="text-bold text-center">รวม</td>'
                                + '<td class="text-bold text-center" colspan="8">' + lastSilo + ' [' + lastAsso + ']</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempWeight, 6, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFP3, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFV3, 2, ",", ".") + '</td>'
                                + '</tr>'
                                );
                        tempWeight = 0;
                        tempFP3 = 0;
                        tempFV3 = 0;
                    }
                    else if (count == Object.keys(listArr).length) {
                        $(rows).eq(i).after('<tr>'
                                + '<td class="text-bold text-center">รวม</td>'
                                + '<td class="text-bold text-center" colspan="8">' + lastSilo + ' [' + lastAsso + ']</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempWeight, 6, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFP3, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFV3, 2, ",", ".") + '</td>'
                                + '</tr>'
                                  +'<tr>'
                                + '<td class="text-bold text-center" colspan="9">รวมทั้งหมด</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(sumWeight, 6, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(sumFP, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(sumFV, 2, ",", ".") + '</td>'
                                + '</tr>'
                                );
                        tempWeight = 0;
                        tempFP3 = 0;
                        tempFV3 = 0;
                    }


                    lastSilo = silo;
                    lastAsso = asso;

                    tempWeight += parseFloat(listArr[group]["OWeightAll"]);
                    tempFP3 += parseFloat(listArr[group]["FP3"]);
                    tempFV3 += parseFloat(listArr[group]["FV3"]);
                });
            },
            "columnDefs": [
                {
                    "targets": 0,
                    "searchable": false,
                    "orderable": false,
                    "data": "Id",
                    "sClass": "text-center"
                },
                {
                    "targets": 1,
                    "data": "province"
                },
                {
                    "targets": 2,
                    "data": "project"
                },
                {
                    "targets": 3,
                    "data": "wareHouseCode"
                },
                {
                    "targets": 4,
                    "data": "associate",
                    "sClass": "text-center"
                },
                {
                    "targets": 5,
                    "data": "typeName"
                },
                {
                    "targets": 6,
                    "data": "Warehouse",
                    "sClass": "text-center"
                },
                {
                    "targets": 7,
                    "data": "Stack",
                    "sClass": "text-center"
                },
                {
                    "targets": 8,
                    "data": "grade",
                    "sClass": "text-center"
                },
                {
                    "targets": 9,
                    "data": "OWeightAll",
                    "sClass": "text-right col-md-1",
                    "render": function (data) {
                        return accounting.formatNumber(data, 6, ",", ".");
                    }
                },
                {
                    "targets": 10,
                    "data": "FP3",
                    "sClass": "text-right col-md-1",
                    "render": function (data) {
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                },
                {
                    "targets": 11,
                    "data": "FV3",
                    "sClass": "text-right col-md-1 text-bold",
                    "render": function (data) {
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                }
            ]
        });

        var t4 = $("#fv4 table").DataTable({
            "destroy": true,
            "bSort": false,
            "paging": false,
            "data": dataPublic,
            "iDisplayLength": 50,
            "drawCallback": function (oSettings) {
                var api = this.api();
                var rows = api.rows({page: 'current'}).nodes();
                var lastSilo = null;
                var lastAsso = null;

                var count = 0;
                var tempWeight = 0;
                var tempFP4 = 0;
                var tempFV4 = 0;
                var sumWeight = 0;
                var sumFP = 0;
                var sumFV = 0;
                api.column(0, {page: 'current'}).data().each(function (group, i) {
                    var silo = listArr[group]["wareHouseCode"];
                    var asso = listArr[group]["associate"];

                    count++;
                    // console.log(count + ' ' + Object.keys(listArr).length);
                    sumWeight += parseFloat(listArr[group]["OWeightAll"]);
                    sumFP += parseFloat(listArr[group]["FP2"]);
                    sumFV += parseFloat(listArr[group]["FV2"]);
                    if ((lastSilo !== silo || lastAsso !== asso) && lastSilo !== null) {
                        $(rows).eq(i).before('<tr>'
                                + '<td class="text-bold text-center">รวม</td>'
                                + '<td class="text-bold text-center" colspan="8">' + lastSilo + ' [' + lastAsso + ']</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempWeight, 6, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFP4, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFV4, 2, ",", ".") + '</td>'
                                + '</tr>'
                                );
                        tempWeight = 0;
                        tempFP4 = 0;
                        tempFV4 = 0;
                    }
                    else if (count == Object.keys(listArr).length) {
                        $(rows).eq(i).after('<tr>'
                                + '<td class="text-bold text-center">รวม</td>'
                                + '<td class="text-bold text-center" colspan="8">' + lastSilo + ' [' + lastAsso + ']</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempWeight, 6, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFP4, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFV4, 2, ",", ".") + '</td>'
                                + '</tr>'
                               +'<tr>'
                                + '<td class="text-bold text-center" colspan="9">รวมทั้งหมด</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(sumWeight, 6, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(sumFP, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(sumFV, 2, ",", ".") + '</td>'
                                + '</tr>'
                                );
                        tempWeight = 0;
                        tempFP4 = 0;
                        tempFV4 = 0;
                    }


                    lastSilo = silo;
                    lastAsso = asso;

                    tempWeight += parseFloat(listArr[group]["OWeightAll"]);
                    tempFP4 += parseFloat(listArr[group]["FP4"]);
                    tempFV4 += parseFloat(listArr[group]["FV4"]);
                });
            },
            "columnDefs": [
                {
                    "targets": 0,
                    "searchable": false,
                    "orderable": false,
                    "data": "Id",
                    "sClass": "text-center"
                },
                {
                    "targets": 1,
                    "data": "province"
                },
                {
                    "targets": 2,
                    "data": "project"
                },
                {
                    "targets": 3,
                    "data": "wareHouseCode"
                },
                {
                    "targets": 4,
                    "data": "associate",
                    "sClass": "text-center"
                },
                {
                    "targets": 5,
                    "data": "typeName"
                },
                {
                    "targets": 6,
                    "data": "Warehouse",
                    "sClass": "text-center"
                },
                {
                    "targets": 7,
                    "data": "Stack",
                    "sClass": "text-center"
                },
                {
                    "targets": 8,
                    "data": "grade",
                    "sClass": "text-center"
                },
                {
                    "targets": 9,
                    "data": "OWeightAll",
                    "sClass": "text-right col-md-1",
                    "render": function (data) {
                        return accounting.formatNumber(data, 6, ",", ".");
                    }
                },
                {
                    "targets": 10,
                    "data": "FP4",
                    "sClass": "text-right col-md-1",
                    "render": function (data) {
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                },
                {
                    "targets": 11,
                    "data": "FV4",
                    "sClass": "text-right col-md-1 text-bold",
                    "render": function (data) {
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                }
            ]
        });

        var t234 = $("#fv234 table").DataTable({
            "destroy": true,
            "bSort": false,
            "paging": false,
            "data": dataPublic,
            "iDisplayLength": 50,
            "drawCallback": function (oSettings) {
                var api = this.api();
                var rows = api.rows({page: 'current'}).nodes();
                var lastSilo = null;
                var lastAsso = null;

                var count = 0;
                var tempWeight = 0;
                var tempFP2 = 0;
                var tempFV2 = 0;
                var tempFP3 = 0;
                var tempFV3 = 0;
                var tempFP4 = 0;
                var tempFV4 = 0;
                var sumWeight = 0;
                var sumFP2 = 0;
                var sumFV2 = 0;
                var sumFP3 = 0;
                var sumFV3 = 0;
                var sumFP4 = 0;
                var sumFV4 = 0;
                api.column(0, {page: 'current'}).data().each(function (group, i) {
                    var silo = listArr[group]["wareHouseCode"];
                    var asso = listArr[group]["associate"];

                    count++;
                    // console.log(count + ' ' + Object.keys(listArr).length);
                    sumWeight += parseFloat(listArr[group]["OWeightAll"]);
                    sumFP2 += parseFloat(listArr[group]["FP2"]);
                    sumFV2 += parseFloat(listArr[group]["FV2"]);
                    sumFP3 += parseFloat(listArr[group]["FP3"]);
                    sumFV3 += parseFloat(listArr[group]["FV3"]);
                    sumFP4 += parseFloat(listArr[group]["FP4"]);
                    sumFV4 += parseFloat(listArr[group]["FV4"]);
                    if ((lastSilo !== silo || lastAsso !== asso) && lastSilo !== null) {
                        $(rows).eq(i).before('<tr>'
                                + '<td class="text-bold text-center">รวม</td>'
                                + '<td class="text-bold text-center" colspan="8">' + lastSilo + ' [' + lastAsso + ']</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempWeight, 6, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFP2, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFV2, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFP3, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFV3, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFP4, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFV4, 2, ",", ".") + '</td>'
                                + '</tr>'
                                );
                        tempWeight = 0;
                        tempFP2 = 0;
                        tempFV2 = 0;
                        tempFP3 = 0;
                        tempFV3 = 0;
                        tempFP4 = 0;
                        tempFV4 = 0;

                    }
                    else if (count == Object.keys(listArr).length) {
                        $(rows).eq(i).after('<tr>'
                                + '<td class="text-bold text-center">รวม</td>'
                                + '<td class="text-bold text-center" colspan="8">' + lastSilo + ' [' + lastAsso + ']</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempWeight, 6, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFP2, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFV2, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFP3, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFV3, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFP4, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(tempFV4, 2, ",", ".") + '</td>'
                                + '</tr>'
                                +'<tr>'
                                + '<td class="text-bold text-center" colspan="9">รวมทั้งหมด</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(sumWeight, 6, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(sumFP2, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(sumFV2, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(sumFP3, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(sumFV3, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(sumFP4, 2, ",", ".") + '</td>'
                                + '<td class="text-bold text-right">' + accounting.formatNumber(sumFV4, 2, ",", ".") + '</td>'
                                + '</tr>'
                                );
                        tempWeight = 0;
                        tempFP2 = 0;
                        tempFV2 = 0;
                        tempFP3 = 0;
                        tempFV3 = 0;
                        tempFP4 = 0;
                        tempFV4 = 0;
                    }


                    lastSilo = silo;
                    lastAsso = asso;

                    tempWeight += parseFloat(listArr[group]["OWeightAll"]);
                    tempFP2 += parseFloat(listArr[group]["FP2"]);
                    tempFV2 += parseFloat(listArr[group]["FV2"]);
                    tempFP3 += parseFloat(listArr[group]["FP3"]);
                    tempFV3 += parseFloat(listArr[group]["FV3"]);
                    tempFP4 += parseFloat(listArr[group]["FP4"]);
                    tempFV4 += parseFloat(listArr[group]["FV4"]);
                });
            },
            "columnDefs": [
                {
                    "targets": 0,
                    "searchable": false,
                    "orderable": false,
                    "data": "Id",
                    "sClass": "text-center"
                },
                {
                    "targets": 1,
                    "data": "province"
                },
                {
                    "targets": 2,
                    "data": "project"
                },
                {
                    "targets": 3,
                    "data": "wareHouseCode"
                },
                {
                    "targets": 4,
                    "data": "associate",
                    "sClass": "text-center"
                },
                {
                    "targets": 5,
                    "data": "typeName"
                },
                {
                    "targets": 6,
                    "data": "Warehouse",
                    "sClass": "text-center"
                },
                {
                    "targets": 7,
                    "data": "Stack",
                    "sClass": "text-center"
                },
                {
                    "targets": 8,
                    "data": "grade",
                    "sClass": "text-center"
                },
                {
                    "targets": 9,
                    "data": "OWeightAll",
                    "sClass": "text-right col-md-1",
                    "render": function (data) {
                        return accounting.formatNumber(data, 6, ",", ".");
                    }
                },
                {
                    "targets": 10,
                    "data": "FP2",
                    "sClass": "text-right col-md-1",
                    "render": function (data) {
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                },
                {
                    "targets": 11,
                    "data": "FV2",
                    "sClass": "text-right col-md-1 text-bold",
                    "render": function (data) {
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                },
                {
                    "targets": 12,
                    "data": "FP3",
                    "sClass": "text-right col-md-1",
                    "render": function (data) {
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                },
                {
                    "targets": 13,
                    "data": "FV3",
                    "sClass": "text-right col-md-1 text-bold",
                    "render": function (data) {
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                },
                {
                    "targets": 14,
                    "data": "FP4",
                    "sClass": "text-right col-md-1",
                    "render": function (data) {
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                },
                {
                    "targets": 15,
                    "data": "FV4",
                    "sClass": "text-right col-md-1 text-bold",
                    "render": function (data) {
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                }
            ]
        });

        $("#searchProject").change(function () {
            t2.columns(2).search(this.value).draw();
            t3.columns(2).search(this.value).draw();
            t4.columns(2).search(this.value).draw();
        });

        $("#searchProvince").change(function () {
            t2.columns(1).search(this.value).draw();
            t3.columns(1).search(this.value).draw();
            t4.columns(1).search(this.value).draw();
        });

        $("#searchType").change(function () {
            t2.columns(6).search(this.value).draw();
            t3.columns(6).search(this.value).draw();
            t4.columns(6).search(this.value).draw();
        });

        $("#searchGrade").change(function () {
            t2.columns(9).search(this.value).draw();
            t3.columns(9).search(this.value).draw();
            t4.columns(9).search(this.value).draw();
        });
    }

    function checkZero(input) {
        var output = '';
        if (input == 0) {
            output = '-';
        }
        else {
            output = input
        }

        return output;
    }

</script>