{{>header}}
<style>
    .text-price{
        padding: 0;
        text-align: center;
    }
</style>

<div role="main" class="main">

    <section class="page-top none-margin">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">{{#i18n}}release.home{{/i18n}}</a></li>
                        <li class="active">{{#i18n}}release.menu{{/i18n}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}release.fp.title{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="container">
        <div style="margin: 10px;">
            <div class="col-md-3">
                <label class="col-sm-6 control-label text-right">{{#i18n}}release.auctionNo{{/i18n}} :</label>
                <div class="col-sm-6">
                    <select class="form-control datepicker ui-datepicker-calendar" id="auction"></select>
                </div>
            </div>

            <div class="col-md-4">
                <label class="col-sm-6 control-label text-right">ปี/เดือน ที่คิดอายุข้าว :</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control datepicker ui-datepicker-calendar" id="stopDate" />
                </div>
            </div>
            <div class="col-md-4">
                <label class="col-sm-6 control-label text-right">วันที่คิดราคา :</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control datepicker ui-datepicker-calendar" id="dateFP" />
                </div>
            </div>

            <div class="col-md-1 text-right">
                <button id="btn_date" class="btn btn-primary"><i class="fa fa-search"></i> {{#i18n}}release.buttonShow{{/i18n}}</button>
            </div>
        </div>

        <div style="clear: both;"></div>

        <fieldset class="col-sm-12" style="border: 1px solid #cccccc; margin-top: 20px;">

            <div class="col-sm-12" style="margin-top: 20px;">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">{{#i18n}}release.project{{/i18n}} :</label>
                    <div class="col-sm-8">
                        <select id="select_project" class="form-control">
                            <option value="0">เลือกทั้งหมด</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">{{#i18n}}release.province{{/i18n}} :</label>
                    <div class="col-sm-8">
                        <select id="select_province" class="form-control">
                            <option value="0">เลือกทั้งหมด</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="margin: 20px 0px;">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">{{#i18n}}release.type{{/i18n}} :</label>
                    <div class="col-sm-8">
                        <select id="select_type" class="form-control">
                            <option value="0">เลือกทั้งหมด</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">{{#i18n}}release.grade{{/i18n}} :</label>
                    <div class="col-sm-8">
                        <select id="select_grade" class="form-control">
                            <option value="0">เลือกทั้งหมด</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <section class="panel form-wizard" id="w2">
                    <div class="tabs">
                        <ul class="nav nav-tabs nav-justify">
                            <li class="active">
                                <a href="#fp2" data-toggle="tab" class="text-center" aria-expanded="true">
                                    <span class="badge hidden-xs">1</span>
                                    {{#i18n}}release.newRicePrice{{/i18n}} ({{#i18n}}release.fp2{{/i18n}})
                                </a>
                            </li>
                            <li class="">
                                <a href="#fp3" data-toggle="tab" class="text-center" aria-expanded="false">
                                    <span class="badge hidden-xs">2</span>
                                    {{#i18n}}release.meanRicePrice{{/i18n}} ({{#i18n}}release.fp3{{/i18n}})
                                </a>
                            </li>
                            <li class="">
                                <a href="#fp4" data-toggle="tab" class="text-center" aria-expanded="false">
                                    <span class="badge hidden-xs">3</span>
                                    {{#i18n}}release.oldRicePrice{{/i18n}} ({{#i18n}}release.fp4{{/i18n}})
                                </a>
                            </li>
                        </ul>
                        <form class="form-horizontal" novalidate="novalidate">
                            <div class="tab-content">
                                <div id="fp2" class="tab-pane active">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" colspan="6"></th>
                                                <th class="text-center">1</th>
                                               <th class="text-center">2</th>
                                               <th class="text-center">3=1*2</th>
                                                <th class="text-center">4</th>
                                                <th class="text-center">5=1-(3+4)</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center" style="vertical-align:middle;">{{#i18n}}release.no{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;">{{#i18n}}release.type{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;">{{#i18n}}release.project{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;">{{#i18n}}release.grade{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;">{{#i18n}}release.province{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;" width="15%">{{#i18n}}release.riceQuality{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;" width="35%">{{#i18n}}release.calRicePrice{{/i18n}}<br>({{#i18n}}release.internalTrade{{/i18n}} + {{#i18n}}release.riceMills{{/i18n}})</th>
                                                <th class="text-center" style="vertical-align:middle;" width="15%">{{#i18n}}release.discountRate{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;" width="10%">{{#i18n}}release.discountValue{{/i18n}}<br/>({{#i18n}}release.bath{{/i18n}}/{{#i18n}}release.ton{{/i18n}})</th>
                                                <th class="text-center" style="vertical-align:middle;" width="20%">{{#i18n}}release.shippingCost{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;" width="10%">{{#i18n}}release.fp2{{/i18n}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="11" class="text-center">-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="fp3" class="tab-pane">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" colspan="6"></th>
                                                <th class="text-center">1</th>
                                               <th class="text-center">2</th>
                                               <th class="text-center">3=1*2</th>
                                                <th class="text-center">4</th>
                                                <th class="text-center">5=1-(3+4)</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center" style="vertical-align:middle;">{{#i18n}}release.no{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;">{{#i18n}}release.type{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;">{{#i18n}}release.project{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;">{{#i18n}}release.grade{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;">{{#i18n}}release.province{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;" width="15%">{{#i18n}}release.riceQuality{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;" width="35%">{{#i18n}}release.calRicePrice{{/i18n}}<br>({{#i18n}}release.internalTrade{{/i18n}} + {{#i18n}}release.riceMills{{/i18n}})</th>
                                                <th class="text-center" style="vertical-align:middle;" width="15%">{{#i18n}}release.discountRate{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;" width="10%">{{#i18n}}release.discountValue{{/i18n}}<br/>({{#i18n}}release.bath{{/i18n}}/{{#i18n}}release.ton{{/i18n}})</th>
                                                <th class="text-center" style="vertical-align:middle;" width="20%">{{#i18n}}release.shippingCost{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;" width="10%">{{#i18n}}release.fp3{{/i18n}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="11" class="text-center">-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="fp4" class="tab-pane">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" colspan="6"></th>
                                                <th class="text-center">1</th>
                                               <th class="text-center">2</th>
                                               <th class="text-center">3=1*2</th>
                                                <th class="text-center">4</th>
                                                <th class="text-center">5=1-(3+4)</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center" style="vertical-align:middle;">{{#i18n}}release.no{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;">{{#i18n}}release.type{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;">{{#i18n}}release.project{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;">{{#i18n}}release.grade{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;">{{#i18n}}release.province{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;" width="15%">{{#i18n}}release.riceQuality{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;" width="35%">{{#i18n}}release.calRicePrice{{/i18n}}<br>({{#i18n}}release.internalTrade{{/i18n}} + {{#i18n}}release.riceMills{{/i18n}})</th>
                                                <th class="text-center" style="vertical-align:middle;" width="15%">{{#i18n}}release.discountRate{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;" width="10%">{{#i18n}}release.discountValue{{/i18n}}<br/>({{#i18n}}release.bath{{/i18n}}/{{#i18n}}release.ton{{/i18n}})</th>
                                                <th class="text-center" style="vertical-align:middle;" width="20%">{{#i18n}}release.shippingCost{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align:middle;" width="10%">{{#i18n}}release.fp4{{/i18n}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="11" class="text-center">-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </fieldset>
    </div>
</div>

{{>footer}}

<script type="text/javascript">
    var dataPublic;
    var dataFilter;
    var projectGroup;
    var provinceGroup;
    var typeGroup;
    var gradeGroup;

    $(function () {
        $("#stopDate").datepicker({
            format: "yyyy-mm",
            startView: "months",
            minViewMode: "months"
        }).datepicker();

        $("#dateFP").datepicker({
            format: "yyyy-mm-dd",
            daysOfWeekDisabled: [0, 6],
            autoclose: true
        }).datepicker();

        $("#btn_date").click(function () {
            getData(0);
        });

        $("#auction").html(listAuction()).change(function(){
            var age = $('option:selected', this).attr("data-age");
            var start = $('option:selected', this).attr("data-start");

            $("#stopDate").val(age.substr(0, 7));
            $("#dateFP").val(start.substr(0, 10));
        }).select2();

        $("#select_project").change(function () {
            getData(1);
        });
        $("#select_province").change(function () {
            getData(2);
        });
        $("#select_type").change(function () {
            getData(3);
        });
        $("#select_grade").change(function () {
            getData(4);
        });
    });

    function getData(input) {
        $("#fp2 table tbody").html('<tr><td colspan="11" class="text-center">Loading...</td></tr>');
        $("#fp3 table tbody").html('<tr><td colspan="11" class="text-center">Loading...</td></tr>');
        $("#fp4 table tbody").html('<tr><td colspan="11" class="text-center">Loading...</td></tr>');

        var stopDate = $("#stopDate").val()+"-01";
        var dateFP = $("#dateFP").val();
        var typeId = $("#select_type").val();
        var gradeId = $("#select_grade").val();
        var projectId = $("#select_project").val();
        var provinceId = $("#select_province").val();
        var d = new Date(dateFP);
        var count = 0;
        var day = new Array();
        //var today = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
        if (d.getDay() != 6 && d.getDay() != 0) {
            day.push(d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate());
            count++;
        }
        while (count != 7) {
            d = yesterday(d);
            if (d.getDay() != 6 && d.getDay() != 0) {
                day.push(d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate());
                count++;
            }
        }

        setTimeout(function() {
            var datas = callAjax("{{_context_path}}/api/release/floorPrice/getFloorPrice", "post", {
                stopDate: stopDate,
                startDate: day[6],
                endDate: day[0],
                projectId: projectId,
                provinceId: provinceId,
                typeId: typeId,
                gradeId: gradeId
            }, "json");
            if (typeof datas !== "undefined" && datas !== null) {
                dataPublic = datas["lists"];
                projectGroup = datas["project"];
                provinceGroup = datas["province"];
                typeGroup = datas["type"];
                gradeGroup = datas["grade"];

                writebody(input);
            }
        }, 0);
    }

    function yesterday(d) {
        d = new Date(d.setDate(d.getDate() - 1));
        return d;
    }

    function writebody(type) {
        var html2 = '';
        var html3 = '';
        var html4 = '';
        $.each(dataPublic, function (key, datas) {
            html2 += '<tr>'
                    + '<td class="text-center">' + (key + 1) + '</td>'
                    + '<td>' + datas.riceType + '</td>'
                    + '<td>' + datas.Project + '</td>'
                    + '<td class="text-center">' + datas.Grade + '</td>'
                    + '<td>' + datas.Province + '</td>'
                    + '<td>' + datas.stockYear + ' ปี ' + datas.stockMonth + ' เดือน</td>'
                    + '<td class="text-right">' + checkZero(datas.NewPrice) + '</td>'
                    + '<td class="text-right">' + accounting.formatMoney(datas.discount, {symbol: '%', format: '%v %s'}) + '</td>'
                    + '<td class="text-right">' + checkZero(datas.DFP2) + '</td>'
                    + '<td class="text-right">' + datas.LogisticCost + '</td>'
                    + '<td class="text-right">' + checkZero(datas.FP2) + '</td>'
                + '</tr>';

            html3 += '<tr>'
                    + '<td class="text-center">' + (key + 1) + '</td>'
                    + '<td>' + datas.riceType + '</td>'
                    + '<td>' + datas.Project + '</td>'
                    + '<td class="text-center">' + datas.Grade + '</td>'
                    + '<td>' + datas.Province + '</td>'
                    + '<td>' + datas.stockYear + ' ปี ' + datas.stockMonth + ' เดือน</td>'
                    + '<td class="text-right">' + checkZero(datas.OldNewPrice) + '</td>'
                    + '<td class="text-right">' + accounting.formatMoney(datas.discount, {symbol: '%', format: '%v %s'}) + '</td>'
                    + '<td class="text-right">' + checkZero(datas.DFP3) + '</td>'
                    + '<td class="text-right">' + datas.LogisticCost + '</td>'
                    + '<td class="text-right">' + checkZero(datas.FP3) + '</td>'
                + '</tr>';

            html4 += '<tr>'
                    + '<td class="text-center">' + (key + 1) + '</td>'
                    + '<td>' + datas.riceType + '</td>'
                    + '<td>' + datas.Project + '</td>'
                    + '<td class="text-center">' + datas.Grade + '</td>'
                    + '<td>' + datas.Province + '</td>'
                    + '<td>' + datas.stockYear + ' ปี ' + datas.stockMonth + ' เดือน</td>'
                    + '<td class="text-right">' + checkZero(datas.OldPrice) + '</td>'
                    + '<td class="text-right">' + accounting.formatMoney(datas.discount, {symbol: '%', format: '%v %s'}) + '</td>'
                    + '<td class="text-right">' + checkZero(datas.DFP4) + '</td>'
                    + '<td class="text-right">' + datas.LogisticCost + '</td>'
                    + '<td class="text-right">' + checkZero(datas.FP4) + '</td>'
                + '</tr>';
        });
        $("#fp2 table tbody").html(html2);
        $("#fp3 table tbody").html(html3);
        $("#fp4 table tbody").html(html4);


        //  if(type!=1){
        var pj = $("#select_project").val();
        $("#select_project").empty();
        $("#select_project").append("<option value='0'>เลือกทั้งหมด</option>");
        $.each(projectGroup, function (key, value) {
            if (pj == key) {
                $("#select_project").append("<option value='" + key + "' selected>" + value + "</option>");
            } else {
                $("#select_project").append("<option value='" + key + "'>" + value + "</option>");
            }
        });
        //    $("#select_project").attr("selected")
        //  }

        //  if(type!=2){
        pj = $("#select_province").val();
        $("#select_province").empty();
        $("#select_province").append("<option value='0'>เลือกทั้งหมด</option>");
        $.each(provinceGroup, function (key, value) {
            if (pj == key) {
                $("#select_province").append("<option value='" + key + "' selected>" + value + "</option>");
            } else {
                $("#select_province").append("<option value='" + key + "'>" + value + "</option>");
            }
        });
        //  }
        pj = $("#select_type").val();
        $("#select_type").empty();
        $("#select_type").append("<option value='0'>เลือกทั้งหมด</option>");
        $.each(typeGroup, function (key, value) {
            if (pj == key) {
                $("#select_type").append("<option value='" + key + "' selected>" + value + "</option>");
            } else {
                $("#select_type").append("<option value='" + key + "'>" + value + "</option>");
            }
        });

        pj = $("#select_grade").val();
        $("#select_grade").empty();
        $("#select_grade").append("<option value='0'>เลือกทั้งหมด</option>");
        $.each(gradeGroup, function (key, value) {
            if (pj == key) {
                $("#select_grade").append("<option value='" + key + "' selected>" + value + "</option>");
            } else {
                $("#select_grade").append("<option value='" + key + "'>" + value + "</option>");
            }
        });
        //  }
    }

    function listAuction(){
        var html = '<option value="" data-age="" data-start="">เลือก</option>';
        var datas = callAjax("{{_context_path}}/api/release/floorPrice/listsAuction", "post", {}, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            $.each(datas["lists"], function(key, val){
                var age = "";
                if(val["ageStop"] != null) age = val["ageStop"]["date"];

                var start = "";
                if(val["dateStart"] != null) start = val["dateStart"]["date"];

                html += '<option value="'+val["keyword"]+'" data-age="'+age+'" data-start="'+start+'">'+val["status"]+'</option>';
            });
        }

        return html;
    }
    function checkZero(input){
        var output = '';
        if(input <= 0.0){
            output = '-';
        }
        else{
            output = accounting.formatNumber(input, 2, ",", ".");
        }

        return output;
    }

</script>