{{>header}}
<style>
    .text-price{
        padding: 0;
        text-align: center;
    }
</style>
<div role="main" class="main">

    <section class="page-top none-margin">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">{{#i18n}}release.home{{/i18n}}</a></li>
                        <li class="active">{{#i18n}}release.menu{{/i18n}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}release.fvSilo.title{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>
    <hr class="tall dashboard">
    <div class="container">
        <div class="col-sm-12"  style="margin: 10px;">
            <div class="col-sm-6">
                <label class="col-sm-3 control-label text-right">{{#i18n}}release.auctionNo{{/i18n}} :</label>
                <div class="col-sm-9">
                    <select id="auction" class="form-control">
                        <option value="0">เลือกทั้งหมด</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <button id="btn_date" class="btn btn-primary"><i class="fa fa-search"></i> {{#i18n}}release.buttonShow{{/i18n}}</button>
            </div>
        </div>
        <div style="clear: both;"></div>
        <fieldset class="col-sm-12" style="border: 1px solid #cccccc; margin-top: 20px;">

            <div class="col-sm-12" style="margin-top: 20px;">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">{{#i18n}}release.project{{/i18n}} :</label>
                    <div class="col-sm-8">
                        <select id="searchProject" class="form-control"></select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">{{#i18n}}release.province{{/i18n}} :</label>
                    <div class="col-sm-8">
                        <select id="searchProvince" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="margin: 20px 0px;">
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">{{#i18n}}release.type{{/i18n}} :</label>
                    <div class="col-sm-8">
                        <select id="searchType" class="form-control"></select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4 control-label text-right">{{#i18n}}release.grade{{/i18n}} :</label>
                    <div class="col-sm-8">
                        <select id="searchGrade" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <section class="panel form-wizard" id="w2">
                    <div class="tabs">
                        <ul class="nav nav-tabs nav-justify">
                            <li class="active">
                                <a href="#fv2" data-toggle="tab" class="text-center" aria-expanded="true">
                                    <span class="badge hidden-xs">1</span>
                                    {{#i18n}}release.newRicePrice{{/i18n}} ({{#i18n}}release.fv2{{/i18n}})
                                </a>
                            </li>
                            <li class="">
                                <a href="#fv3" data-toggle="tab" class="text-center" aria-expanded="false">
                                    <span class="badge hidden-xs">2</span>
                                    {{#i18n}}release.meanRicePrice{{/i18n}} ({{#i18n}}release.fv3{{/i18n}})
                                </a>
                            </li>
                            <li class="">
                                <a href="#fv4" data-toggle="tab" class="text-center" aria-expanded="false">
                                    <span class="badge hidden-xs">3</span>
                                    {{#i18n}}release.oldRicePrice{{/i18n}} ({{#i18n}}release.fv4{{/i18n}})
                                </a>
                            </li>
                            <li class="">
                                <a href="#fv234" data-toggle="tab" class="text-center" aria-expanded="false">
                                    <span class="badge hidden-xs">4</span>
                                    {{#i18n}}release.fv2{{/i18n}}, {{#i18n}}release.fv3{{/i18n}}, {{#i18n}}release.fv4{{/i18n}}
                                </a>
                            </li>
                        </ul>
                        <form class="form-horizontal" novalidate="novalidate">
                            <div class="tab-content">
                                <div id="fv2" class="tab-pane active">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.no{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.province{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.silo{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.associate{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.weightAll{{/i18n}} ({{#i18n}}release.ton{{/i18n}})</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.floorValue{{/i18n}} ({{#i18n}}release.bath{{/i18n}})<br>({{#i18n}}release.fv2{{/i18n}})</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="6" class="text-center">-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="fv3" class="tab-pane">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.no{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.province{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.silo{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.associate{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.weightAll{{/i18n}} ({{#i18n}}release.ton{{/i18n}})</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.floorValue{{/i18n}} ({{#i18n}}release.bath{{/i18n}})<br>({{#i18n}}release.fv3{{/i18n}})</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="6" class="text-center">-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="fv4" class="tab-pane">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.no{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.province{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.silo{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.associate{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.weightAll{{/i18n}} ({{#i18n}}release.ton{{/i18n}})</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.floorValue{{/i18n}} ({{#i18n}}release.bath{{/i18n}})<br>({{#i18n}}release.fv4{{/i18n}})</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="6" class="text-center">-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="fv234" class="tab-pane">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.no{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.province{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.silo{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle;">{{#i18n}}release.associate{{/i18n}}</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.weightAll{{/i18n}} ({{#i18n}}release.ton{{/i18n}})</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.floorValue{{/i18n}} ({{#i18n}}release.bath{{/i18n}})<br>({{#i18n}}release.fv2{{/i18n}})</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.floorValue{{/i18n}} ({{#i18n}}release.bath{{/i18n}})<br>({{#i18n}}release.fv3{{/i18n}})</th>
                                                <th class="text-center" style="vertical-align: middle; text-align: center;">{{#i18n}}release.floorValue{{/i18n}} ({{#i18n}}release.bath{{/i18n}})<br>({{#i18n}}release.fv4{{/i18n}})</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="8" class="text-center">-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </fieldset>
    </div>
</div>

{{>footer}}

<script type="text/javascript">
    var dataPublic;
    var dataFilter;
    var projectGroup;
    var provinceGroup;
    var typeGroup;
    var gradeGroup;

    $(function () {
        listsAuction();

        $("#dateFP").datepicker({
            format: "yyyy-mm-dd",
            daysOfWeekDisabled: [0, 6],
            autoclose: true
        }).datepicker("setDate", new Date());

        $("#btn_date").click(function () {
            getData();
        });
    });

    function listsAuction() {
        var datas = callAjax("{{_context_path}}/api/release/floorValue/listsAuction", "post", {}, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            var html = '<option value="">เลือก</option>';
            $.each(datas["lists"], function (key, val) {
                html += '<option value="' + val.keyword + '">' + val.status + '</option>';
            });
            $("#auction").html(html).select2();
        }
    }

    function getData() {
        $("#fv2 table tbody").html('<tr><td colspan="6" class="text-center">Loading...</td></tr>');
        $("#fv3 table tbody").html('<tr><td colspan="6" class="text-center">Loading...</td></tr>');
        $("#fv4 table tbody").html('<tr><td colspan="6" class="text-center">Loading...</td></tr>');
        $("#fv234 table tbody").html('<tr><td colspan="8" class="text-center">Loading...</td></tr>');

        var stopDate = $("#stopDate").val() + "-01";
        var dateFP = $("#dateFP").val();
        var typeId = $("#select_type").val();
        var gradeId = $("#select_grade").val();
        var projectId = $("#select_project").val();
        var provinceId = $("#select_province").val();
        var auction = $("#auction").val();
        var d = new Date(dateFP);
        var count = 0;
        var day = new Array();
        //var today = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
        if (d.getDay() != 6 && d.getDay() != 0) {
            day.push(d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate());
            count++;
        }
        while (count != 7) {
            d = yesterday(d);
            if (d.getDay() != 6 && d.getDay() != 0) {
                day.push(d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate());
                count++;
            }
        }

        dataPublic = [];
        projectGroup = {};
        provinceGroup = {};
        typeGroup = {};
        gradeGroup = {};

        setTimeout(function () {
            var datas = callAjax("{{_context_path}}/api/release/floorValue/getFloorValueSilo", "post", {
                auction: auction
            }, "json");
            if (typeof datas !== "undefined" && datas !== null) {
                $.each(datas["lists"], function (key, value) {
                    dataPublic.push(value);

                    projectGroup[value["Project"]] = value["Project"];
                    provinceGroup[value["Province"]] = value["Province"];
                    typeGroup[value["riceType"]] = value["riceType"];
                    gradeGroup[value["Grade"]] = value["Grade"];
                });

                writebody();
            }

        }, 0);
    }

    function yesterday(d) {
        d = new Date(d.setDate(d.getDate() - 1));
        return d;
    }

    function writebody() {
        $("#searchProject").empty().append('<option value="" selected="selected">ทั้งหมด</option>');
        $.each(projectGroup, function (key, value) {
            $("#searchProject").append('<option value="' + value + '">' + value + '</option>');
        });

        $("#searchProvince").empty().append('<option value="" selected="selected">ทั้งหมด</option>');
        $.each(provinceGroup, function (key, value) {
            $("#searchProvince").append('<option value="' + value + '">' + value + '</option>');
        });

        $("#searchType").empty().append('<option value="" selected="selected">ทั้งหมด</option>');
        $.each(typeGroup, function (key, value) {
            $("#searchType").append('<option value="' + value + '">' + value + '</option>');
        });

        $("#searchGrade").empty().append('<option value="" selected="selected">ทั้งหมด</option>');
        $.each(gradeGroup, function (key, value) {
            $("#searchGrade").append('<option value="' + value + '">' + value + '</option>');
        });

        $("#searchProject, #searchProvince, #searchType, #searchGrade").select2();

        var t2 = $("#fv2 table").DataTable({
            "destroy": true,
            "data": dataPublic,
            "order": [[1, 'asc'], [2, 'asc']],
            "iDisplayLength": 50,
            "columnDefs": [
                {
                    "targets": 0,
                    "searchable": false,
                    "orderable": false,
                    "data": "Silo",
                    "sClass": "text-center col-md-1"
                },
                {
                    "targets": 1,
                    "data": "Province",
                    "sClass": "col-md-2"
                },
                {
                    "targets": 2,
                    "data": "Silo"
                },
                {
                    "targets": 3,
                    "data": "Associate",
                    "sClass": "text-center col-md-1"
                },
                {
                    "targets": 4,
                    "data": "Weight_All",
                    "sClass": "text-right col-md-2",
                    "render": function(data){
                        return accounting.formatNumber(data, 6, ",", ".");
                    }
                },
                {
                    "targets": 5,
                    "data": "FV2",
                    "sClass": "text-right text-bold col-md-2",
                    "render": function(data){
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                }
            ]
        });
        t2.on('order.dt search.dt', function () {
            t2.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        var t3 = $("#fv3 table").DataTable({
            "destroy": true,
            "data": dataPublic,
            "order": [[1, 'asc'], [2, 'asc']],
            "iDisplayLength": 50,
            "columnDefs": [
                {
                    "targets": 0,
                    "searchable": false,
                    "orderable": false,
                    "data": "Silo",
                    "sClass": "text-center col-md-1"
                },
                {
                    "targets": 1,
                    "data": "Province",
                    "sClass": "col-md-2"
                },
                {
                    "targets": 2,
                    "data": "Silo"
                },
                {
                    "targets": 3,
                    "data": "Associate",
                    "sClass": "text-center col-md-1"
                },
                {
                    "targets": 4,
                    "data": "Weight_All",
                    "sClass": "text-right col-md-2",
                    "render": function(data){
                        return accounting.formatNumber(data, 6, ",", ".");
                    }
                },
                {
                    "targets": 5,
                    "data": "FV3",
                    "sClass": "text-right text-bold col-md-2",
                    "render": function(data){
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                }
            ]
        });
        t3.on('order.dt search.dt', function () {
            t3.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        var t4 = $("#fv4 table").DataTable({
            "destroy": true,
            "data": dataPublic,
            "order": [[1, 'asc'], [2, 'asc']],
            "iDisplayLength": 50,
            "columnDefs": [
                {
                    "targets": 0,
                    "searchable": false,
                    "orderable": false,
                    "data": "Silo",
                    "sClass": "text-center col-md-1"
                },
                {
                    "targets": 1,
                    "data": "Province",
                    "sClass": "col-md-2"
                },
                {
                    "targets": 2,
                    "data": "Silo"
                },
                {
                    "targets": 3,
                    "data": "Associate",
                    "sClass": "text-center col-md-1"
                },
                {
                    "targets": 4,
                    "data": "Weight_All",
                    "sClass": "text-right col-md-2",
                    "render": function(data){
                        return accounting.formatNumber(data, 6, ",", ".");
                    }
                },
                {
                    "targets": 5,
                    "data": "FV4",
                    "sClass": "text-right text-bold col-md-2",
                    "render": function(data){
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                }
            ]
        });
        t4.on('order.dt search.dt', function () {
            t4.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();

        var t234 = $("#fv234 table").DataTable({
            "destroy": true,
            "data": dataPublic,
            "order": [[1, 'asc'], [2, 'asc']],
            "iDisplayLength": 50,
            "columnDefs": [
                {
                    "targets": 0,
                    "searchable": false,
                    "orderable": false,
                    "data": "Silo",
                    "sClass": "text-center col-md-1"
                },
                {
                    "targets": 1,
                    "data": "Province",
                    "sClass": "col-md-1"
                },
                {
                    "targets": 2,
                    "data": "Silo"
                },
                {
                    "targets": 3,
                    "data": "Associate",
                    "sClass": "text-center col-md-1"
                },
                {
                    "targets": 4,
                    "data": "Weight_All",
                    "sClass": "text-right col-md-2",
                    "render": function(data){
                        return accounting.formatNumber(data, 6, ",", ".");
                    }
                },
                {
                    "targets": 5,
                    "data": "FV2",
                    "sClass": "text-right text-bold col-md-1",
                    "render": function(data){
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                },
                {
                    "targets": 6,
                    "data": "FV3",
                    "sClass": "text-right text-bold col-md-1",
                    "render": function(data){
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                },
                {
                    "targets": 7,
                    "data": "FV4",
                    "sClass": "text-right text-bold col-md-1",
                    "render": function(data){
                        return accounting.formatNumber(data, 2, ",", ".");
                    }
                }
            ]
        });
        t234.on('order.dt search.dt', function () {
            t234.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        }).draw();
    }

</script>