{{>header}}
<style>
    .text-dismiss{
        text-decoration: line-through;
    }
</style>
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">หน้าหลัก</a></li>
                        <li class="active">ระบบประมูล</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">ตรวจหลักประกัน</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="sort-source-wrapper"><!-- button action on header -->
        <div class="container">
            <ul class="nav nav-pills sort-source menu-top pull-right" data-sort-id="portfolio" data-option-key="filter">
                <li data-option-value=".websites" class="padding-left">
                    <button id="showTable" class="btn btn-primary table" style="display: none;">รายชื่อผู้เสนอซื้อ</button>
                </li>
            </ul>
        </div>
    </div><!-- end button action on header -->

    <div class="container">
        <div class="row">
            <div id="bidderTable"><!-- table shown bidder payment list -->
                <section class="panel form-wizard" id="w1"><!-- search -->
                    <div class="panel-body panel-body-nopadding">
                        <div class="col-md-12" style="margin: 20px 0px 20px 0px;">
                            <div class="col-xs-4">
                                <label class="col-md-4 control-label" for="searchQueue">คิวที่</label>
                                <div class="col-md-8">
                                    <select class="form-control input-sm" name="searchQueue" id="searchQueue" required>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </section><!-- end search -->

                <div class="col-md-12">
                    <table id="table" class="table table-bordered table-striped table-condensed mb-none">
                        <thead>
                            <tr>
                                <th class="text-center" style="vertical-align: middle;">คิว</th>
                                <th class="text-center" style="vertical-align: middle; width: 20%;">ผู้เสนอซื้อ</th>
                                <th class="text-center" style="vertical-align: middle;">จำนวนคลังสินค้า</th>
                                <th class="text-center" style="vertical-align: middle;">มูลค่าเสนอซื้อรวม (บาท)</th>
                                <th class="text-center" style="vertical-align: middle;">หลักประกันที่ต้องจ่าย (2%) (บาท)</th>
                                <th class="text-center" style="vertical-align: middle;">มูลค่าหลักประกันรวม (บาท)</th>
                                <th class="text-center" style="vertical-align: middle;">หมายเหตุ</th>
                                <th class="text-center" style="vertical-align: middle;">รายละเอียด</th>
                            </tr>
                        </thead>
                        <tbody id="bidderBody">
                            <tr>
                                <td colspan="8" class="text-center">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- end table shown bidder item list -->

            <div id="bidderForm" class="col-md-12" style="display: none;"><!-- bidder guarantee form -->
                <form id="form" class="form-horizontal form-bordered form-validation" onsubmit="return(false)">
                    <div class="col-xs-12">
                        <section class="panel">
                            <div class="form-group" >
                                <label class="col-md-3 control-label req" for="bidderHistoryId">ชื่อผู้เสนอซื้อ</label>
                                <div class="col-md-6">
                                    <select class="form-control input-sm" name="bidderHistoryId" id="bidderHistoryId" required>
                                    </select>
                                </div>
                                <div style="float: right;"><button class="btn btn-primary checkList"><i class="fa fa-print"></i> ใบรับหลักประกัน</button></div>
                            </div>

                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                </div>
                                <h2 class="panel-title">ข้อมูลการบันทึกคลังสินค้าของผู้เสนอซื้อ : <div class="itemListHead" style="display: inline-block;"></div></h2>
                            </header>

                            <div class="panel-body"><!-- show list item -->
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-condensed mb-none">
                                        <thead>
                                            <tr>
                                                <th class="text-center">ลำดับ</th>
                                                <th class="text-center">คลังสินค้า</th>
                                                <th class="text-center">มูลค่าขั้นต่ำ (บาท)</th>
                                                <th class="text-center">มูลค่าเสนอซื้อ (บาท)</th>
                                                <th class="text-center">จำนวนเงินค้ำประกัน (บาท)</th>
                                                <th class="text-center">สถานะ</th>
                                            </tr>
                                        </thead>
                                        <tbody class="itemListBody">
                                            <tr>
                                                <td colspan="6" class="text-center">-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="guarantee">
                        <h3>หลักค้ำประกัน</h3>

                        <div class="col-md-12" style="margin:5px;">
                            <label class="col-md-5 control-label" for="typeBidder">จำนวนหลักค้ำประกัน</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="txtCountGrt" value="1" />
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary" id="btnAddGrt">เพิ่ม</button>
                            </div>
                        </div>
                        <div  id="divAddGrt">
                            <div class="col-md-12">
                                <div class="col-md-1 text-center">
                                    <h4>ลำดับ</h4>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h4>ประเภท</h4>
                                </div>
                                <div class="col-md-3 text-center">
                                    <h4>ธนาคาร</h4>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h4>เลขที่</h4>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h4>วันที่</h4>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h4>จำนวนเงิน</h4>
                                </div>
                            </div>

                            <div method="post"  id="form_grt" 
                                 name="bidderPayment" 
                                 action="{{_context_path}}/api/auction/bidderPayment/saveBidderPayment"
                                 isArray="true"
                                 data-size="0">
                                <!--                            <div class="col-md-12">
                                                                <div class="col-md-1 text-center">
                                                                    <strong>1</strong>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <select class="form-control paymentId text-center" name="paymentId">
                                                                        <option value="1">สัญญาค้ำประกันของธนาคาร</option>
                                                                        <option value="2">ตั๋วแลกเงิน</option>
                                                                        <option value="3">เช็ค</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <select class="form-control bankId text-center" name="bankId">
                                                                                                                <option>กรุงเทพ</option>
                                                                                                                <option>กรุงไทย</option>
                                                                                                                <option>กรุงศรี</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <input type="text" class="form-control paymentNo" name="paymentNo" />
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <input type="text" class="form-control paymentDate" name="paymentDate" />
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <input type="text" class="form-control amount" name="amount" />
                                                                </div>
                                                            </div>-->
                            </div>
                            <div class="col-md-12 text-center" style="margin:5px;">
                                <button class="btn btn-primary" id="btn_save">บันทึกหลักค้ำประกัน</button>
                            </div>
                        </div>
                    </div><!-- guarantee -->
                    <div>
                        <section class="panel">
                            <!--                            <header class="panel-heading">
                                                            <div class="panel-actions">
                                                                <a href="#" class="fa fa-caret-down"></a>
                                                            </div>-->
                            <h2 class="panel-title">ข้อมูลการบันทึกหลักค้ำประกัน : <div id="grtListHead" style="display: inline-block;"></div></h2>
                            <!--                            </header>-->

                            <div class="panel-body"><!-- show list item -->
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-condensed mb-none">
                                        <thead>
                                            <tr>
                                                <th class="text-center">ลำดับ</th>
                                                <th class="text-center">ประเภท</th>
                                                <th class="text-center">ธนาคาร</th>
                                                <th class="text-center">เลขที่</th>
                                                <th class="text-center">วันที่</th>
                                                <th class="text-center">จำนวนเงินค้ำประกัน (บาท)</th>
                                                <th class="text-center">หมายเหตุ</th>
                                                <th class="text-center">ลบ</th>
                                            </tr>
                                        </thead>
                                        <tbody class="grtListBody">
                                            <tr>
                                                <td colspan="8" class="text-center">-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"><!-- delete  form -->
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">ลบข้อมูล : หลักค้ำประกัน</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-condensed mb-none">
                                            <tbody>
                                                <tr>
                                                    <td>ชื่อผู้เสนอซื้อ</td><td class="text-left"><div id="bidderNameDel"></div></td>
                                                </tr>
                                                <tr>
                                                    <td>ประเภท</td><td class="text-left"><div id="paymentDel"></div></td>
                                                </tr>
                                                <tr>
                                                    <td>ธนาคาร</td><td class="text-left"><div id="bankDel"></div></td>
                                                </tr>
                                                <tr>
                                                    <td>เลขที่</td><td class="text-left"><div id="paymentNoDel"></div></td>
                                                </tr>
                                                <tr>
                                                    <td>วันที่</td><td class="text-left"><div id="dateDel"></div></td>
                                                </tr>
                                                <tr>
                                                    <td>จำนวนเงิน</td><td class="text-left"><div id="amountDel"></div></td>
                                                </tr>
                                                <tr>
                                                    <td>หมายเหตุ</td><td class="text-left"><div id="remarkDel"></div></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                                    <button type="button" id="confirmDelete" class="btn btn-primary" data-dismiss="modal">ยืนยันการลบ</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="changeReserved" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"><!-- delete  form -->
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">ยืนยัน : <span id="headerReserved"></span></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped table-condensed mb-none">
                                            <tbody>
                                                <tr>
                                                    <td>ชื่อผู้เสนอซื้อ</td><td class="text-left"><div id="bidderNameRes"></div></td>
                                                </tr>
                                                <tr>
                                                    <td>คลังสินค้า</td><td class="text-left"><div id="siloRes"></div></td>
                                                </tr>
                                                <tr>
                                                    <td>มูลค่าขั้นต่ำ (บาท)</td><td class="text-left"><div id="rfvRes"></div></td>
                                                </tr>
                                                <tr>
                                                    <td>มูลค่าเสนอซื้อ (บาท)</td><td class="text-left"><div id="auctionPriceRes"></div></td>
                                                </tr>
                                                <tr>
                                                    <td>จำนวนเงินค้ำประกัน (บาท)</td><td class="text-left"><div id="guaranteePriceRes"></div></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
                                    <button type="button" id="confirmChange" class="btn btn-primary" data-dismiss="modal">ยืนยัน</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form><!-- bidder guarantee form -->
            </div><!-- col-md-9 -->
        </div><!--  row  -->
    </div><!--  container  -->
</div><!-- main -->
{{>footer}}

<script type="text/javascript">
    var listArr = [];
    var allSilo = [];
    var grtArr = [];

    var globalRFV = 0;
    var globalPrice = 0;
    var globalGrt = 0;
    var globalAmount = 0;
    $(function () {
        showBidderPayment();

        $("#searchQueue").select2();
        $("#bidderHistoryId").select2();

        $("button.checkList").click(function () {
            if ($("#bidderHistoryId").val() != "") {
                //alert($("#bidderHistoryId").find('option:selected').attr("data-queue"));
                //window.open("/reporter/api/rice/report/export?reportcode=RPT02_08&auccode=AU5/2558&export=view&p_1="+$("#bidderHistoryId").find('option:selected').attr("data-queue"), "_blank");
                // window.open("/reporter/api/rice/report/checklist?auccode=AU5/2558&bidderqueue="+$("#bidderHistoryId").find('option:selected').attr("data-queue")+"&export=view", "_blank");
                var dataHistory = {};
                dataHistory["queue"] = $("#bidderHistoryId").find('option:selected').attr("data-queue");

                var fdata = {};
                fdata["report"] = dataHistory;
                var dataJSON = JSON.stringify({report: fdata["report"]});
                var dataJSONEN = encodeURIComponent(dataJSON);

                var datas = callAjax("{{_context_path}}/api/report/report/payment", "post", dataJSONEN, "json");
                if (typeof datas !== 'undefined' && datas !== null) {
                    var win = window.open(datas["export"], '_blank');
                    win.focus();
                }
            }
        });

        $("button.table").click(function () {
            toggleShow("list");
        });

        $("#bidderHistoryId").html(listBidder()).change(function () {
            $("#divAddGrt").hide();
            $(".itemListHead").html($("#bidderHistoryId option:selected").text());
            if (getTag($("#bidderHistoryId").val()) != "") {
                showBidderItem();
                showBidderGrt();
            }
        });

        $('#txtCountGrt').numeric({
            decimal: false,
            negative: false
        });

        $('#btnAddGrt').click(function () {
            var bidderHistoryId = $("#bidderHistoryId").val();
            var countGrt = $('#txtCountGrt').val();
            var html = "";
            if (countGrt > 0) {
                $("#divAddGrt").show();
                $('#form_grt').html(listsPayment(bidderHistoryId, countGrt));
                $('.paymentDate').datepicker({
                    format: "dd-mm-yyyy",
                    autoclose: true
                });
                $('.amount').numeric({
                    negative: false,
                    decimalPlaces: 4
                });

                $(".amount").keyup(function () {
                    var row = $(this).attr("row-index"); //ReplaceNumberWithCommas
                    $("#showAmount" + row).text(ReplaceNumberWithCommas($(this).val()));
                });
                listsBank();
                $('.bankId').select2();
                $('.listsPayment').select2();

            } else {
                $("#txtCountGrt").focus();
            }
        });
        function isValidDate(dateString) {
            var regEx = /^\d{4}-\d{2}-\d{2}$/;
            return dateString.match(regEx) != null;
        }
        $("#btn_save").click(function () {
            var countGrt = $('#txtCountGrt').val();
            $('.paymentDate').each(function () {
                if (isValidDate(this.value) == false) {
                    var dateAr = this.value.split('-');
                    this.value = dateAr[2] + '-' + dateAr[1] + '-' + dateAr[0];
                }
            });
            $("#form_grt").attr("data-size", countGrt);
            sendData("form_grt", function (msg) {
                if (msg.save == true) {
                    showBidderGrt();
                    $("#form_grt").empty();
                    $("#txtCountGrt").val("1");
                    $("#divAddGrt").hide();
                } else {
                    alert("บันทึกไม่สำเร็จ");
                    showBidderGrt();
                }
            });
        });
    });

    function showBidderPayment() {
        var dataSet = [];
        var searchQueue = {};
        var datas = callAjax("{{_context_path}}/api/auction/bidderPayment/listsPayment", "post", {}, "json");
        if (typeof datas !== 'undefined' && datas !== null) {
            $.each(datas["lists"], function (key, value) {
                dataSet.push(value);

                searchQueue[value["queue"]] = value["queue"];
            });

            $("#searchQueue").empty();
            $("#searchQueue").append('<option value="" selected="selected">ทั้งหมด</option>');
            $.each(searchQueue, function (key, value) {
                $("#searchQueue").append('<option value="' + value + '">' + value + '</option>');
            });
        }

        var t = $("#table").DataTable({
            "destroy": true,
            "data": dataSet,
            "order": [[0, 'asc']],
            "iDisplayLength": 50,
            "columnDefs": [
                {
                    "targets": 0,
                    "data": "queue",
                    "sClass": "text-center"
                },
                {
                    "targets": 1,
                    "data": "bidderName"
                },
                {
                    "targets": 2,
                    "data": "countSilo",
                    "sClass": "text-center"
                },
                {
                    "targets": 3,
                    "data": "auctionPrice",
                    "sClass": "text-center",
                    "render": function (data) {
                        var content = accounting.formatNumber(data, 2, ",", ".");
                        return content;
                    }
                },
                {
                    "targets": 4,
                    "data": "guaranteePrice",
                    "sClass": "text-center",
                    "render": function (data) {
                        var content = '<span class="text-bold text-tertiary">' + accounting.formatNumber(data, 2, ",", ".") + '</span>';
                        return content;
                    }
                },
                {
                    "targets": 5,
                    "data": "amount",
                    "sClass": "text-center",
                    "render": function (data) {
                        var content = '<span class="text-bold">' + accounting.formatNumber(data, 2, ",", ".") + '</span>';
                        return content;
                    }
                },
                {
                    "targets": 6,
                    "data": "bidderHistoryId",
                    "sClass": "text-center",
                    "render": function (data, type, full) {
                        var content = '<label class="text-success"><i class="fa fa-check"></i> ผ่าน</label>';

                        if (parseFloat(full["amount"]) < parseInt(full["guaranteePrice"]) || full["amount"] === null) {
                            content = '<label class="text-danger"><i class="fa fa-times"></i> ไม่ผ่าน</label>';
                        }
                        return content;
                    }
                },
                {
                    "targets": 7,
                    "orderable": false,
                    "data": "bidderHistoryId",
                    "sClass": "text-center",
                    "render": function (data) {
                        var content = '<button class="btn btn-primary edit" data-hid="' + data + '"><i class="fa fa-list"></i></button>';
                        return content;
                    }
                }
            ]
        });

        /*t.on( 'order.dt search.dt', function () {
         t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
         cell.innerHTML = i+1;
         } );
         } ).draw();*/

        $('#searchQueue').change(function () {
            if ($('#searchQueue').val() != "") {
                t.columns(0).search("^" + $(this).val() + "$", true, false, true).draw();
            }
            else {
                t.columns(0).search($(this).val()).draw();
            }
        });

        $("#table").off("click", "button.edit").on("click", "button.edit", function () {
            toggleShow("form");

            var hid = $(this).attr("data-hid");
            $("#bidderHistoryId").val(hid).trigger("change");
        });
    }

    function showBidderItem() {
        var dataHistory = {};
        dataHistory["id"] = $("#bidderHistoryId").val();

        var fdata = {};
        fdata["BidderHistory"] = dataHistory;

        var dataJSON = JSON.stringify({bidderHistory: fdata["BidderHistory"]});
        var dataJSONEN = encodeURIComponent(dataJSON);

        listArr = [];
        allSilo = [];
        var datas = callAjax("{{_context_path}}/api/auction/bidderPayment/listsItemPrice", "post", dataJSONEN, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            var html = '';
            var totalPrice = 0, totalGrt = 0, totalRFV = 0;
            for (var i = 0; i < datas["bidderItem"].length; i++) {
                var value = datas["bidderItem"][i];
                listArr[value["id"]] = value;
                allSilo[i] = value["silo"] + ' [' + value["province"] + '] [' + value["associate"] + ']';

                if (value["isReserved"] == "Y") {
                    totalRFV += parseFloat(value["rfv"]);
                    totalPrice += parseFloat(value["auctionPrice"]);
                    totalGrt += parseFloat(value["auctionPrice"] * 0.02);
                }

                var checked = "";
                var dismiss = "text-dismiss";
                if (value["isReserved"] == "Y") {
                    checked = "checked";
                    dismiss = "";
                }

                html += '<tr>'
                        + '<td class="text-center">' + (i + 1) + '</td>'
                        + '<td class="text-left ' + dismiss + '">' + value["silo"] + ' [' + value["province"] + '] [' + value["associate"] + ']</td>'
                        + '<td class="text-center ' + dismiss + '">' + accounting.formatNumber(value["rfv"], 0, ",", ".") + '</td>'
                        + '<td class="text-center text-bold ' + dismiss + '">' + accounting.formatNumber(value["auctionPrice"], 2, ",", ".") + '</td>'
                        + '<td class="text-center text-bold text-tertiary ' + dismiss + '">' + accounting.formatNumber(value["auctionPrice"] * 0.02, 2, ",", ".") + '</td>'
                        + '<td class="text-center">'
                        + '<label class="switch switch-green">'
                        + '<input class="switch-input" type="checkbox" data-item="' + value["id"] + '" onclick="return false" ' + checked + '>'

                        + '<span class="switch-label" data-on="ผ่าน" data-off="ไม่ผ่าน"></span>'
                        + '<span class="switch-handle"></span>'
                        + '</label>'
                        + '</tr>';

                if (i == datas["bidderItem"].length - 1) {
                    html += '<tr>'
                            + '<td colspan="2" class="text-center">รวม</td>'
                            + '<td class="text-center"><div id="totalRFV" style="font-weight: bold;">' + accounting.formatNumber(totalRFV, 2, ",", ".") + '</div></td>'
                            + '<td class="text-center"><div id="totalPrice" style="font-weight: bold;">' + accounting.formatNumber(totalPrice, 2, ",", ".") + '</div></td>'
                            + '<td class="text-center"><div id="totalGrt" class="text-bold text-tertiary">' + accounting.formatNumber(totalGrt, 2, ",", ".") + '</div></td>'
                            + '</tr>'
                            + '<tr>'
                            + '<td colspan="4" class="text-center">มูลค่าหลักค้ำประกัน</td>'
                            + '<td class="text-center"><div id="totalPayment" class="text-bold">-</div></td>'
                            + '</tr>'
                            + '<tr>'
                            + '<td colspan="4" class="text-center">ผลต่าง</td>'
                            + '<td class="text-center"><div id="diffPayment" style="font-weight: bold;">-</div></td>'
                            + '</tr>';
                }
            }
            globalRFV = totalRFV;
            globalPrice = totalPrice;
            globalGrt = totalGrt;
            $(".itemListBody").html(html);

            $(".switch-input").click(function (event) {
                $("#changeReserved").modal("show");

                var check = $(this);
                var itemId = $(this).attr("data-item");
                var isReserved = "";
                var value = listArr[itemId];

                //toggle "no check" to "check"
                if ($(this).is(':checked')) {
                    $("#headerReserved").html("การจองคลังสินค้า");
                    isReserved = "Y";
                }
                else {
                    $("#headerReserved").html("การยกเลิกจองคลังสินค้า")
                    isReserved = "N";
                }

                $("#bidderNameRes").html($("#bidderHistoryId option:selected").text());
                $("#siloRes").html(value["silo"]);
                $("#rfvRes").html(accounting.formatNumber(value["rfv"], 2, ",", "."));
                $("#auctionPriceRes").html(accounting.formatNumber(value["auctionPrice"], 2, ",", "."));
                $("#guaranteePriceRes").html(accounting.formatNumber(value["auctionPrice"] * 0.02, 2, ",", "."));

                $("#confirmChange").unbind().click(function () {
                    var dataItem = {};
                    dataItem["id"] = itemId;
                    dataItem["isReserved"] = isReserved;

                    var fdata = {};
                    fdata["BidderItem"] = dataItem;

                    var dataJSON = JSON.stringify({bidderItem: fdata["BidderItem"]});
                    var dataJSONEN = encodeURIComponent(dataJSON);

                    var datas = callAjax("{{_context_path}}/api/auction/bidderPayment/changeReserved", "post", dataJSONEN, "json");
                    if (typeof datas !== undefined && datas !== null) {
                        if (datas["save"] == true) {

                            //IsReserved = 'N'
                            if (check.is(":checked")) {
                                check.prop("checked", false);

                                globalRFV -= parseFloat(value["rfv"]);
                                globalPrice -= parseFloat(value["auctionPrice"]);
                                globalGrt -= parseFloat(value["auctionPrice"] * 0.02);

                                check.closest('tr').children('td:eq(1), td:eq(2), td:eq(3), td:eq(4)').addClass("text-dismiss");

                            }
                            else {
                                check.prop("checked", true);

                                globalRFV += parseFloat(value["rfv"]);
                                globalPrice += parseFloat(value["auctionPrice"]);
                                globalGrt += parseFloat(value["auctionPrice"] * 0.02);

                                check.closest('tr').children('td:eq(1), td:eq(2), td:eq(3), td:eq(4)').removeClass("text-dismiss");
                            }
                            $("#totalRFV").html(accounting.formatNumber(globalRFV, 2, ",", "."));
                            $("#totalPrice").html(accounting.formatNumber(globalPrice, 2, ",", "."));
                            $("#totalGrt").html(accounting.formatNumber(globalGrt, 2, ",", "."));

                            calDiffPayment(globalGrt, globalAmount);
                        }
                    }
                });
            });
        }
    }

    function listBidder() {
        var html = '';

        var datas = callAjax("{{_context_path}}/api/auction/bidderInfo/listsPass", "post", {}, "json");
        if (typeof datas !== 'undefined' && datas !== null) {
            $.each(datas["lists"], function (key, value) {
                html += '<option value="' + value["bidderHistoryId"] + '" data-queue="' + value["queue"] + '">' + value["bidderName"] + '</option>';
            });
        }
        return html;
    }

    function listsBank() {
        var datas = callAjax("{{_context_path}}/api/auction/bidderPayment/listsBank", "post", {}, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            var listsBank = "";

            $.each(datas["lists"], function (key, value) {
                listsBank += "<option value='" + value["id"] + "'>" + value["bankTH"] + "</option>";
            });

            $(".bankId").html(listsBank);
        }
    }
    function listsPayment(bidderHistoryId, countGrt) {
        var html = "";
        for (var i = 0; i < countGrt; i++) {
            html += '<div class="col-md-12" style="margin:5px;">' +
                    '<div class="col-md-1 text-center">' +
                    '<strong>' + (i + 1) + '</strong>' +
                    '<input type="hidden" class="form-control paymentNo" name="bidderHistoryId" row-index=' + i + ' value=' + bidderHistoryId + ' />' +
                    '</div>' +
                    '<div class="col-md-2">' +
                    '<select class="form-control listsPayment" name="paymentId" row-index=' + i + '>' +
                    '<option value="1">สัญญาค้ำประกัน</option>' +
                    '<option value="2">ตั๋วแลกเงิน</option>' +
                    '<option value="3">เช็ค</option>' +
                    '</select>' +
                    '</div>' +
                    '<div class="col-md-3">' +
                    '<select class="form-control bankId" name="bankId" row-index=' + i + '>' +
                    '</select>' +
                    '</div>' +
                    '<div class="col-md-2">' +
                    '<input type="text" class="form-control paymentNo" name="paymentNo" row-index=' + i + ' />' +
                    '</div>' +
                    '<div class="col-md-2">' +
                    '<input type="text" class="form-control paymentDate" name="paymentDate" row-index=' + i + ' />' +
                    '</div>' +
                    '<div class="col-md-2">' +
                    '<input type="text" class="form-control amount" name="amount" row-index=' + i + ' />' +
                    '</div>' +
                    '</div>' +
                    '<div class="col-md-12" style="margin-top:10px">' +
                    '<div class="col-md-2 text-right">' +
                    '<h4>หมายเหตุ</h4>' +
                    '</div>' +
                    '<div class="col-md-8">' +
                    '<input type="text" class="form-control remark" name="remark" row-index=' + i + ' />' +
                    '</div>' +
                    '<div class="col-md-2">' +
                    '<h4 id="showAmount' + i + '" class="text-center"></h4>' +
                    '</div>' +
                    '</div>';
        }
        return html;
    }

    function toggleShow(option) {
        if (option == "form") {
            $("#bidderForm, #showTable").show();
            $("#bidderTable").hide();


            $("#loading").html("");
        }
        else if (option == "list") {
            $("#bidderTable").show();
            $("#bidderForm, #showTable").hide();
            showBidderPayment();
        }
    }

    function showBidderGrt() {
        grtArr = [];
        globalAmount = 0;

        var datas = callAjax("{{_context_path}}/api/auction/bidderPayment/listsBidderGrt", "post", {bidderHistoryId: $("#bidderHistoryId").val()}, "json");
        if (typeof datas !== 'undefined' && datas !== null) {
            var html = '';
            var totalAmount = 0;
            for (var i = 0; i < datas["lists"].length; i++) {
                var value = datas["lists"][i];
                grtArr[value["id"]] = value;
                if (value["remark"] == null || value["remark"] == "") {
                    value["remark"] = "-";
                }
                totalAmount += parseFloat(value["amount"]);
                html += '<tr>'
                        + '<td class="text-center">' + (i + 1) + '</td>'
                        + '<td class="text-center">' + value["payment"] + '</td>'
                        + '<td class="text-center">' + value["bankTH"] + '</td>'
                        + '<td class="text-center">' + value["paymentNo"] + '</td>'
                        + '<td class="text-center">' + value["paymentDate"]["date"].substr(0, 10) + '</td>'
                        + '<td class="text-center">' + accounting.formatNumber(value["amount"], 2, ",", ".") + '</td>'
                        + '<td class="text-center">' + value["remark"] + '</td>'
                        + '<td class="text-center"><button type="button" class="btn btn-default cancel" data-id=' + value["id"] + '><i class="fa fa-trash"></i></button></td>'
                        + '</tr>';

                if (i == datas["lists"].length - 1) {
                    html += '<tr>'
                            + '<td colspan="5" class="text-center">รวม</td>'
                            + '<td class="text-center"><strong>' + accounting.formatNumber(totalAmount, 2, ",", ".") + '</strong></td>'
                            + '<td colspan="2" class="text-center"></td>'
                            + '</tr>';
                }
            }
            globalAmount = totalAmount;
            $(".grtListBody").html(html);

            calDiffPayment(globalGrt, globalAmount);

            $(".cancel").click(function () {
                $("#delModal").modal("show");

                var i = $(this).attr("data-id");
                var data = grtArr[i];
                $("#bidderNameDel").html($("#bidderHistoryId option:selected").text());
                $("#paymentDel").html(data["payment"]);
                $("#bankDel").html(data["bankTH"]);
                $("#paymentNoDel").html(data["paymentNo"]);
                $("#dateDel").html(data["paymentDate"]["date"].substr(0, 10));
                $("#amountDel").html(accounting.formatNumber(data["amount"], 2, ",", ".") + " บาท");
                $("#remarkDel").html(data["remark"]);
                $("#confirmDelete").unbind().click(function () {
                    var dataJSON = JSON.stringify({paymentId: data["id"]});
                    var dataJSONEN = encodeURIComponent(dataJSON);
                    var datas = callAjax("{{_context_path}}/api/auction/bidderPayment/deletePayment", "post", dataJSONEN, "json");
                    if (typeof datas !== undefined && datas !== null) {
                        if (datas["delete"] == true) {
                            $("#bidderHistoryId").trigger("change");
                        }
                    }
                });
            });
        }
    }

    function calDiffPayment(allPay, amount) {
        $("#totalPayment").html(accounting.formatNumber(amount, 2, ",", "."));

        var diff = amount - allPay;
        $("#diffPayment").removeClass("text-success, text-danger");

        if (diff < 0)
            $("#diffPayment").addClass("text-danger");
        else
            $("#diffPayment").addClass("text-success");
        $("#diffPayment").html(accounting.formatNumber(diff, 2, ",", "."));
    }

    function ReplaceNumberWithCommas(yourNumber) {
        //Seperates the components of the number
        var n = yourNumber.toString().split(".");
        //Comma-fies the first part
        n[0] = n[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        //Combines the two sections
        return n.join(".");
    }

</script>

