{{>header}}
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">{{#i18n}}auction.home{{/i18n}}</a></li>
                        <li class="active">{{#i18n}}auction.menu{{/i18n}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding" id="header1">{{#i18n}}auction.close.title{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">



    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>สถานะ : <span id="txtStatus" class="text-primary">กำลังโหลด...</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <button class="btn btn-primary btn-lg" id="btnClose">{{#i18n}}auction.close{{/i18n}} {{#auction}}{{status}}{{/auction}}</button>
            </div>
        </div>
    </div><!--  container  -->
</div><!-- main -->
{{>footer}}
<script type="text/javascript">
    $(document).ready(function () {
        var check;
        init();
        function init() {
            $("#txtStatus").text("กำลังโหลด...").attr("class", "text-primary");
            setTimeout(function () {
                $.ajax({
                    async: true,
                    url: "{{_context_path}}/api/order/auction/check",
                    success: function (result) {
                        if (result["check"] == "open") {
                            check = true;
                            $("#txtStatus").text("เปิดการประมูล").attr("class", "text-success");
                        } else if (result["check"] == "close") {
                            check = false;
                            $("#txtStatus").text("ปิดการประมูล").attr("class", "text-danger");
                        }
                    }
                });
            }, 1000);

        }
        $("#btnClose").click(function () {
            if (check == true) {
                var cfm = $.confirm({
                    title: 'ยืนยันปิดการประมูล!',
                    content: "คุณมั่นใจที่จะปิดการประมูล?",
                    confirmButton: 'ตกลง',
                    cancelButton: 'ยกเลิก',
                    confirmButtonClass: 'btn-success',
                    cancelButtonClass: 'btn-warning',
                    theme: 'holodark',
                    columnClass: 'col-md-4 col-md-offset-4',
                    autoClose: 'cancel|11000',
                    confirm: function () {
                        $("#txtStatus").text("กำลังโหลด...").attr("class", "text-primary");
                        setTimeout(function () {
                            $.ajax({
                                url: "{{_context_path}}/api/order/auction/close",
                                async: true,
                                success: function (result) {
                                    cfm.close();
                                    if (result["close"] == true) {
                                        $.alert({
                                            title: 'เรียบร้อย!',
                                            content: 'ปิดการประมูลครั้งที่ {{#auction}}{{status}}{{/auction}} เรียบร้อย',
                                            confirmButton: "ตกลง",
                                            theme: 'supervan',
                                            columnClass: 'col-md-4 col-md-offset-4'
                                        });
                                        init();
                                    } else {
                                        console.log(result["msg"]);
                                    }
                                }
                            });
                        }, 1000);
                    }
                });
            } else {
                $.alert({
                    title: 'การประมูลถูกปิดแล้ว!',
                    content: 'การประมูลครั้งที่ {{#auction}}{{status}}{{/auction}} ถูกปิดแล้ว',
                    confirmButton: "ตกลง",
                    theme: 'supervan',
                    columnClass: 'col-md-4 col-md-offset-4'
                });
            }

        });

    });
</script>
