{{>header}}
<style>
    .row-tr,.pointer :hover{
        cursor: pointer;
    }
</style>
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{_context_path}}/api/root/view/index">{{#i18n}}system.home{{/i18n}}</a></li>
                        <li class="active">{{#i18n}}tracking.menu{{/i18n}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}tracking.sell.title{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="container">
        <div class="col-sm-12" style="margin-bottom:20px;">
            <label class="col-sm-2 control-label text-right">{{#i18n}}tracking.release{{/i18n}} :</label>
            <div class="col-sm-7">
                <select id="releaseKeyword" class="form-control"></select>
            </div>
            <div class="col-sm-3">
                <button id="show" class="btn btn-primary"><i class="fa fa-list"></i> {{#i18n}}tracking.buttonShow{{/i18n}}</button>
            </div>
        </div>

        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#waiting" data-toggle="tab">{{#i18n}}tracking.siloWaiting{{/i18n}}</a>
                </li>
                <li>
                    <a href="#sale" data-toggle="tab">{{#i18n}}tracking.siloSell{{/i18n}}</a>
                </li>
                <li>
                    <a href="#condition" data-toggle="tab">{{#i18n}}tracking.siloCondition{{/i18n}}</a>
                </li>
                <li>
                    <a href="#reserve" data-toggle="tab">{{#i18n}}tracking.siloProblem{{/i18n}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="waiting" class="tab-pane active">
                    <div class="row">
                        <div class='col-md-12'>

                            <div class='col-md-3 text-left'>
                                <h3>จำนวนที่เลือก <span id='countCheckbox'>0</span>/<span id='countAll'>0</span></h3>
                                <!--                    <h3>จำนวนทั้งหมด </h3>-->
                            </div>
                            <div class="col-md-2 text-right">
                                <select class="form-control" id="selectSale">
                                    <option value="">เลือก</option>
                                    <option value="Y">ขาย</option>
                                    <option value="C">ติดเงื่อนไข</option>
                                    <option value="R">สงวนสิทธิ์</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type='text' id='txtRemark' class="form-control" placeholder="หมายเหตุ" />
                            </div>
                            <div class="col-md-2 text-left">
                                <button id='btnSave' class="btn btn-primary"><i class="fa fa-save"></i> {{#i18n}}tracking.buttonSave{{/i18n}}</button>
                            </div>
                            <div class="col-md-2 text-right pointer">
                                <input type="checkbox" name="all" id="checkall" /> <label for="checkall">{{#i18n}}tracking.chooseAll{{/i18n}}</label>
                            </div>
                        </div>
                        <div id="bidderTable" class="col-md-12" style="margin-top:10px">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed mb-none">
                                    <thead>
                                    <tr>
                                        <th class="text-center">{{#i18n}}tracking.no{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.province{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.associate{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.silo{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.price{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.choose{{/i18n}}</th>
                                    </tr>
                                    </thead>
                                    <tbody id="allBody">
                                    <tr>
                                        <td colspan="6" class="text-center">-</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- col-md-12 -->
                    </div>
                </div>
                <div id="sale" class="tab-pane">
                    <div class="row">
                        <div id="saleTable" class="col-md-12" style="margin-top:10px">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed mb-none">
                                    <thead>
                                    <tr>
                                        <th class="text-center">{{#i18n}}tracking.no{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.province{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.associate{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.silo{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.price{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.choose{{/i18n}}</th>
                                    </tr>
                                    </thead>
                                    <tbody id="saleBody">
                                    <tr>
                                        <td colspan="6" class="text-center">-</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="condition" class="tab-pane">
                    <div class="row">
                        <div id="conditionTable" class="col-md-12" style="margin-top:10px">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed mb-none">
                                    <thead>
                                    <tr>
                                        <th class="text-center">{{#i18n}}tracking.no{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.province{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.associate{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.silo{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.choose{{/i18n}}</th>
                                    </tr>
                                    </thead>
                                    <tbody id="conditionBody">
                                    <tr>
                                        <td colspan="5" class="text-center">-</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="reserve" class="tab-pane">
                    <div class="row">
                        <div id="reserveTable" class="col-md-12" style="margin-top:10px">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed mb-none">
                                    <thead>
                                    <tr>
                                        <th class="text-center">{{#i18n}}tracking.no{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.province{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.associate{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.silo{{/i18n}}</th>
                                        <th class="text-center">{{#i18n}}tracking.choose{{/i18n}}</th>
                                    </tr>
                                    </thead>
                                    <tbody id="reserveBody">
                                    <tr>
                                        <td colspan="5" class="text-center">-</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--  row  -->
</div><!--  container  -->
<!--<div class="loading" style="display: none;">
    <img src="../../../asset/images/ajax-loader.gif" alt=""/>
</div>-->
{{>footer}}
<script type="text/javascript">
    var listsArr = {};
    var kwd = '';
    $(function(){
        listsRelease();
        $("#show").click(function () {
            kwd = $('#releaseKeyword').val();
            init();
        });

        $("#btnSave").click(function () {
            var select = $("#selectSale").val();
            if (select == "") {
                $.alert({
                    title: 'คำแนะนำ!',
                    content: 'กรุณาเลือกประเภทอนุมัติ!',
                    confirmButton: "ตกลง",
                    theme: 'black',
                    columnClass: 'col-md-4 col-md-offset-4',
                    confirm: function () {
                        $("#selectSale").focus();
                    }
                });
            } else {
                var remark = $("#txtRemark").val();
                if (remark == "" && select != "Y") {
                    $.alert({
                        title: 'คำแนะนำ!',
                        content: 'กรุณาใส่หมายเหตุ!',
                        confirmButton: "ตกลง",
                        theme: 'black',
                        columnClass: 'col-md-4 col-md-offset-4',
                        confirm: function () {
                            $("#txtRemark").focus();
                        }
                    });
                } else {
                    if (remark == "" && select == "Y") {
                        remark = "-";
                    }
                    var data = checkSelect();
                    if (data == "noCheckbox") {
                        $.alert({
                            title: 'คำแนะนำ!',
                            content: 'กรุณาเลือกคลัง!',
                            confirmButton: "ตกลง",
                            theme: 'black',
                            columnClass: 'col-md-4 col-md-offset-4'
                        });
                    } else {
                        var cfm = $.confirm({
                            title: 'ยืนยันการอนุมัติ!',
                            content: "คุณต้องการที่จะทำต่อ?",
                            confirmButton: 'ตกลง',
                            cancelButton: 'ยกเลิก',
                            confirmButtonClass: 'btn-success',
                            cancelButtonClass: 'btn-warning',
                            theme: 'holodark',
                            columnClass: 'col-md-4 col-md-offset-4',
                            autoClose: 'cancel|11000',
                            confirm: function () {
                                $("#saleBody").html("<tr><td colspan='6' class='text-center'>กำลังโหลดข้อมูล</td></tr>");
                                cfm.close();
                                setTimeout(function () {
                                    var msg = sendSale(data, select, remark);
                                    if (msg.update === true) {
                                        alert("บันทึกเรียบร้อย");
                                        init();
                                    }
                                }, 1000);

                            }
                        });
                    }
                }
            }
        });
    });

    function listsRelease() {
        var datas = callAjax("{{_context_path}}/api/tracking/approveSell/listsRelease", "post", {}, "json");
        var dataAuction = datas["lists"];
        if (dataAuction != null) {
            var html = '<option value="">เลือกรายการระบายข้าว</option>';
            $.each(dataAuction, function (key, value) {
                html += "<option value='" + value.keyword + "'>" + value.status + "</option>";
                //$("#countAll").text((key + 1));
            });
            $("#releaseKeyword").html(html);
        }
    }

    function init(){
        var datas = callAjax("{{_context_path}}/api/tracking/approveSell/listsSell", "post", {releaseKeyword: kwd}, "json");
        if(typeof datas !== "undefined" && datas !== null){
            var html1 = '', html2 = '', html3 = '', html4 = '';

            var count1 = 0, count2 = 0, count3 = 0, count4 = 0;
            $.each(datas["lists"], function (key, value) {
                listsArr[value.id] = value;

                if(value["isSale"] == null || value["isSale"] == "" || value["isSale"] == "N") {
                    html1 += '<tr row-index="'+value.id+'" class="row-tr">'
                            + '<td class="text-center">'+(++count1)+'</td>'
                            + '<td class="text-center">'+(value.province)+'</td>'
                            + '<td class="text-center">'+(value.associate)+'</td>'
                            + '<td class="text-center">'+(value.silo)+'</td>'
                            + '<td class="text-center">'
                                + '<input type="text" class="text-right cb-input" id="input-'+value.id+'" name="input-'+value.id+'" value="'+accounting.formatNumber(value.releasePrice, 2, ",", ".")+'">'
                            + '</td>'
                            + '<td class="text-center"><input type="checkbox" class="cb-element" name="check" value="'+value.id+'" /></td>'
                        + '</tr>';
                }
                else if(value["isSale"] == "Y") {
                    html2 += '<tr row-index="'+value.id+'" class="row-tr">'
                            + '<td class="text-center">'+(++count2)+'</td>'
                            + '<td class="text-center">'+(value.province)+'</td>'
                            + '<td class="text-center">'+(value.associate)+'</td>'
                            + '<td class="text-center">'+(value.silo)+'</td>'
                            + '<td class="text-center">'+accounting.formatNumber(value.releasePrice, 2, ",", ".")+'</td>'
                            + '<td class="text-center"><button class="btn btn-default delApprove"><i class="fa fa-trash"></i></button></td>'
                        + '</tr>';
                }

                else if(value["isSale"] == "C") {
                    html3 += '<tr row-index="'+value.id+'" class="row-tr">'
                            + '<td class="text-center">'+(++count3)+'</td>'
                            + '<td class="text-center">'+(value.province)+'</td>'
                            + '<td class="text-center">'+(value.associate)+'</td>'
                            + '<td class="text-center">'+(value.silo)+'</td>'
                            + '<td class="text-center"><button class="btn btn-default delApprove"><i class="fa fa-trash"></i></button></td>'
                        + '</tr>';
                }

                else if(value["isSale"] == "R") {
                    html4 += '<tr row-index="'+value.id+'" class="row-tr">'
                            + '<td class="text-center">'+(++count4)+'</td>'
                            + '<td class="text-center">'+(value.province)+'</td>'
                            + '<td class="text-center">'+(value.associate)+'</td>'
                            + '<td class="text-center">'+(value.silo)+'</td>'
                            + '<td class="text-center"><button class="btn btn-default delApprove"><i class="fa fa-trash"></i></button></td>'
                        + '</tr>';
                }

                $("#countAll").text(++key);
            });
        }
        if (html1 == "") html1 = "<tr><td colspan=6 class='text-center'>ไม่มีข้อมูล</td></tr>";
        if (html2 == "") html2 = "<tr><td colspan=6 class='text-center'>ไม่มีข้อมูล</td></tr>";
        if (html3 == "") html3 = "<tr><td colspan=5 class='text-center'>ไม่มีข้อมูล</td></tr>";
        if (html4 == "") html4 = "<tr><td colspan=5 class='text-center'>ไม่มีข้อมูล</td></tr>";

        $("#allBody").html(html1);
        $("#saleBody").html(html2);
        $("#conditionBody").html(html3);
        $("#reserveBody").html(html4);

        checkbox();

        $("#selectSale").change(function(){
            var val = $(this).val();
            if(val == "Y"){
                $(".cb-input").prop("disabled", false);
            }
            else{
                $(".cb-input").prop("disabled", true);
            }
        }).trigger("change");

        $("#btnSave").unbind().click(function () {
            var select = $("#selectSale").val();
            if (select == "") {
                $.alert({
                    title: 'คำแนะนำ!',
                    content: 'กรุณาเลือกประเภทอนุมัติ!',
                    confirmButton: "ตกลง",
                    theme: 'black',
                    columnClass: 'col-md-4 col-md-offset-4',
                    confirm: function () {
                        $("#selectSale").focus();
                    }
                });
            } else {
                var remark = $("#txtRemark").val();
                if (remark == "" && select != "Y") {
                    $.alert({
                        title: 'คำแนะนำ!',
                        content: 'กรุณาใส่หมายเหตุ!',
                        confirmButton: "ตกลง",
                        theme: 'black',
                        columnClass: 'col-md-4 col-md-offset-4',
                        confirm: function () {
                            $("#txtRemark").focus();
                        }
                    });
                } else {
                    if (remark == "" && select == "Y") {
                        remark = "-";
                    }
                    var data = checkSelect();
                    if (data == "noCheckbox") {
                        $.alert({
                            title: 'คำแนะนำ!',
                            content: 'กรุณาเลือกคลัง!',
                            confirmButton: "ตกลง",
                            theme: 'black',
                            columnClass: 'col-md-4 col-md-offset-4'
                        });
                    } else {
                        var cfm = $.confirm({
                            title: 'ยืนยันการอนุมัติ!',
                            content: "คุณต้องการที่จะทำต่อ?",
                            confirmButton: 'ตกลง',
                            cancelButton: 'ยกเลิก',
                            confirmButtonClass: 'btn-success',
                            cancelButtonClass: 'btn-warning',
                            theme: 'holodark',
                            columnClass: 'col-md-4 col-md-offset-4',
                            autoClose: 'cancel|11000',
                            confirm: function () {
                                $("#bidderBody").html("<tr><td colspan='9' class='text-center'>กำลังโหลดข้อมูล</td></tr>");
                                cfm.close();
                                var auccode = $('#auction').val();
                                setTimeout(function () {
                                    var msg = sendSale(data, select, remark,auccode);
                                    if (msg.update === true) {
                                        alert("บันทึกเรียบร้อย");
                                        init();
                                    }
                                }, 1000);

                            }
                        });
                    }
                }
            }
        });

        $('.delApprove').click(function () {
            var index = $(this).closest('tr').attr('row-index');

            var dataInfo = {};
            dataInfo["id"] = index;

            var dataJSON = JSON.stringify({releasePrice: dataInfo});
            var dataJSONEN = encodeURIComponent(dataJSON);

            var msg = callAjax("{{_context_path}}/api/tracking/approveSell/delete", "post", dataJSONEN, "json");
            if (msg["delete"] === true) {
                alert("ลบเรียบร้อย");
                init();
            }
        });
    }

    function checkbox() {
        $("#countCheckbox").text("0");
        $("#checkall").attr("checked", false);
        $('#checkall').click(function () {
            if (this.checked) {
                $('.cb-element').each(function () {
                    this.checked = true;
                });
            } else {
                $('.cb-element').each(function () {
                    this.checked = false;
                });
            }
        });

        $('input:checkbox').click(function () {
            var count = 0;
            $('.cb-element').each(function () {
                if (this.checked) {
                    count++;
                }
            });
            $("#countCheckbox").text(count);
        });

        $(".row-tr").click(function () {
            $(this).find(':checkbox').trigger("click");
        });
    }

    function checkSelect() {
        var i = 0;
        var dataApprove = [];
        $('.cb-element').each(function () {
            if (this.checked) {
                dataApprove[i++] = {
                    id: this.value,
                    warehouseCode: listsArr[this.value]["warehouseCode"],
                    releasePrice: $("#input-"+this.value).val()
                }
            }
        });
        if (dataApprove[0] == null) {
            return "noCheckbox";
        } else {
            return dataApprove;
        }

    }

    function sendSale(dataApprove, isSale, remark) {

        var dataJSON = JSON.stringify({data: dataApprove, isSale: isSale, remark: remark, statusKeyword: kwd});
        var dataJSONEN = encodeURIComponent(dataJSON);
        return callAjax("{{_context_path}}/api/tracking/approveSell/update", "post", dataJSONEN, "json");

    }

</script>



