{{>header}}
<style>
    .row-tr,.pointer :hover{
        cursor: pointer;
    }
</style>
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">{{#i18n}}tracking.home{{/i18n}}</a></li>
                        <li class="active">{{#i18n}}tracking.menu{{/i18n}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}tracking.auction.title{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">

    <div class="container">
        <div class="col-sm-12" style="margin-bottom:20px;">
            <label class="col-sm-2 control-label text-right">{{#i18n}}tracking.auctionNo{{/i18n}}</label>
            <div class="col-sm-7">
                <select id="auction" class="form-control">
                    <option value="0">เลือกทั้งหมด</option>
                </select>
            </div>
            <div class="col-sm-3">
                <button id="btn_date" class="btn btn-primary"><i class="fa fa-list"></i> {{#i18n}}tracking.buttonShow{{/i18n}}</button>
            </div>
        </div>

        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#waiting" data-toggle="tab">{{#i18n}}tracking.siloWaiting{{/i18n}}</a>
                </li>
                <li>
                    <a href="#sale" data-toggle="tab">{{#i18n}}tracking.siloSell{{/i18n}}</a>
                </li>
                <li>
                    <a href="#condition" data-toggle="tab">{{#i18n}}tracking.siloCondition{{/i18n}}</a>
                </li>
                <li>
                    <a href="#reserve" data-toggle="tab">{{#i18n}}tracking.siloProblem{{/i18n}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="waiting" class="tab-pane active">
                    <div class="row">
                        <div class='col-md-12'>

                            <div class='col-md-3 text-left'>
                                <h3>จำนวนที่เลือก <span id='countCheckbox'>0</span>/<span id='countAll'>0</span></h3>
                                <!--                    <h3>จำนวนทั้งหมด </h3>-->
                            </div>
                            <div class="col-md-2 text-right">
                                <select class="form-control" id="selectSale">
                                    <option value="">เลือก</option>
                                    <option value="Y">ขาย</option>
                                    <option value="C">ติดเงื่อนไข</option>
                                    <option value="R">สงวนสิทธิ์</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type='text' id='txtRemark' class="form-control" placeholder="หมายเหตุ" />
                            </div>
                            <div class="col-md-2 text-left">
                                <button id='btnSave' class="btn btn-primary"><i class="fa fa-save"></i> {{#i18n}}tracking.buttonSave{{/i18n}}</button>
                            </div>
                            <div class="col-md-2 text-right pointer">
                                <input type="checkbox" name="all" id="checkall" /> <label for="checkall">{{#i18n}}tracking.chooseAll{{/i18n}}</label>
                            </div>
                        </div>
                        <div id="bidderTable" class="col-md-12" style="margin-top:10px">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed mb-none">
                                    <thead>
                                        <tr>
                                            <th class="text-center">{{#i18n}}tracking.no{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.province{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.associate{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.silo{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.bidder{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.floorValue{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.bidderLastPrice{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.choose{{/i18n}}</th>
                                        </tr>
                                    </thead>
                                    <tbody id="bidderBody">
                                        <tr>
                                            <td colspan="8" class="text-center">-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- col-md-12 -->
                    </div>
                </div>
                <div id="sale" class="tab-pane">
                    <div class="row">
                        <div id="saleTable" class="col-md-12" style="margin-top:10px">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed mb-none">
                                    <thead>
                                        <tr>
                                            <th class="text-center">{{#i18n}}tracking.no{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.province{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.associate{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.silo{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.bidder{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.floorValue{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.bidderLastPrice{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.remark{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.action{{/i18n}}</th>
                                        </tr>
                                    </thead>
                                    <tbody id="saleBody">
                                        <tr>
                                            <td colspan="9" class="text-center">-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="condition" class="tab-pane">
                    <div class="row">
                        <div id="conditionTable" class="col-md-12" style="margin-top:10px">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed mb-none">
                                    <thead>
                                        <tr>
                                            <th class="text-center">{{#i18n}}tracking.no{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.province{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.associate{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.silo{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.bidder{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.floorValue{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.bidderLastPrice{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.remark{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.action{{/i18n}}</th>
                                        </tr>
                                    </thead>
                                    <tbody id="conditionBody">
                                        <tr>
                                            <td colspan="9" class="text-center">-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="reserve" class="tab-pane">
                    <div class="row">
                        <div id="reserveTable" class="col-md-12" style="margin-top:10px">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-condensed mb-none">
                                    <thead>
                                        <tr>
                                            <th class="text-center">{{#i18n}}tracking.no{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.province{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.associate{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.silo{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.bidder{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.floorValue{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.bidderLastPrice{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.remark{{/i18n}}</th>
                                            <th class="text-center">{{#i18n}}tracking.action{{/i18n}}</th>
                                        </tr>
                                    </thead>
                                    <tbody id="reserveBody">
                                        <tr>
                                            <td colspan="9" class="text-center">-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--  row  -->
</div><!--  container  -->
<!--<div class="loading" style="display: none;">
    <img src="../../../asset/images/ajax-loader.gif" alt=""/>
</div>-->
{{>footer}}
<script type="text/javascript">
    var datas, datasApprove;
    listsAuction();
    $("#btn_date").click(function () {
        var auccode = $('#auction').val();
        var status = callAjax("{{_context_path}}/api/tracking/approve/checkStatus", "post", {auccode: auccode}, "json");

        if (status["checkStatus"] == true) {
            init(auccode);
        } else {
            $.alert({
                title: 'คำแนะนำ!',
                content: 'กรุณาปิดการประมูลครั้งที่ ' + auccode.replace(/(AU)|(-I)/ig, "") + (auccode.search("-I") > -1 ? "(อุตฯ)" : "(ทั่วไป)") + ' ก่อนอนุมัติคลัง!',
                confirmButton: "ตกลง",
                theme: 'black',
                columnClass: 'col-md-4 col-md-offset-4',
                confirm: function () {
                    if (auccode.search("-I") > -1) {
                        location.href = "{{_context_path}}/api/industry/view/closeAuction";
                    } else {
                        location.href = "{{_context_path}}/api/auction/view/closeAuction";
                    }
                }
            });
        }
    });
    function listsAuction() {
        var datas = callAjax("{{_context_path}}/api/tracking/return/listsAuction", "post", {}, "json");
        var dataAuction = datas["lists"];
        if (dataAuction != null) {
            var html = "";
            $.each(dataAuction, function (key, value) {
                html += "<option value='" + value.keyword + "'>ครั้งที่ " + value.status + "</option>";
                //$("#countAll").text((key + 1));
            });
            $("#auction").html(html);
        }
    }
    $("#btnSave").click(function () {
        var select = $("#selectSale").val();
        if (select == "") {
            $.alert({
                title: 'คำแนะนำ!',
                content: 'กรุณาเลือกประเภทอนุมัติ!',
                confirmButton: "ตกลง",
                theme: 'black',
                columnClass: 'col-md-4 col-md-offset-4',
                confirm: function () {
                    $("#selectSale").focus();
                }
            });
        } else {
            var remark = $("#txtRemark").val();
            if (remark == "" && select != "Y") {
                $.alert({
                    title: 'คำแนะนำ!',
                    content: 'กรุณาใส่หมายเหตุ!',
                    confirmButton: "ตกลง",
                    theme: 'black',
                    columnClass: 'col-md-4 col-md-offset-4',
                    confirm: function () {
                        $("#txtRemark").focus();
                    }
                });
            } else {
                if (remark == "" && select == "Y") {
                    remark = "-";
                }
                var data = checkSelect();
                if (data == "noCheckbox") {
                    $.alert({
                        title: 'คำแนะนำ!',
                        content: 'กรุณาเลือกคลัง!',
                        confirmButton: "ตกลง",
                        theme: 'black',
                        columnClass: 'col-md-4 col-md-offset-4'
                    });
                } else {
                    var cfm = $.confirm({
                        title: 'ยืนยันการอนุมัติ!',
                        content: "คุณต้องการที่จะทำต่อ?",
                        confirmButton: 'ตกลง',
                        cancelButton: 'ยกเลิก',
                        confirmButtonClass: 'btn-success',
                        cancelButtonClass: 'btn-warning',
                        theme: 'holodark',
                        columnClass: 'col-md-4 col-md-offset-4',
                        autoClose: 'cancel|11000',
                        confirm: function () {
                            $("#bidderBody").html("<tr><td colspan='9' class='text-center'>กำลังโหลดข้อมูล</td></tr>");
                            cfm.close();
                            var auccode = $('#auction').val();
                            setTimeout(function () {
                                var msg = sendSale(data, select, remark, auccode);
                                if (msg.update === true) {
                                    alert("บันทึกเรียบร้อย");
                                    init(auccode);
                                }
                            }, 1000);

                        }
                    });
                }
            }
        }
    });

    function init(auccode) {
        // alert("xxx");
        datas = null;
        datasApprove = null;
        $("#countAll").text("0");
        listBidder(auccode);
        checkbox();
        $("#txtRemark").val('');
        function listBidder(auccode) {

            datas = callAjax("{{_context_path}}/api/tracking/approve/listsBidder", "post", {auccode: auccode}, "json");
            datasApprove = callAjax("{{_context_path}}/api/tracking/approve/listsApprove", "post", {auccode: auccode}, "json");
            datas = datas["lists"];
            datasApprove = datasApprove["lists"];
            if (!$.isEmptyObject(datas)) {
                var html = "";
                $.each(datas, function (key, value) {
                    html += "<tr row-index='" + key + "' class='row-tr'>" +
                            "<td class='text-center'>" + (key + 1) + "</td>" +
                            "<td class='text-center'>" + (value.province) + "</td>" +
                            "<td class='text-center'>" + (value.associate) + "</td>" +
                            "<td class='text-center'>" + (value.wareHouseCode) + "</td>" +
                            // "<td class='text-center'>" + (value.bidderQueue) + "</td>" +
                            "<td class='text-center'>" + (value.bidderName) + "</td>" +
                            "<td class='text-center'>" + accounting.formatNumber(value.RFV2, 0, ",", ".") + "</td>" +
                            "<td class='text-center'>" + accounting.formatNumber(value.bidderLastPrice, 2, ",", ".") + "</td>" +
                            "<td class='text-center'><input type='checkbox' class='cb-element' name='check' value='" + key + "' /></td>" +
                            "</tr>";
                    $("#countAll").text((key + 1));
                });
                $("#bidderBody").html(html);
            } else {
                var html = "<tr><td colspan=8 class='text-center'>ไม่มีข้อมูล</td></tr>";
                $("#bidderBody").html(html);
            }
            if (datasApprove != null) {
                var html = [];
                var c1 = 0, c2 = 0, c3 = 0;
                $.each(datasApprove, function (key, value) {
                    if (value.remark == null) {
                        value.remark = "-";
                    }
                    if (value.isSale == "Y") {
                        c1++;
                        html[0] += "<tr row-index='" + key + "' class='row-tr'>" +
                                "<td class='text-center'>" + c1 + "</td>" +
                                "<td class='text-center'>" + (value.province) + "</td>" +
                                "<td class='text-center'>" + (value.associate) + "</td>" +
                                "<td class='text-center'>" + (value.wareHouseCode) + "</td>" +
                                // "<td class='text-center'>" + (value.bidderQueue) + "</td>" +
                                "<td class='text-center'>" + (value.bidderName) + "</td>" +
                                "<td class='text-center'>" + accounting.formatNumber(value.RFV2, 0, ",", ".") + "</td>" +
                                "<td class='text-center'>" + accounting.formatNumber(value.bidderLastPrice, 2, ",", ".") + "</td>" +
                                "<td class='text-center'>" + (value.remark) + "</td>" +
                                "<td class='text-center'><button class='btn btn-default delApprove'><i class='fa fa-trash'></i></button></td>" +
                                "</tr>";
                    } else if (value.isSale == "C") {
                        c2++;
                        html[1] += "<tr row-index='" + key + "' class='row-tr'>" +
                                "<td class='text-center'>" + c2 + "</td>" +
                                "<td class='text-center'>" + (value.province) + "</td>" +
                                "<td class='text-center'>" + (value.associate) + "</td>" +
                                "<td class='text-center'>" + (value.wareHouseCode) + "</td>" +
                                // "<td class='text-center'>" + (value.bidderQueue) + "</td>" +
                                "<td class='text-center'>" + (value.bidderName) + "</td>" +
                                "<td class='text-center'>" + accounting.formatNumber(value.RFV2, 0, ",", ".") + "</td>" +
                                "<td class='text-center'>" + accounting.formatNumber(value.bidderLastPrice, 2, ",", ".") + "</td>" +
                                "<td class='text-center'>" + (value.remark) + "</td>" +
                                "<td class='text-center'><button class='btn btn-default delApprove'><i class='fa fa-trash'></i></button></td>" +
                                "</tr>";
                    } else if (value.isSale == "R") {
                        c3++;
                        html[2] += "<tr row-index='" + key + "' class='row-tr'>" +
                                "<td class='text-center'>" + c3 + "</td>" +
                                "<td class='text-center'>" + (value.province) + "</td>" +
                                "<td class='text-center'>" + (value.associate) + "</td>" +
                                "<td class='text-center'>" + (value.wareHouseCode) + "</td>" +
                                // "<td class='text-center'>" + (value.bidderQueue) + "</td>" +
                                "<td class='text-center'>" + (value.bidderName) + "</td>" +
                                "<td class='text-center'>" + accounting.formatNumber(value.RFV2, 0, ",", ".") + "</td>" +
                                "<td class='text-center'>" + accounting.formatNumber(value.bidderLastPrice, 2, ",", ".") + "</td>" +
                                "<td class='text-center'>" + (value.remark) + "</td>" +
                                "<td class='text-center'><button class='btn btn-default delApprove'><i class='fa fa-trash'></i></button></td>" +
                                "</tr>";
                    }
                });
                for (var i = 0; i < 3; i++) {
                    if (typeof html[i] === "undefined") {
                        html[i] = '<tr><td colspan="10" class="text-center">ไม่มีข้อมูล</td></tr>';
                    }
                }
                $("#saleBody").html(html[0]);
                $("#conditionBody").html(html[1]);
                $("#reserveBody").html(html[2]);

                $('.delApprove').click(function () {
                    var index = $(this).closest('tr').attr('row-index');
                    var dataJSON = JSON.stringify({dataAuction: datasApprove[index]});
                    var dataJSONEN = encodeURIComponent(dataJSON);

                    var msg = callAjax("{{_context_path}}/api/tracking/approve/delete", "post", dataJSONEN, "json");
                    if (msg.delete === true) {
                        alert("ลบเรียบร้อย");
                        init(auccode);
                    }
                });
            }
        }
        function checkbox() {
            $("#countCheckbox").text("0");
            $("#checkall").attr("checked", false);
            $('#checkall').click(function () {
                if (this.checked) {
                    $('.cb-element').each(function () {
                        this.checked = true;
                    });
                } else {
                    $('.cb-element').each(function () {
                        this.checked = false;
                    });
                }
            });

            $('input:checkbox').click(function () {
                var count = 0;
                $('.cb-element').each(function () {
                    if (this.checked) {
                        count++;
                    }
                });
                $("#countCheckbox").text(count);
            });

            $(".row-tr").click(function () {
                $(this).find(':checkbox').trigger("click");
            });
        }
    }

    function checkSelect() {
        var i = 0;
        var dataApprove = [];
        $('.cb-element').each(function () {
            if (this.checked) {
                dataApprove[i++] = datas[this.value];
            }
        });
        if (dataApprove[0] == null) {
            return "noCheckbox";
        } else {
            return dataApprove;
        }

    }
    function sendSale(dataApprove, isSale, remark, auccode) {

        var dataJSON = JSON.stringify({data: dataApprove, isSale: isSale, remark: remark, auccode: auccode});
        var dataJSONEN = encodeURIComponent(dataJSON);
        return callAjax("{{_context_path}}/api/tracking/approve/update", "post", dataJSONEN, "json");

    }
</script>




