{{>header}}
<style>
    .row-tr,.pointer :hover{
        cursor: pointer;
    }
</style>
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{_context_path}}/api/root/view/index">{{#i18n}}system.home{{/i18n}}</a></li>
                        <li class="active">{{#i18n}}tracking.menu{{/i18n}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">{{#i18n}}tracking.forfeit.title{{/i18n}}</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">
    <div class="sort-source-wrapper">
        <div class="container">
            <ul class="nav nav-pills sort-source menu-top pull-right" data-sort-id="portfolio" data-option-key="filter">
                <li data-option-value=".websites" class="padding-left">
                    <button id="showTable" class="btn btn-primary table" style="display: none;"><i class="fa fa-list"></i> {{#i18n}}tracking.buttonInfoList{{/i18n}}</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class='col-md-12'>
                <div id="bidderTable" class="col-md-12" style="margin-top: 10px;">
                    <section class="panel form-wizard" id="w1"><!-- search -->
                        <div class="panel-body panel-body-nopadding">
                            <div class="col-md-12" style="margin: 20px 0px 20px 0px;">
                                <div class="col-sm-8" >
                                    <div class="col-sm-8">
                                        <label class="col-sm-5 control-label text-right">{{#i18n}}tracking.auctionNo{{/i18n}} :</label>
                                        <div class="col-sm-7">
                                            <select id="auction" class="form-control">
                                                <option value="0">เลือกทั้งหมด</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <button id="btn_date" class="btn btn-primary">{{#i18n}}tracking.buttonShow{{/i18n}}</button>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label class="col-md-4 control-label text-right" for="searchQueue">{{#i18n}}tracking.queue{{/i18n}} :</label>
                                    <div class="col-md-8">
                                        <select class="form-control input-sm" name="searchQueue" id="searchQueue" required>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><!-- end search -->

                    <div class="table-responsive col-md-12" style="margin-top: 20px;">
                        <table id="table" class="table table-bordered table-striped table-condensed mb-none">
                            <thead>
                                <tr>
                                    <th class="text-center col-md-2">{{#i18n}}tracking.queue{{/i18n}}</th>
                                    <th class="text-center col-md-7">{{#i18n}}tracking.bidder{{/i18n}}</th>
                                    <th class="text-center col-md-3">{{#i18n}}tracking.action{{/i18n}}</th>
                                </tr>
                            </thead>
                            <tbody id="bidderBody">
                                <tr>
                                    <td colspan="3" class="text-center">-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- col-md-12 -->
                <div id="paymentTable" class="col-md-12" style="display:none;margin-top: 10px;">
                    <div class="col-md-10">
                        <div class="col-md-12 table-responsive">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h2 class="panel-title">{{#i18n}}tracking.return.panelInfo{{/i18n}}</h2>
                                    <!--                                    <div style="float: right; margin-top: -25px;">
                                                                            <button class="btn btn-primary checkList"><i class="fa fa-print"></i> {{#i18n}}tracking.buttonReturn{{/i18n}}</button>
                                                                        </div>-->
                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered table-striped table-condensed mb-none">
                                        <thead>
                                            <tr>
                                                <th class="text-center col-md-2">{{#i18n}}tracking.queue{{/i18n}}</th>
                                                <th class="text-center col-md-8">{{#i18n}}tracking.bidder{{/i18n}}</th>
                                                <th class="text-center col-md-2">{{#i18n}}tracking.mobile{{/i18n}}</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bdBody">
                                            <tr>
                                                <td colspan="3" class="text-center">-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 table-responsive">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-actions">
                                        <a href="#" class="fa fa-caret-up"></a>
                                    </div>
                                    <h2 class="panel-title">{{#i18n}}tracking.return.panelHold{{/i18n}} <span class='countAll'>0</span> {{#i18n}}tracking.paymentUnit{{/i18n}}</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class='col-md-6'>
                                            <p>{{#i18n}}tracking.countChoose{{/i18n}} <span id='countCheckbox'>0</span>/<span class='countAll'>0</span></p>
                                        </div>
                                        <div class="col-md-6 text-right pointer">
                                            <input type="checkbox" name="all" id="checkall" /> <label for="checkall">{{#i18n}}tracking.chooseAll{{/i18n}}</label>
                                        </div>
                                    </div>
                                    <table id="pTable" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">{{#i18n}}tracking.no{{/i18n}}</th>
                                                <th class="text-center">{{#i18n}}tracking.typePayment{{/i18n}}</th>
                                                <th class="text-center">{{#i18n}}tracking.bank{{/i18n}}</th>
                                                <th class="text-center">{{#i18n}}tracking.bankDate{{/i18n}}</th>
                                                <th class="text-center">{{#i18n}}tracking.bankNo{{/i18n}}</th>
                                                <th class="text-center">{{#i18n}}tracking.bankAmount{{/i18n}} ({{#i18n}}tracking.bath{{/i18n}})</th>
                                                <th class="text-center">{{#i18n}}tracking.remark{{/i18n}}</th>
                                                <th class="text-center">{{#i18n}}tracking.status{{/i18n}}</th>
                                            </tr>
                                        </thead>
                                        <tbody id="paymentBody">
                                            <tr>
                                                <td colspan="8" class="text-center">-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--                                    <div class="col-md-12 text-center">
                                                                            <button id="btnSave" class="btn btn-primary"><i class="fa fa-save"></i> {{#i18n}}tracking.buttonSave{{/i18n}}</button>
                                                                        </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- col-md-12 -->
            </div><!-- col-md-9 -->
        </div><!--  row  -->
    </div><!--  container  -->
</div><!-- main -->
{{>footer}}
<script type="text/javascript">
    var listArr = [];

//    var sumNeedGrt = 0;
//    var sumPassGrt = 0;
    var sumPayment = 0;
//    var sumWareHouse = 0;
    var countCheck = 0;
    var dataPayment;
//    var sumReturn = 0;
//    var sumReturned = 0;
    $(function () {
        listsAuction();
        $("#btn_date").click(function () {
            var auccode = $('#auction').val();
            listBidder(auccode);
        });

        $("#searchQueue").select2();

        $("button.table").click(function () {
            toggleShow("list");
        });

    });

    function listsAuction() {
        var datas = callAjax("{{_context_path}}/api/tracking/forfeit/listsAuction", "post", {}, "json");
        var dataAuction = datas["lists"];
        if (dataAuction != null) {
            var html = "";
            $.each(dataAuction, function (key, value) {
                html += "<option value='" + value.keyword + "'>ครั้งที่ " + value.status + "</option>";
                //$(".countAll").text((key + 1));
            });
            $("#auction").html(html);
        }
    }
    function listBidder(auccode) {
        var dataSet = [];
        var searchQueue = {};
        var datas = callAjax("{{_context_path}}/api/tracking/forfeit/listsBidder", "post", {auccode: auccode}, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            $.each(datas["lists"], function (key, value) {
                listArr[value["bidderHistoryId"]] = value;
                dataSet.push(value);

                searchQueue[value["queue"]] = value["queue"];
            });

            $("#searchQueue").empty();
            $("#searchQueue").append('<option value="" selected="selected">ทั้งหมด</option>');
            $.each(searchQueue, function (key, value) {
                $("#searchQueue").append('<option value="' + value + '">' + value + '</option>');
            });
        }

        var t = $("#table").DataTable({
            "destroy": true,
            "data": dataSet,
            "order": [[0, 'asc']],
            "iDisplayLength": 50,
            "columnDefs": [
                {
                    "targets": 0,
                    "data": "queue",
                    "sClass": "text-center col-md-2"
                },
                {
                    "targets": 1,
                    "data": "bidderName",
                    "sClass": "text-left col-md-8"
                },
                {
                    "targets": 2,
                    "orderable": false,
                    "data": "bidderHistoryId",
                    "sClass": "text-center col-md-2",
                    "render": function (data) {
                        var content = '<button class="btn btn-primary return" data-hid="' + data + '"><i class="fa fa-pencil"></i> ริบ</button>';
                        return content;
                    }
                }
            ]
        });

        $('#searchQueue').change(function () {
            if ($('#searchQueue').val() != "") {
                t.columns(0).search("^" + $(this).val() + "$", true, false, true).draw();
            }
            else {
                t.columns(0).search($(this).val()).draw();
            }
        });

        $("#table").off("click", "button.return").on("click", "button.return", function () {
            toggleShow("payment");

            var historyId = $(this).attr("data-hid");
            bindBidder(historyId);
            // listWarehouse(historyId);
            listPayment(historyId);
        });
    }

    function bindBidder(hId) {
        var value = listArr[hId];

        var html = '';
        html += '<tr>'
                + '<td class="text-center">' + value["queue"] + '</td>'
                + '<td class="text-center">' + value["bidderName"] + '</td>'
                + '<td class="text-center">' + value["mobile"] + '</td>'
                + '</tr>';

        $("#bdBody").html(html);

//        $("button.checkList").unbind().click(function () {
//            var dataHistory = {};
//            var auccode = $('#auction').val();
//            dataHistory["queue"] = value["queue"];
//            dataHistory["auccode"] = auccode;
//            var fdata = {};
//            fdata["report"] = dataHistory;
//            var dataJSON = JSON.stringify({report: fdata["report"]});
//            var dataJSONEN = encodeURIComponent(dataJSON);
//
//            var datas = callAjax("{{_context_path}}/api/report/report/trackingPayment", "post", dataJSONEN, "json");
//            if (typeof datas !== 'undefined' && datas !== null) {
//                var win = window.open(datas["export"], '_blank');
//                win.focus();
//            }
//        });
    }

    function listPayment(hId) {
        var datas = callAjax("{{_context_path}}/api/tracking/forfeit/listsPayment", "post", {bidderHistoryId: hId}, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            var paymentHTML = "";
            // var returnHTML = "";
            var countPayment = 1;
            var countReturn = 1;

            sumPayment = 0;
//            sumReturned = 0;
//            sumReturn = 0;
            countCheck = 0;
            dataPayment = datas["lists"];
            $.each(datas["lists"], function (key, value) {
                if (value.remark == null || value.remark == "") {
                    value.remark = "-";
                }
                if (value.isReturn == null || value.isReturn == "N") {
                    paymentHTML += '<tr row-index="' + key + '" class="row-tr">'
                            + '<td class="text-center">' + countPayment++ + '</td>'
                            + '<td class="text-center">' + (value.payment) + '</td>'
                            + '<td class="text-center">' + (value.bankTH) + '</td>'
                            + '<td class="text-center">' + (value.paymentDate["date"].substr(0, 10)) + '</td>'
                            + '<td class="text-center">' + (value.paymentNo) + '</td>'
                            + '<td class="text-center">' + accounting.formatNumber(value.amount, 2, ",", ".") + '</td>'
                            + "<td class='text-center'></td>" +
                            +'<td class="text-center">' + (value.remark) + '</td>'
                            + '<td class="text-center text-bold">'
                            + '<label class="switch switch-green">'
                            + '<input class="switch-input" type="checkbox" onclick="return false" value="' + value.amount + '">'
                            + '<span class="switch-label" data-on="ริบ" data-off="ไม่ริบ"></span>'
                            + '<span class="switch-handle"></span>'
                            + '</label>'
                            + '</td>'
                            + '</tr>';
                    sumPayment += parseFloat(value.amount);
                } else if (value.isReturn == "F") {
                    countCheck++;
                    paymentHTML += '<tr row-index="' + key + '" class="row-tr">'
                            + '<td class="text-center">' + countPayment++ + '</td>'
                            + '<td class="text-center">' + (value.payment) + '</td>'
                            + '<td class="text-center">' + (value.bankTH) + '</td>'
                            + '<td class="text-center">' + (value.paymentDate["date"].substr(0, 10)) + '</td>'
                            + '<td class="text-center">' + (value.paymentNo) + '</td>'
                            + '<td class="text-center">' + accounting.formatNumber(value.amount, 2, ",", ".") + '</td>'
                            + "<td class='text-center'></td>" +
                            +'<td class="text-center">' + (value.remark) + '</td>'
                            + '<td class="text-center text-bold">'
                            + '<label class="switch switch-green">'
                            + '<input class="switch-input" type="checkbox" checked="checked" onclick="return false" value="' + value.amount + '">'
                            + '<span class="switch-label" data-on="ริบ" data-off="ไม่ริบ"></span>'
                            + '<span class="switch-handle"></span>'
                            + '</label>'
                            + '</td>'
                            + '</tr>';
                    sumPayment += parseFloat(value.amount);
                }


            });
            paymentHTML += '<tr>'
                    + '<td colspan="5" class="text-center">รวมจำนวนหลักค้ำประกันที่ยังไม่คืน</td>'
                    + '<td class="text-center text-bold">' + accounting.formatNumber(sumPayment, 2, ",", ".") + '</td>'
                    + '<td colspan="2"></td>'
                    + '</tr>';

            $("#paymentBody").html(paymentHTML);
            $("#countReturn").text(--countReturn);
            $(".countAll").text(--countPayment);
            $("#countCheckbox").html(countCheck);

            $("input.switch-input").click(function (event) {
                event.stopPropagation();
            });
            var d = new Date();
            var month = d.getMonth() + 1;
            var day = d.getDate();
            var date = d.getFullYear() + '-' + (month < 10 ? '0' : '') + month + '-' + (day < 10 ? '0' : '') + day;

            $(".row-tr").unbind().click(function (event) {
                var row = $(this).attr("row-index");
                var dataSend = [];
                var data = {};
                //console.log(dataPayment[row]);
                var input = $(this).find("td label input.switch-input");
                data["id"] = dataPayment[row]["id"];
                data["dateReturn"] = date;
                if (!input.is(":checked")) {
                    countCheck++;
                    input.prop("checked", true);
                    dataPayment[row]["isReturn"] = "F";
                    data["isReturn"] = "F";
                } else {
                    input.prop("checked", false);
                    countCheck--;
                    dataPayment[row]["isReturn"] = "N";
                    data["isReturn"] = "N";
                }
                $("#countCheckbox").html(countCheck);
                dataSend.push(data);
                update(dataSend);
            });

            //    $("#checkall").prop("checked", false);
            $("#checkall").unbind().click(function () {
                var row = 0;
                var dataSend = [];
                if ($("#checkall").is(":checked")) {
                    $(".switch-input").each(function () {
                        var data = {};
                        row = $(this).closest("tr").attr("row-index");
                        // console.log(row);
                        if (!this.checked) {
                            $(this).prop("checked", true);
                            countCheck++;
                            dataPayment[row]["isReturn"] = "F";
                            data["id"] = dataPayment[row]["id"];
                            data["isReturn"] = "F";
                            data["dateReturn"] = date;
                            dataSend.push(data);
                        }
                    });
                } else {
                    $(".switch-input").each(function () {
                        var data = {};
                        row = $(this).closest("tr").attr("row-index");
                        // console.log(row);
                        if (this.checked) {
                            $(this).prop("checked", false);
                            countCheck--;
                            dataPayment[row]["isReturn"] = "N";
                            data["id"] = dataPayment[row]["id"];
                            data["isReturn"] = "N";
                            data["dateReturn"] = date;
                            dataSend.push(data);
                        }
                    });
                }
                $("#countCheckbox").html(countCheck);
                update(dataSend);
            });

        }
    }

    function update(dataSend) {
        var data = {};
        data["bidderPayment"] = dataSend;
        var dataJSON = JSON.stringify(data);
        var dataJSONEN = encodeURIComponent(dataJSON);
        var msg = callAjax("{{_context_path}}/api/tracking/forfeit/update", "post", dataJSONEN, "json");
        if (msg.update == true) {
            alert("บันทึกสำเร็จ");
        } else {
            alert("บันทึกไม่สำเร็จ");
        }
    }

    function toggleShow(option) {
        if (option == "payment") {
            $("#paymentTable, #showTable").show();
            $("#bidderTable").hide();
        }
        else if (option == "list") {
            $("#paymentTable, #showTable").hide();
            $("#bidderTable").show();
            var auccode = $('#auction').val();
            listBidder(auccode);
        }
    }
</script>