{{>header}}
<style>
    .row-tr,.pointer :hover{
        cursor: pointer;
    }
   
</style>
<div role="main" class="main">
    <section class="page-top none-margin">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="#">หน้าหลัก</a></li>
                        <li class="active">ติดตาม</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="none-padding">คืนหลักค้ำประกัน</h1>
                </div>
            </div>
        </div>
    </section>

    <hr class="tall dashboard">
    <div class="sort-source-wrapper">
        <div class="container">
            <ul class="nav nav-pills sort-source menu-top pull-right" data-sort-id="portfolio" data-option-key="filter">
                <li data-option-value=".websites" class="padding-left">
                    <button id="showTable" class="btn btn-primary table" style="display: none;">ข้อมูลคลังที่ชนะการประมูล</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class='col-md-12'>
                <div id="bidderTable" class="col-md-12" style="margin-top:10px" show="on">
                    <div class="table-responsive">
                        <div class="col-sm-12"  style="margin: 10px;">
                            <div class="col-sm-4">
                                <label class="col-sm-5 control-label">การประมูลครั้งที่</label>
                                <div class="col-sm-7">
                                    <select id="auction" class="form-control">
                                        <option value="0">เลือกทั้งหมด</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <input type="button" id="btn_date" class="btn btn-primary" value="เลือก" />
                            </div>
                        </div>
                        <table class="table table-bordered table-fixed">
                            <thead>
                                <tr>
                                    <th class="text-center col-md-2">ลำดับ</th>
                                    <th class="text-center col-md-2">คิวที่</th>
                                    <th class="text-center col-md-4">ผู้เสนอซื้อ</th>
                                    <th class="text-center col-md-4">เลือก</th>
                                </tr>
                            </thead>
                            <tbody id="bidderBody">
                                <tr>
                                    <td colspan="4" class="text-center">ไม่มีข้อมูล</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!-- col-md-12 -->
                <div id="paymentTable" class="col-md-12" style="display:none;margin-top:10px" show="off">
                    <div class="col-md-12 text-right">
                        <button onclick="swap()" class="btn btn-primary">ย้อนกลับ</button>
                    </div>
                    <div class="col-md-10">
                        <div class="col-md-12 table-responsive">
                            <div class="panel panel-default">
                                <div class="panel-heading">รายละเอียดผู้เสนอซื้อ
                                    <div style="float: right;"><button class="btn btn-primary checkList"><i class="fa fa-print"></i> ใบคืนหลักค้ำประกัน</button></div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered table-striped table-condensed mb-none">
                                        <thead>
                                            <tr>
                                                <th class="text-center">คิวที่</th>
                                                <th class="text-center">ผู้เสนอซื้อ</th>
                                                <th class="text-center">เบอร์ติดต่อ</th>
                                            </tr>
                                        </thead>
                                        <tbody id="bdBody">
                                            <tr>
                                                <td colspan="3" class="text-center">ไม่มีข้อมูล</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 table-responsive">
                            <div class="panel panel-default">
                                <div class="panel-heading">คลังที่ชนะการประมูล</div>
                                <div class="panel-body">
                                    <table class="table table-bordered table-striped table-condensed mb-none">
                                        <thead>
                                            <tr>
                                                <th class="text-center">ลำดับ</th>
                                                <th class="text-center">จังหวัด</th>
                                                <th class="text-center">หน่วยงาน</th>
                                                <th class="text-center">คลังสินค้า</th>
                                                <th class="text-center">น้ำหนักรวมกระสอบ (ตัน)</th>
                                                <th class="text-center">มูลค่าเสนอซื้อสุดท้าย</th>
                                                <th class="text-center">จำนวนหลักค้ำประกัน 2%</th>
                                                <th class="text-center" width="10%">สถานะ</th>
                                            </tr>
                                        </thead>
                                        <tbody id="whBody">
                                            <tr>
                                                <td colspan="8" class="text-center">กำลังโหลดข้อมูล</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-6 text-left'>
                            <p>จำนวนที่เลือก <span id='countCheckbox'>0</span>/<span id='countAll'>0</span></p>
                        </div>
                        <div class="col-md-6 text-right pointer">
                            <input type="checkbox" name="all" id="checkall" /> <label for="checkall">เลือกทั้งหมด</label>
                        </div>
                        <div class="col-md-12 table-responsive">
                            <div class="panel panel-default">
                                <div class="panel-heading">ข้อมูลหลักค้ำประกัน</div>
                                <div class="panel-body">
                                    <table class="table table-bordered table-striped table-condensed mb-none">
                                        <thead>
                                            <tr>
                                                <th class="text-center">ลำดับ</th>
                                                <th class="text-center">ประเภท</th>
                                                <th class="text-center">ธนาคาร</th>
                                                <th class="text-center">วันที่</th>
                                                <th class="text-center">เลขที่</th>
                                                <th class="text-center">จำนวน (บาท)</th>
                                                <th class="text-center">วันที่คืน</th>
                                                <th class="text-center">หมายเหตุ</th>
                                                <th class="text-center">คืน</th>
                                            </tr>
                                        </thead>
                                        <tbody id="paymentBody">
                                            <tr>
                                                <td colspan="7" class="text-center">กำลังโหลดข้อมูล</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="col-md-12">
                            <nav id="affix-nav" class="sidebar">
                                <ul class="nav sidenav" data-spy="affix" data-offset-top="0">
                                    <li>
                                        <h4 class="text-danger">คืนได้ไม่เกิน<br /><span id="txtReturn"></span> บาท</h4>
                                    </li>
                                    <li>
                                        <h4 class="text-success">ขอคืนจำนวน<br /><span id="txtSelect">0</span> บาท</h4>
                                    </li>
                                    <li>
                                        <h4 class="text-warning">คงเหลือจำนวน<br /><span id="txtBalance">0</span> บาท</h4>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button id="btnSave" class="btn btn-primary">บันทึก</button>
                    </div>
                </div><!-- col-md-12 -->
            </div><!-- col-md-9 -->
        </div><!--  row  -->
    </div><!--  container  -->
    {{>footer}}
    <script type="text/javascript">
        var sumGuarantee = 0;
        var sumNeedGrt = 0;
        var sumPayment = 0;
        var sumSelect = 0;
        var sumBalance = 0;
        var sumReturn = 0;
        var dataBidder, dataPayment, dataWarehouse;
        listsAuction();
        $("#btn_date").click(function () {
            var auccode = $('#auction').val();
            listBidder(auccode);
        });


        $("#btnSave").click(function () {
            var data = checkSelect();
            if (data == "noCheckbox") {
                $.alert({
                    title: 'คำแนะนำ!',
                    content: 'ไม่ได้เลือกหลักค้ำประกัน!',
                    confirmButton: "ตกลง",
                    theme: 'black',
                    columnClass: 'col-md-4 col-md-offset-4'
                });
            } else {
                var cfm = $.confirm({
                    title: 'ยืนยันการอนุมัติ!',
                    content: "คุณต้องการที่จะทำต่อ?",
                    confirmButton: 'ตกลง',
                    cancelButton: 'ยกเลิก',
                    confirmButtonClass: 'btn-success',
                    cancelButtonClass: 'btn-warning',
                    theme: 'holodark',
                    columnClass: 'col-md-4 col-md-offset-4',
                    autoClose: 'cancel|11000',
                    confirm: function () {
                        $("#bidderBody").html("<tr><td colspan='3' class='text-center'>กำลังโหลดข้อมูล</td></tr>");
                        cfm.close();
                        setTimeout(function () {
                            var jData = {};
                            jData["bidderPayment"] = checkSelect();
                            var dataJSON = JSON.stringify(jData);
                            var dataJSONEN = encodeURIComponent(dataJSON);
                            var msg = callAjax("{{_context_path}}/api/tracking/return/update", "post", dataJSONEN, "json");
                            if (msg.update === true) {
                                alert("บันทึกเรียบร้อย");
                                var auccode = $('#auction').val();
                                listBidder(auccode);
                                $(".checkList").focus();
                                listPayment(data[0]["bidderHistoryId"]);
                                //swap();
                                //listPayment();
                            } else {
                                alert("ERROR!!");
                            }
                        }, 1000);

                    }
                });

            }
        });

        function listsAuction() {
            var datas = callAjax("{{_context_path}}/api/tracking/return/listsAuction", "post", {}, "json");
            var dataAuction = datas["lists"];
            if (dataAuction != null) {
                var html = "";
                $.each(dataAuction, function (key, value) {
                    html += "<option value='" + value.keyword + "'>ครั้งที่ " + value.status + "</option>";
                    //$("#countAll").text((key + 1));
                });
                $("#auction").html(html);
            }
        }

        function swap() {
            var tb1 = $("#bidderTable").attr("show");
            var tb2 = $("#paymentTable").attr("show");
            if (tb1 == "on") {
                $("#bidderTable").attr("show", "off");
                $("#bidderTable").hide();
            } else if (tb1 == "off") {
                $("#bidderTable").attr("show", "on");
                $("#bidderTable").show();
            }
            if (tb2 == "on") {
                $("#paymentTable").attr("show", "off");
                $("#paymentTable").hide();
            } else if (tb2 == "off") {
                $("#paymentTable").attr("show", "on");
                $("#paymentTable").show();
            }
        }
        function checkbox() {
            $("#countCheckbox").text("0");
            $("#checkall").attr("checked", false);
            $('#checkall').click(function () {
                if (sumNeedGrt == 0) {
                    if (this.checked) {
                        $('.cb-element').each(function () {
                            this.checked = true;
                        });
                    } else {
                        $('.cb-element').each(function () {
                            this.checked = false;
                        });
                    }
                } else {
                    if (this.checked) {
                        alert("จำนวนหลักค้ำประกันไม่พอ");
                        $(this).prop("checked", false);
                    } else {
                        $('.cb-element').each(function () {
                            this.checked = false;
                        });
                    }
                }

            });

            $('input:checkbox').click(function () {
                var count = 0;
                sumSelect = sumReturn;
                //sumBalance = sumPayment - sumReturn;
                sumBalance = 0;
                $('.cb-element').each(function () {
                    if (this.checked) {
                        count++;
                        sumSelect += parseFloat($(this).val());
                    } else {
                        sumBalance += parseFloat($(this).val());
                    }
                });

                if (parseInt(sumBalance) < parseInt(sumNeedGrt)) {
                    alert("จำนวนหลักค้ำประกันไม่พอ");
                    $(this).prop("checked", false);
                    sumSelect -= parseFloat($(this).val());
                    count--;
                }
                $("#countCheckbox").text(count);
                $("#txtSelect").text(accounting.formatNumber(sumSelect, 2, ",", "."));
                $("#txtBalance").text(accounting.formatNumber(sumPayment - sumSelect, 2, ",", "."));
            });

            $(".row-tr").click(function () {
                $(this).find(':checkbox').trigger("click");
            });
        }
        function checkSelect() {
            var i = 0;
            var dataApprove = [];
            var d = new Date();
            var month = d.getMonth() + 1;
            var day = d.getDate();
            var date = d.getFullYear() + '-' + (month < 10 ? '0' : '') + month + '-' + (day < 10 ? '0' : '') + day;
            $('.cb-element').each(function () {
                if (this.checked) {
                    dataPayment[$(this).closest("tr").attr("row-index")]["isReturn"] = "Y";
                    dataPayment[$(this).closest("tr").attr("row-index")]["dateReturn"] = date;
                    dataApprove[i++] = dataPayment[$(this).closest("tr").attr("row-index")];
                }
//                else {
//                    dataPayment[$(this).closest("tr").attr("row-index")]["isReturn"] = "N";
//                    dataPayment[$(this).closest("tr").attr("row-index")]["dateReturn"] = "-";
//                }
//                  dataApprove[i++] = dataPayment[$(this).closest("tr").attr("row-index")];
            });

            if (dataApprove[0] == null) {
                return "noCheckbox";
            } else {
                return dataApprove;
            }

        }
        function listBidder(auccode) {
            var datas = callAjax("{{_context_path}}/api/tracking/return/listsBidder", "post", {auccode: auccode}, "json");
            dataBidder = datas["lists"];
            if (!$.isEmptyObject(dataBidder)) {
                var html = "";
                $.each(dataBidder, function (key, value) {
                    html += "<tr row-index='" + key + "' data-id='" + value.bidderId + "' data-hid='" + value.bidderHistoryId + "' class='row-tr'>" +
                            "<td class='text-center'>" + (key + 1) + "</td>" +
                            "<td class='text-center'>" + (value.queue) + "</td>" +
                            "<td class='text-center'>" + (value.bidderName) + "</td>" +
                            "<td class='text-center'><button class='btn btn-primary btnReturn'>คืนหลักค้ำประกัน</button></td>" +
                            "</tr>";
                    //$("#countAll").text((key + 1));
                });
                $("#bidderBody").html(html);
                $(".btnReturn").click(function () {
                    var bidderId = $(this).closest("tr").attr("data-id");
                    var bidderHistoryId = $(this).closest("tr").attr("data-hid");
                    var rowIndex = $(this).closest("tr").attr("row-index");
                    bindBidder(rowIndex);
                    listPayment(bidderHistoryId);
                    listWarehouse(bidderId);
                    $("#txtReturn").text(accounting.formatNumber(sumPayment - sumNeedGrt, 2, ",", "."));
                    swap();
                });
            } else {
                var html = "<tr><td colspan=4 class='text-center'>ไม่มีข้อมูล</td></tr>";
                $("#bidderBody").html(html);
            }
        }
        function bindBidder(rowIndex) {
            var html = "";
            html += "<tr>" +
                    "<td class='text-center'>" + dataBidder[rowIndex]["queue"] + "</td>" +
                    "<td class='text-center'>" + dataBidder[rowIndex]["bidderName"] + "</td>" +
                    "<td class='text-center'>" + dataBidder[rowIndex]["mobile"] + "</td>" +
                    "</tr>";
            $("#bdBody").html(html);

            $("button.checkList").unbind().click(function () {
                //alert(dataBidder[rowIndex]["queue"]);
                //window.open("/reporter/api/rice/report/export?reportcode=RPT02_08_01&auccode=AU5/2558&export=view&p_1="+dataBidder[rowIndex]["queue"], "_blank");
                var dataHistory = {};
                var auccode = $('#auction').val();
                dataHistory["queue"] = dataBidder[rowIndex]["queue"];
                dataHistory['auccode'] = auccode;
                var fdata = {};
                fdata["report"] = dataHistory;
                var dataJSON = JSON.stringify({report: fdata["report"]});
                var dataJSONEN = encodeURIComponent(dataJSON);

                var datas = callAjax("{{_context_path}}/api/report/report/trackingPayment", "post", dataJSONEN, "json");
                if (typeof datas !== 'undefined' && datas !== null) {
                    var win = window.open(datas["export"], '_blank');
                    win.focus();
                }
            });
        }
        function listPayment(bidderHistoryId) {
            var datas = callAjax("{{_context_path}}/api/tracking/return/listsPayment", "post", {bidderHistoryId: bidderHistoryId}, "json");
            dataPayment = datas["lists"];
            if (dataPayment != null) {
                var html = "";
                sumPayment = 0;
                sumReturn = 0;
                $.each(dataPayment, function (key, value) {
                    if (value.remark == null || value.remark == "") {
                        value.remark = "-";
                    }
                    if (value.isReturn == null || value.isReturn == "N") {
                        html += "<tr row-index='" + key + "' class='row-tr'>" +
                                "<td class='text-center'>" + (key + 1) + "</td>" +
                                "<td class='text-center'>" + (value.payment) + "</td>" +
                                "<td class='text-center'>" + (value.bankTH) + "</td>" +
                                "<td class='text-center'>" + (value.paymentDate["date"].substr(0, 10)) + "</td>" +
                                "<td class='text-center'>" + (value.paymentNo) + "</td>" +
                                "<td class='text-center'>" + accounting.formatNumber(value.amount, 2, ",", ".") + "</td>" +
                                "<td class='text-center'></td>" +
                                "<td class='text-center'>" + (value.remark) + "</td>" +
                                "<td class='text-center'><input type='checkbox' class='cb-element' name='check' value='" + value.amount + "' /></td>" +
                                "</tr>";

                    } else {
                        html += "<tr row-index='" + key + "' class='row-tr'>" +
                                "<td class='text-center'>" + (key + 1) + "</td>" +
                                "<td class='text-center'>" + (value.payment) + "</td>" +
                                "<td class='text-center'>" + (value.bankTH) + "</td>" +
                                "<td class='text-center'>" + (value.paymentDate["date"].substr(0, 10)) + "</td>" +
                                "<td class='text-center'>" + (value.paymentNo) + "</td>" +
                                "<td class='text-center'>" + accounting.formatNumber(value.amount, 2, ",", ".") + "</td>" +
                                "<td class='text-center'>" + (value.dateReturn["date"].substr(0, 10)) + "</td>" +
                                "<td class='text-center'>" + (value.remark) + "</td>" +
                                "<td class='text-center'>คืนแล้ว</td>" +
                                // "<td class='text-center'><input type='checkbox' class='cb-element' name='check' checked='checked' value='" + value.amount + "' /></td>" +
                                "</tr>";
                        sumReturn += value.amount;
                    }
                    sumPayment += parseFloat(value.amount);
                    $("#countAll").text((key + 1));
                });
                html += "<tr>" +
                        "<td colspan='5' class='text-center'>รวมจำนวนหลักค้ำประกัน</td>" +
                        "<td class='text-center'>" + accounting.formatNumber(sumPayment, 2, ",", ".") + "</td>" +
                        "<td colspan='2'></td>" +
                        "</tr>";
                $("#paymentBody").html(html);
                $("#txtBalance").text(accounting.formatNumber((sumPayment - sumReturn), 2, ",", "."));
                $("#txtSelect").text(accounting.formatNumber(sumReturn, 2, ",", "."));
                checkbox();
            }
        }
        function listWarehouse(bidderId) {
            var datas = callAjax("{{_context_path}}/api/tracking/return/listsWarehouse", "post", {bidderId: bidderId}, "json");
            dataWarehouse = datas["lists"];
            if (dataWarehouse != null) {
                var html = "";
                var sumBidderPrice = 0;
                var sumWeight = 0;
                sumGuarantee = 0;
                var sumPassWeight = 0;
                var sumPassGrt = 0;
                var sumPassPrice = 0;
                $.each(dataWarehouse, function (key, value) {

                    if (value.isSale == 'S' || value.isSale == 'C' || value.isSale == 'R') {
                        html += "<tr>" +
                                "<td class='text-center'>" + (key + 1) + "</td>" +
                                "<td class='text-center'>" + (value.province) + "</td>" +
                                "<td class='text-center'>" + (value.associate) + "</td>" +
                                "<td class='text-center'>" + (value.wareHouseCode) + "</td>" +
                                "<td class='text-center'>" + accounting.formatNumber(value.oweightAll, 6, ",", ".") + "</td>" +
                                "<td class='text-center'>" + accounting.formatNumber(value.bidderLastPrice, 2, ",", ".") + "</td>" +
                                "<td class='text-center'>" + accounting.formatNumber(value.guarantee, 2, ",", ".") + "</td>" +
                                "<td class='text-center text-success'>คืนได้</td>" +
                                "</tr>";
                        sumPassWeight += parseFloat(value.oweightAll);
                        sumPassPrice += parseFloat(value.bidderLastPrice);
                        sumPassGrt += parseFloat(value.guarantee);
                    } else {
                        html += "<tr>" +
                                "<td class='text-center'>" + (key + 1) + "</td>" +
                                "<td class='text-center'>" + (value.province) + "</td>" +
                                "<td class='text-center'>" + (value.associate) + "</td>" +
                                "<td class='text-center'>" + (value.wareHouseCode) + "</td>" +
                                "<td class='text-center'>" + accounting.formatNumber(value.oweightAll, 6, ",", ".") + "</td>" +
                                "<td class='text-center'>" + accounting.formatNumber(value.bidderLastPrice, 2, ",", ".") + "</td>" +
                                "<td class='text-center'>" + accounting.formatNumber(value.guarantee, 2, ",", ".") + "</td>" +
                                "<td class='text-center text-danger'>ยังคืนไม่ได้</td>" +
                                "</tr>";
                    }

                    sumBidderPrice += parseFloat(value.bidderLastPrice);
                    sumWeight += parseFloat(value.oweightAll);
                    sumGuarantee += parseFloat(value.guarantee);
                });
                sumNeedGrt = sumGuarantee - sumPassGrt;
                html += "<tr>" +
                        "<td colspan='4' class='text-center'>รวมจำนวนหลักค้ำประกัน</td>" +
                        "<td class='text-center text-bold'>" + accounting.formatNumber(sumWeight, 6, ",", ".") + "</td>" +
                        "<td class='text-center text-bold'>" + accounting.formatNumber(sumBidderPrice, 2, ",", ".") + "</td>" +
                        "<td class='text-center text-bold'>" + accounting.formatNumber(sumGuarantee, 2, ",", ".") + "</td>" +
                        "<td class='text-center'></td>" +
                        "</tr>" +
                        "<tr>" +
                        "<td colspan='4' class='text-center'>รวมจำนวนหลักค้ำประกันที่สามารถคืนได้</td>" +
                        "<td class='text-center text-success text-bold'>" + accounting.formatNumber(sumPassWeight, 6, ",", ".") + "</td>" +
                        "<td class='text-center text-success text-bold'>" + accounting.formatNumber(sumPassPrice, 2, ",", ".") + "</td>" +
                        "<td class='text-center text-success text-bold'>" + accounting.formatNumber(sumPassGrt, 2, ",", ".") + "</td>" +
                        "<td class='text-center'></td>" +
                        "</tr>" +
                        "<tr>" +
                        "<td colspan='4' class='text-center'>รวมจำนวนหลักค้ำประกันที่ไม่สามารถคืนได้</td>" +
                        "<td class='text-center text-danger text-bold'>" + accounting.formatNumber((sumWeight - sumPassWeight), 6, ",", ".") + "</td>" +
                        "<td class='text-center text-danger text-bold'>" + accounting.formatNumber((sumBidderPrice - sumPassPrice), 2, ",", ".") + "</td>" +
                        "<td class='text-center text-danger text-bold'>" + accounting.formatNumber(sumNeedGrt, 2, ",", ".") + "</td>" +
                        "<td class='text-center'></td>" +
                        "</tr>";
                $("#whBody").html(html);
            }
        }
    </script>

