{{>monitor/headerMonitor}}

<div class="main">

    <div class="col-md-logo-content m-t-2em" style="padding:0 3em;  width: 100%; margin-top: 5px;">
        <h1 class="word-rotator-title center">
            <img src="{{_context_path}}/images/logo-only.png" alt="" width="64"/>
            รายงานแสดงผู้ยื่นซองเสนอซื้อ ข้าวสารในสต๊อกของรัฐบาล <br> ครั้งที่ <span id="auction"></span>
        </h1>

        <p class="featured lead center">
            <span class="col-md-4">ผู้เสนอซื้อ: <span id="countAll" class="flash">-</span> ราย</span>
            <span class="col-md-4">ผู้ผ่านคุณสมบัติเบื้องต้น: <span id="countPass" class="flash">-</span> ราย</span>
            <span class="col-md-4">ผู้ยื่นซองเสนอซื้อ: <span id="countIn" class="flash">-</span> ราย</span>
        </p>
    </div>

    <div class="main-container">
        <div class="page-content page-thin" style="width: 100%; height: 100%; ">
            <div class="panel-content widget-maybe-head widget-stock stock2" style="" >
                <div class="tab_right">
                    <div class="tab-content" style="height: 100%; background-color: #FE9A2E; box-shadow: none; border: none;">

                        <div class="" style="width: 100%;  padding: 5px 0 10px 0;">

                            <div class="form-group">
                                <h4 class="col-md-2 center" style="color: #FFFFFF !important;">คิวที่</h4>
                                <h4 class="col-md-6 center" style="color: #FFFFFF !important;">ผู้เสนอซื้อ</h4>
                                <h4 class="col-md-2 center" style="color: #FFFFFF !important;">คุณสมบัติ</h4>
                                <h4 class="col-md-2 center" style="color: #FFFFFF !important;">ยื่นซองเสนอซื้อ</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-content widget-maybe-foot widget-stock stock2 slide_div" >
                <div class="tab_right">
                    <div class="tab-content" style=" background-color: transparent; box-shadow: none; border: none;">
                        <div style="width: 100%;padding: 0" id="monitorBody">
                        </div><!--      Vmr     -->
                    </div>
                </div>
            </div>

            <div id='social'>
                <span class="span_speed collapse">1x</span>
                <a class='skype down-speed' title='slow' href='javascript: void(0);'>
                    <i class="fa fa-angle-double-left"></i>
                </a>

                <a class='gplus up-speed' title='up' href='javascript: void(0);'>
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        showProperty();
        autoScroller('monitorBody', 1, 30);

        $("#social a").each(function () {
            var tipt = $(this).attr('title');
            $(this).attr('title', '');
            $(this).append('<span>');
            $(this).children('span').text(tipt);
            var spanWidth = $(this).children('span').width() + 20;
            var spanMarg = 0 - spanWidth / 2;
            $(this).children('span').css('width', spanWidth);
            $(this).children('span').css('margin-left', spanMarg);
            $(this).hover(
                    function () {
                        $(this).children('span').fadeIn();
                        //$('#social a').css('opacity','.1');
                        $(this).css('opacity', '1');
                    }, function () {
                $(this).children('span').fadeOut();
                $('#social a').css('opacity', '.1');
            }
            );
        });
    });

    function showProperty() {
        setTimeout(showProperty, 120000);
        var html = '<div class="col-md-12">'
                + '<div class="table-responsive">'
                + '<table class="table">'
                + '<tbody>';
        var countAll = 0;
        var countPass = 0;
        var countIn = 0;
        var auction = '';
        var datas = callAjax("{{_context_path}}/api/industry/bidderMonitor/listsProperty", "post", {}, "json");
        if (typeof datas !== "undefined" && datas !== null) {
            auction = datas["auction"]["status"];
            $.each(datas["lists"], function (key, value) {
                countAll++;
                var property = "";
                if (value["property"] == "Y") {
                    countPass++;
                    property = '<span class="text-success">ผ่าน</span>';
                }
                else {
                    property = '<span class="text-danger">ไม่ผ่าน</span>';
                }

                var checkIn = "";
                if (value["checkIn"] == "Y") {
                    countIn++;
                    checkIn = '<span class="text-success">ยื่นซอง</span>';
                }
                else {
                    checkIn = '<span class="text-danger">ไม่มายื่นซอง</span>';
                }

                var remark = function (remark) {
                    if (remark != null) {
                        return '<span class="text-danger"> (' + remark + ')</span>';
                    } else {
                        return '';
                    }
                };

                html += '<tr>'
                        + '<td class="col-md-2 center spacer"><h3 class="flash">' + value["queue"] + '<h3></td>'
                        + '<td class="col-md-6 spacer" ><h3 class="flash">' + value["bidderName"] + remark(value["remarkSpecial"]) + '</h3></td>'
                        + '<td class="col-md-2 center spacer"><h3>' + property + '</h3></td>'
                        + '<td class="col-md-2 center spacer"><h3>' + checkIn + '</h3></td>'
                        + '</td>';
            });
        }
        $("#auction").html(auction);
        $("#monitorBody").html(html);
        $("#countAll").html(countAll);
        $("#countPass").html(countPass);
        $("#countIn").html(countIn);
    }
</script>

</body>
</html>
